article a[href*='cprogramming.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/c.svg');
  mask-image: url('https://simpleicons.org/icons/c.svg');
}

article a[href*='csharp.net']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/csharp.svg');
  mask-image: url('https://simpleicons.org/icons/csharp.svg');
}

article a[href*='cplusplus.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/cplusplus.svg');
  mask-image: url('https://simpleicons.org/icons/cplusplus.svg');
}

article a[href*='cachethq.io']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/cachet.svg');
  mask-image: url('https://simpleicons.org/icons/cachet.svg');
}

article a[href*='cafepress.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/cafepress.svg');
  mask-image: url('https://simpleicons.org/icons/cafepress.svg');
}

article a[href*='caffeine.tv']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/caffeine.svg');
  mask-image: url('https://simpleicons.org/icons/caffeine.svg');
}

article a[href*='cairographics.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/cairographics.svg');
  mask-image: url('https://simpleicons.org/icons/cairographics.svg');
}

article a[href*='cairometro.gov.eg']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/cairometro.svg');
  mask-image: url('https://simpleicons.org/icons/cairometro.svg');
}

article a[href*='cakephp.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/cakephp.svg');
  mask-image: url('https://simpleicons.org/icons/cakephp.svg');
}

article a[href*='campaignmonitor.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/campaignmonitor.svg');
  mask-image: url('https://simpleicons.org/icons/campaignmonitor.svg');
}

article a[href*='canonical.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/canonical.svg');
  mask-image: url('https://simpleicons.org/icons/canonical.svg');
}

article a[href*='canva.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/canva.svg');
  mask-image: url('https://simpleicons.org/icons/canva.svg');
}

article a[href*='capacitorjs.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/capacitor.svg');
  mask-image: url('https://simpleicons.org/icons/capacitor.svg');
}

article a[href*='carthrottle.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/carthrottle.svg');
  mask-image: url('https://simpleicons.org/icons/carthrottle.svg');
}

article a[href*='carrefour.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/carrefour.svg');
  mask-image: url('https://simpleicons.org/icons/carrefour.svg');
}

article a[href*='carto.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/carto.svg');
  mask-image: url('https://simpleicons.org/icons/carto.svg');
}

article a[href*='cash.app']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/cashapp.svg');
  mask-image: url('https://simpleicons.org/icons/cashapp.svg');
}

article a[href*='castbox.fm']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/castbox.svg');
  mask-image: url('https://simpleicons.org/icons/castbox.svg');
}

article a[href*='castorama.fr']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/castorama.svg');
  mask-image: url('https://simpleicons.org/icons/castorama.svg');
}

article a[href*='castro.fm']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/castro.svg');
  mask-image: url('https://simpleicons.org/icons/castro.svg');
}

article a[href*='caterpillar.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/caterpillar.svg');
  mask-image: url('https://simpleicons.org/icons/caterpillar.svg');
}

article a[href*='cbs.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/cbs.svg');
  mask-image: url('https://simpleicons.org/icons/cbs.svg');
}

article a[href*='cdprojekt.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/cdprojekt.svg');
  mask-image: url('https://simpleicons.org/icons/cdprojekt.svg');
}

article a[href*='celeryproject.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/celery.svg');
  mask-image: url('https://simpleicons.org/icons/celery.svg');
}

article a[href*='centos.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/centos.svg');
  mask-image: url('https://simpleicons.org/icons/centos.svg');
}

article a[href*='ceph.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/ceph.svg');
  mask-image: url('https://simpleicons.org/icons/ceph.svg');
}

article a[href*='cesium.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/cesium.svg');
  mask-image: url('https://simpleicons.org/icons/cesium.svg');
}

article a[href*='chaijs.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/chai.svg');
  mask-image: url('https://simpleicons.org/icons/chai.svg');
}

article a[href*='chain.link']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/chainlink.svg');
  mask-image: url('https://simpleicons.org/icons/chainlink.svg');
}

article a[href*='chakra-ui.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/chakraui.svg');
  mask-image: url('https://simpleicons.org/icons/chakraui.svg');
}

article a[href*='chartjs.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/chartdotjs.svg');
  mask-image: url('https://simpleicons.org/icons/chartdotjs.svg');
}

article a[href*='chartmogul.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/chartmogul.svg');
  mask-image: url('https://simpleicons.org/icons/chartmogul.svg');
}

article a[href*='chase.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/chase.svg');
  mask-image: url('https://simpleicons.org/icons/chase.svg');
}

article a[href*='chatbot.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/chatbot.svg');
  mask-image: url('https://simpleicons.org/icons/chatbot.svg');
}

article a[href*='checkio.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/checkio.svg');
  mask-image: url('https://simpleicons.org/icons/checkio.svg');
}

article a[href*='checkmarx.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/checkmarx.svg');
  mask-image: url('https://simpleicons.org/icons/checkmarx.svg');
}

article a[href*='chef.io']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/chef.svg');
  mask-image: url('https://simpleicons.org/icons/chef.svg');
}

article a[href*='chemex.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/chemex.svg');
  mask-image: url('https://simpleicons.org/icons/chemex.svg');
}

article a[href*='chevrolet.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/chevrolet.svg');
  mask-image: url('https://simpleicons.org/icons/chevrolet.svg');
}

article a[href*='chinaeasternairlines.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/chinaeasternairlines.svg');
  mask-image: url('https://simpleicons.org/icons/chinaeasternairlines.svg');
}

article a[href*='chinasouthernairlines.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/chinasouthernairlines.svg');
  mask-image: url('https://simpleicons.org/icons/chinasouthernairlines.svg');
}

article a[href*='chocolatey.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/chocolatey.svg');
  mask-image: url('https://simpleicons.org/icons/chocolatey.svg');
}

article a[href*='chromecast.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/chromecast.svg');
  mask-image: url('https://simpleicons.org/icons/chromecast.svg');
}

article a[href*='chrysler.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/chrysler.svg');
  mask-image: url('https://simpleicons.org/icons/chrysler.svg');
}

article a[href*='chupachups.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/chupachups.svg');
  mask-image: url('https://simpleicons.org/icons/chupachups.svg');
}

article a[href*='cilium.io']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/cilium.svg');
  mask-image: url('https://simpleicons.org/icons/cilium.svg');
}

article a[href*='cinema4d.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/cinema4d.svg');
  mask-image: url('https://simpleicons.org/icons/cinema4d.svg');
}

article a[href*='circle.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/circle.svg');
  mask-image: url('https://simpleicons.org/icons/circle.svg');
}

article a[href*='circleci.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/circleci.svg');
  mask-image: url('https://simpleicons.org/icons/circleci.svg');
}

article a[href*='cirrus-ci.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/cirrusci.svg');
  mask-image: url('https://simpleicons.org/icons/cirrusci.svg');
}

article a[href*='cisco.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/cisco.svg');
  mask-image: url('https://simpleicons.org/icons/cisco.svg');
}

article a[href*='citrix.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/citrix.svg');
  mask-image: url('https://simpleicons.org/icons/citrix.svg');
}

article a[href*='citroen.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/citroen.svg');
  mask-image: url('https://simpleicons.org/icons/citroen.svg');
}

article a[href*='civicrm.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/civicrm.svg');
  mask-image: url('https://simpleicons.org/icons/civicrm.svg');
}

article a[href*='civo.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/civo.svg');
  mask-image: url('https://simpleicons.org/icons/civo.svg');
}

article a[href*='ckeditor.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/ckeditor4.svg');
  mask-image: url('https://simpleicons.org/icons/ckeditor4.svg');
}

article a[href*='claris.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/claris.svg');
  mask-image: url('https://simpleicons.org/icons/claris.svg');
}

article a[href*='clickhouse.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/clickhouse.svg');
  mask-image: url('https://simpleicons.org/icons/clickhouse.svg');
}

article a[href*='clickup.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/clickup.svg');
  mask-image: url('https://simpleicons.org/icons/clickup.svg');
}

article a[href*='jetbrains.com/clion']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/clion.svg');
  mask-image: url('https://simpleicons.org/icons/clion.svg');
}

article a[href*='cliqz.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/cliqz.svg');
  mask-image: url('https://simpleicons.org/icons/cliqz.svg');
}

article a[href*='clockify.me']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/clockify.svg');
  mask-image: url('https://simpleicons.org/icons/clockify.svg');
}

article a[href*='clojure.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/clojure.svg');
  mask-image: url('https://simpleicons.org/icons/clojure.svg');
}

article a[href*='cloud66.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/cloud66.svg');
  mask-image: url('https://simpleicons.org/icons/cloud66.svg');
}

article a[href*='cloudfoundry.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/cloudfoundry.svg');
  mask-image: url('https://simpleicons.org/icons/cloudfoundry.svg');
}

article a[href*='cloudbees.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/cloudbees.svg');
  mask-image: url('https://simpleicons.org/icons/cloudbees.svg');
}

article a[href*='cloudcannon.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/cloudcannon.svg');
  mask-image: url('https://simpleicons.org/icons/cloudcannon.svg');
}

article a[href*='cloudera.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/cloudera.svg');
  mask-image: url('https://simpleicons.org/icons/cloudera.svg');
}

article a[href*='cloudflare.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/cloudflare.svg');
  mask-image: url('https://simpleicons.org/icons/cloudflare.svg');
}

article a[href*='pages.cloudflare.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/cloudflarepages.svg');
  mask-image: url('https://simpleicons.org/icons/cloudflarepages.svg');
}

article a[href*='cloudsmith.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/cloudsmith.svg');
  mask-image: url('https://simpleicons.org/icons/cloudsmith.svg');
}

article a[href*='cloudways.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/cloudways.svg');
  mask-image: url('https://simpleicons.org/icons/cloudways.svg');
}

article a[href*='clubhouse.io']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/clubhouse.svg');
  mask-image: url('https://simpleicons.org/icons/clubhouse.svg');
}

article a[href*='clyp.it']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/clyp.svg');
  mask-image: url('https://simpleicons.org/icons/clyp.svg');
}

article a[href*='cmake.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/cmake.svg');
  mask-image: url('https://simpleicons.org/icons/cmake.svg');
}

article a[href*='cncf.io']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/cncf.svg');
  mask-image: url('https://simpleicons.org/icons/cncf.svg');
}

article a[href*='cnn.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/cnn.svg');
  mask-image: url('https://simpleicons.org/icons/cnn.svg');
}

article a[href*='coop.co.uk']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/coop.svg');
  mask-image: url('https://simpleicons.org/icons/coop.svg');
}

article a[href*='cockpit-project.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/cockpit.svg');
  mask-image: url('https://simpleicons.org/icons/cockpit.svg');
}

article a[href*='cockroachlabs.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/cockroachlabs.svg');
  mask-image: url('https://simpleicons.org/icons/cockroachlabs.svg');
}

article a[href*='cocoapods.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/cocoapods.svg');
  mask-image: url('https://simpleicons.org/icons/cocoapods.svg');
}

article a[href*='cocos.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/cocos.svg');
  mask-image: url('https://simpleicons.org/icons/cocos.svg');
}

article a[href*='coda.io']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/coda.svg');
  mask-image: url('https://simpleicons.org/icons/coda.svg');
}

article a[href*='codacy.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/codacy.svg');
  mask-image: url('https://simpleicons.org/icons/codacy.svg');
}

article a[href*='codeclimate.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/codeclimate.svg');
  mask-image: url('https://simpleicons.org/icons/codeclimate.svg');
}

article a[href*='codereview.stackexchange.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/codereview.svg');
  mask-image: url('https://simpleicons.org/icons/codereview.svg');
}

article a[href*='codeberg.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/codeberg.svg');
  mask-image: url('https://simpleicons.org/icons/codeberg.svg');
}

article a[href*='codecademy.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/codecademy.svg');
  mask-image: url('https://simpleicons.org/icons/codecademy.svg');
}

article a[href*='codecept.io']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/codeceptjs.svg');
  mask-image: url('https://simpleicons.org/icons/codeceptjs.svg');
}

article a[href*='codechef.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/codechef.svg');
  mask-image: url('https://simpleicons.org/icons/codechef.svg');
}

article a[href*='codecov.io']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/codecov.svg');
  mask-image: url('https://simpleicons.org/icons/codecov.svg');
}

article a[href*='codefactor.io']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/codefactor.svg');
  mask-image: url('https://simpleicons.org/icons/codefactor.svg');
}

article a[href*='codeforces.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/codeforces.svg');
  mask-image: url('https://simpleicons.org/icons/codeforces.svg');
}

article a[href*='codeigniter.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/codeigniter.svg');
  mask-image: url('https://simpleicons.org/icons/codeigniter.svg');
}

article a[href*='codemagic.io']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/codemagic.svg');
  mask-image: url('https://simpleicons.org/icons/codemagic.svg');
}

article a[href*='codemirror.net']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/codemirror.svg');
  mask-image: url('https://simpleicons.org/icons/codemirror.svg');
}

article a[href*='codenewbie.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/codenewbie.svg');
  mask-image: url('https://simpleicons.org/icons/codenewbie.svg');
}

article a[href*='codepen.io']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/codepen.svg');
  mask-image: url('https://simpleicons.org/icons/codepen.svg');
}

article a[href*='codeproject.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/codeproject.svg');
  mask-image: url('https://simpleicons.org/icons/codeproject.svg');
}

article a[href*='codersrank.io']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/codersrank.svg');
  mask-image: url('https://simpleicons.org/icons/codersrank.svg');
}

article a[href*='coderwall.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/coderwall.svg');
  mask-image: url('https://simpleicons.org/icons/coderwall.svg');
}

article a[href*='codesandbox.io']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/codesandbox.svg');
  mask-image: url('https://simpleicons.org/icons/codesandbox.svg');
}

article a[href*='codeship.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/codeship.svg');
  mask-image: url('https://simpleicons.org/icons/codeship.svg');
}

article a[href*='codewars.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/codewars.svg');
  mask-image: url('https://simpleicons.org/icons/codewars.svg');
}

article a[href*='codingninjas.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/codingninjas.svg');
  mask-image: url('https://simpleicons.org/icons/codingninjas.svg');
}

article a[href*='codingame.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/codingame.svg');
  mask-image: url('https://simpleicons.org/icons/codingame.svg');
}

article a[href*='codio.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/codio.svg');
  mask-image: url('https://simpleicons.org/icons/codio.svg');
}

article a[href*='coffeescript.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/coffeescript.svg');
  mask-image: url('https://simpleicons.org/icons/coffeescript.svg');
}

article a[href*='cognizant.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/cognizant.svg');
  mask-image: url('https://simpleicons.org/icons/cognizant.svg');
}

article a[href*='coil.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/coil.svg');
  mask-image: url('https://simpleicons.org/icons/coil.svg');
}

article a[href*='coinbase.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/coinbase.svg');
  mask-image: url('https://simpleicons.org/icons/coinbase.svg');
}

article a[href*='coinmarketcap.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/coinmarketcap.svg');
  mask-image: url('https://simpleicons.org/icons/coinmarketcap.svg');
}

article a[href*='commerzbank.de']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/commerzbank.svg');
  mask-image: url('https://simpleicons.org/icons/commerzbank.svg');
}

article a[href*='commitlint.js.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/commitlint.svg');
  mask-image: url('https://simpleicons.org/icons/commitlint.svg');
}

article a[href*='commodore.net']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/commodore.svg');
  mask-image: url('https://simpleicons.org/icons/commodore.svg');
}

article a[href*='commonwl.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/commonworkflowlanguage.svg');
  mask-image: url('https://simpleicons.org/icons/commonworkflowlanguage.svg');
}

article a[href*='getcomposer.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/composer.svg');
  mask-image: url('https://simpleicons.org/icons/composer.svg');
}

article a[href*='comsol.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/comsol.svg');
  mask-image: url('https://simpleicons.org/icons/comsol.svg');
}

article a[href*='conan.io']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/conan.svg');
  mask-image: url('https://simpleicons.org/icons/conan.svg');
}

article a[href*='concourse-ci.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/concourse.svg');
  mask-image: url('https://simpleicons.org/icons/concourse.svg');
}

article a[href*='conda-forge.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/condaforge.svg');
  mask-image: url('https://simpleicons.org/icons/condaforge.svg');
}

article a[href*='conekta.io']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/conekta.svg');
  mask-image: url('https://simpleicons.org/icons/conekta.svg');
}

article a[href*='atlassian.com/software/confluence']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/confluence.svg');
  mask-image: url('https://simpleicons.org/icons/confluence.svg');
}

article a[href*='construct.net']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/construct3.svg');
  mask-image: url('https://simpleicons.org/icons/construct3.svg');
}

article a[href*='consul.io']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/consul.svg');
  mask-image: url('https://simpleicons.org/icons/consul.svg');
}

article a[href*='contactlesspayment.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/contactlesspayment.svg');
  mask-image: url('https://simpleicons.org/icons/contactlesspayment.svg');
}

article a[href*='containerd.io']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/containerd.svg');
  mask-image: url('https://simpleicons.org/icons/containerd.svg');
}

article a[href*='contentful.com']::before {
  mask-image: url('https://simpleicons.org/icons/contentful.svg');
  -webkit-mask-image: url('https://simpleicons.org/icons/contentful.svg');
}

article a[href*='conventionalcommits.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/conventionalcommits.svg');
  mask-image: url('https://simpleicons.org/icons/conventionalcommits.svg');
}

article a[href*='convertio.co']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/convertio.svg');
  mask-image: url('https://simpleicons.org/icons/convertio.svg');
}

article a[href*='cookiecutter.readthedocs.io']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/cookiecutter.svg');
  mask-image: url('https://simpleicons.org/icons/cookiecutter.svg');
}

article a[href*='cora.ai']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/cora.svg');
  mask-image: url('https://simpleicons.org/icons/cora.svg');
}

article a[href*='coronalabs.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/coronaengine.svg');
  mask-image: url('https://simpleicons.org/icons/coronaengine.svg');
}

article a[href*='corona-renderer.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/coronarenderer.svg');
  mask-image: url('https://simpleicons.org/icons/coronarenderer.svg');
}

article a[href*='corsair.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/corsair.svg');
  mask-image: url('https://simpleicons.org/icons/corsair.svg');
}

article a[href*='couchbase.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/couchbase.svg');
  mask-image: url('https://simpleicons.org/icons/couchbase.svg');
}

article a[href*='counter-strike.net']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/counterstrike.svg');
  mask-image: url('https://simpleicons.org/icons/counterstrike.svg');
}

article a[href*='countingworks.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/countingworkspro.svg');
  mask-image: url('https://simpleicons.org/icons/countingworkspro.svg');
}

article a[href*='coursera.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/coursera.svg');
  mask-image: url('https://simpleicons.org/icons/coursera.svg');
}

article a[href*='coveralls.io']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/coveralls.svg');
  mask-image: url('https://simpleicons.org/icons/coveralls.svg');
}

article a[href*='cpanel.net']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/cpanel.svg');
  mask-image: url('https://simpleicons.org/icons/cpanel.svg');
}

article a[href*='craftcms.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/craftcms.svg');
  mask-image: url('https://simpleicons.org/icons/craftcms.svg');
}

article a[href*='crate.io']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/cratedb.svg');
  mask-image: url('https://simpleicons.org/icons/cratedb.svg');
}

article a[href*='crayon.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/crayon.svg');
  mask-image: url('https://simpleicons.org/icons/crayon.svg');
}

article a[href*='create-react-app.dev']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/createreactapp.svg');
  mask-image: url('https://simpleicons.org/icons/createreactapp.svg');
}

article a[href*='creativecommons.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/creativecommons.svg');
  mask-image: url('https://simpleicons.org/icons/creativecommons.svg');
}

article a[href*='credly.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/credly.svg');
  mask-image: url('https://simpleicons.org/icons/credly.svg');
}

article a[href*='crehana.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/crehana.svg');
  mask-image: url('https://simpleicons.org/icons/crehana.svg');
}

article a[href*='criticalrole.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/criticalrole.svg');
  mask-image: url('https://simpleicons.org/icons/criticalrole.svg');
}

article a[href*='crowdin.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/crowdin.svg');
  mask-image: url('https://simpleicons.org/icons/crowdin.svg');
}

article a[href*='crowdsource.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/crowdsource.svg');
  mask-image: url('https://simpleicons.org/icons/crowdsource.svg');
}

article a[href*='crunchbase.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/crunchbase.svg');
  mask-image: url('https://simpleicons.org/icons/crunchbase.svg');
}

article a[href*='crunchyroll.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/crunchyroll.svg');
  mask-image: url('https://simpleicons.org/icons/crunchyroll.svg');
}

article a[href*='cryengine.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/cryengine.svg');
  mask-image: url('https://simpleicons.org/icons/cryengine.svg');
}

article a[href*='crystal-lang.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/crystal.svg');
  mask-image: url('https://simpleicons.org/icons/crystal.svg');
}

article a[href*='css-modules.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/cssmodules.svg');
  mask-image: url('https://simpleicons.org/icons/cssmodules.svg');
}

article a[href*='csswizardry.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/csswizardry.svg');
  mask-image: url('https://simpleicons.org/icons/csswizardry.svg');
}

article a[href*='css3.info']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/css3.svg');
  mask-image: url('https://simpleicons.org/icons/css3.svg');
}

article a[href*='cucumber.io']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/cucumber.svg');
  mask-image: url('https://simpleicons.org/icons/cucumber.svg');
}

article a[href*='curl.haxx.se']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/curl.svg');
  mask-image: url('https://simpleicons.org/icons/curl.svg');
}

article a[href*='curseforge.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/curseforge.svg');
  mask-image: url('https://simpleicons.org/icons/curseforge.svg');
}

article a[href*='cycling74.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/cycling74.svg');
  mask-image: url('https://simpleicons.org/icons/cycling74.svg');
}

article a[href*='cypress.io']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/cypress.svg');
  mask-image: url('https://simpleicons.org/icons/cypress.svg');
}

article a[href*='cytoscape.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/cytoscapedotjs.svg');
  mask-image: url('https://simpleicons.org/icons/cytoscapedotjs.svg');
}
