article a[href*='habr.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/habr.svg');
  mask-image: url('https://simpleicons.org/icons/habr.svg');
}

article a[href*='hackclub.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/hackclub.svg');
  mask-image: url('https://simpleicons.org/icons/hackclub.svg');
}

article a[href*='hackthebox.eu']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/hackthebox.svg');
  mask-image: url('https://simpleicons.org/icons/hackthebox.svg');
}

article a[href*='hackaday.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/hackaday.svg');
  mask-image: url('https://simpleicons.org/icons/hackaday.svg');
}

article a[href*='hackernoon.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/hackernoon.svg');
  mask-image: url('https://simpleicons.org/icons/hackernoon.svg');
}

article a[href*='hackerearth.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/hackerearth.svg');
  mask-image: url('https://simpleicons.org/icons/hackerearth.svg');
}

article a[href*='hackerone.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/hackerone.svg');
  mask-image: url('https://simpleicons.org/icons/hackerone.svg');
}

article a[href*='hackerrank.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/hackerrank.svg');
  mask-image: url('https://simpleicons.org/icons/hackerrank.svg');
}

article a[href*='hackster.io']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/hackster.svg');
  mask-image: url('https://simpleicons.org/icons/hackster.svg');
}

article a[href*='handlebarsjs.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/handlebarsdotjs.svg');
  mask-image: url('https://simpleicons.org/icons/handlebarsdotjs.svg');
}

article a[href*='handshake.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/handshake.svg');
  mask-image: url('https://simpleicons.org/icons/handshake.svg');
}

article a[href*='handshake.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/handshake_protocol.svg');
  mask-image: url('https://simpleicons.org/icons/handshake_protocol.svg');
}

article a[href*='happycow.net']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/happycow.svg');
  mask-image: url('https://simpleicons.org/icons/happycow.svg');
}

article a[href*='goharbor.io']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/harbor.svg');
  mask-image: url('https://simpleicons.org/icons/harbor.svg');
}

article a[href*='harmonyos.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/harmonyos.svg');
  mask-image: url('https://simpleicons.org/icons/harmonyos.svg');
}

article a[href*='hashnode.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/hashnode.svg');
  mask-image: url('https://simpleicons.org/icons/hashnode.svg');
}

article a[href*='haskell.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/haskell.svg');
  mask-image: url('https://simpleicons.org/icons/haskell.svg');
}

article a[href*='hasura.io']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/hasura.svg');
  mask-image: url('https://simpleicons.org/icons/hasura.svg');
}

article a[href*='b.hatena.ne.jp']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/hatenabookmark.svg');
  mask-image: url('https://simpleicons.org/icons/hatenabookmark.svg');
}

article a[href*='haveibeenpwned.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/haveibeenpwned.svg');
  mask-image: url('https://simpleicons.org/icons/haveibeenpwned.svg');
}

article a[href*='haxe.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/haxe.svg');
  mask-image: url('https://simpleicons.org/icons/haxe.svg');
}

article a[href*='hbo.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/hbo.svg');
  mask-image: url('https://simpleicons.org/icons/hbo.svg');
}

article a[href*='hcl.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/hcl.svg');
  mask-image: url('https://simpleicons.org/icons/hcl.svg');
}

article a[href*='headlessui.dev']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/headlessui.svg');
  mask-image: url('https://simpleicons.org/icons/headlessui.svg');
}

article a[href*='headspace.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/headspace.svg');
  mask-image: url('https://simpleicons.org/icons/headspace.svg');
}

article a[href*='hedera.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/hedera.svg');
  mask-image: url('https://simpleicons.org/icons/hedera.svg');
}

article a[href*='hellofresh.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/hellofresh.svg');
  mask-image: url('https://simpleicons.org/icons/hellofresh.svg');
}

article a[href*='hellyhansen.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/hellyhansen.svg');
  mask-image: url('https://simpleicons.org/icons/hellyhansen.svg');
}

article a[href*='helm.sh']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/helm.svg');
  mask-image: url('https://simpleicons.org/icons/helm.svg');
}

article a[href*='helpscout.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/helpscout.svg');
  mask-image: url('https://simpleicons.org/icons/helpscout.svg');
}

article a[href*='helpdesk.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/helpdesk.svg');
  mask-image: url('https://simpleicons.org/icons/helpdesk.svg');
}

article a[href*='here.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/here.svg');
  mask-image: url('https://simpleicons.org/icons/here.svg');
}

article a[href*='heroku.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/heroku.svg');
  mask-image: url('https://simpleicons.org/icons/heroku.svg');
}

article a[href*='hetzner.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/hetzner.svg');
  mask-image: url('https://simpleicons.org/icons/hetzner.svg');
}

article a[href*='hexo.io']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/hexo.svg');
  mask-image: url('https://simpleicons.org/icons/hexo.svg');
}

article a[href*='hey.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/hey.svg');
  mask-image: url('https://simpleicons.org/icons/hey.svg');
}

article a[href*='hibob.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/hibob.svg');
  mask-image: url('https://simpleicons.org/icons/hibob.svg');
}

article a[href*='hibernate.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/hibernate.svg');
  mask-image: url('https://simpleicons.org/icons/hibernate.svg');
}

article a[href*='hilton.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/hilton.svg');
  mask-image: url('https://simpleicons.org/icons/hilton.svg');
}

article a[href*='hitachi.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/hitachi.svg');
  mask-image: url('https://simpleicons.org/icons/hitachi.svg');
}

article a[href*='hive.io']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/hive.svg');
  mask-image: url('https://simpleicons.org/icons/hive.svg');
}

article a[href*='hive.io']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/hive_blockchain.svg');
  mask-image: url('https://simpleicons.org/icons/hive_blockchain.svg');
}

article a[href*='home-assistant.io']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/homeassistant.svg');
  mask-image: url('https://simpleicons.org/icons/homeassistant.svg');
}

article a[href*='hacs.xyz']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/homeassistantcommunitystore.svg');
  mask-image: url('https://simpleicons.org/icons/homeassistantcommunitystore.svg');
}

article a[href*='homeadvisor.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/homeadvisor.svg');
  mask-image: url('https://simpleicons.org/icons/homeadvisor.svg');
}

article a[href*='brew.sh']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/homebrew.svg');
  mask-image: url('https://simpleicons.org/icons/homebrew.svg');
}

article a[href*='homebridge.io']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/homebridge.svg');
  mask-image: url('https://simpleicons.org/icons/homebridge.svg');
}

article a[href*='homify.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/homify.svg');
  mask-image: url('https://simpleicons.org/icons/homify.svg');
}

article a[href*='honda.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/honda.svg');
  mask-image: url('https://simpleicons.org/icons/honda.svg');
}

article a[href*='joinhoney.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/honey.svg');
  mask-image: url('https://simpleicons.org/icons/honey.svg');
}

article a[href*='hootsuite.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/hootsuite.svg');
  mask-image: url('https://simpleicons.org/icons/hootsuite.svg');
}

article a[href*='hoppscotch.io']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/hoppscotch.svg');
  mask-image: url('https://simpleicons.org/icons/hoppscotch.svg');
}

article a[href*='hotels.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/hotelsdotcom.svg');
  mask-image: url('https://simpleicons.org/icons/hotelsdotcom.svg');
}

article a[href*='hotjar.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/hotjar.svg');
  mask-image: url('https://simpleicons.org/icons/hotjar.svg');
}

article a[href*='houdini.ai']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/houdini.svg');
  mask-image: url('https://simpleicons.org/icons/houdini.svg');
}

article a[href*='houzz.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/houzz.svg');
  mask-image: url('https://simpleicons.org/icons/houzz.svg');
}

article a[href*='hp.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/hp.svg');
  mask-image: url('https://simpleicons.org/icons/hp.svg');
}

article a[href*='htmlacademy.ru']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/htmlacademy.svg');
  mask-image: url('https://simpleicons.org/icons/htmlacademy.svg');
}

article a[href*='html5.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/html5.svg');
  mask-image: url('https://simpleicons.org/icons/html5.svg');
}

article a[href*='httpie.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/httpie.svg');
  mask-image: url('https://simpleicons.org/icons/httpie.svg');
}

article a[href*='huawei.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/huawei.svg');
  mask-image: url('https://simpleicons.org/icons/huawei.svg');
}

article a[href*='hubspot.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/hubspot.svg');
  mask-image: url('https://simpleicons.org/icons/hubspot.svg');
}

article a[href*='gohugo.io']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/hugo.svg');
  mask-image: url('https://simpleicons.org/icons/hugo.svg');
}

article a[href*='hulu.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/hulu.svg');
  mask-image: url('https://simpleicons.org/icons/hulu.svg');
}

article a[href*='humblebundle.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/humblebundle.svg');
  mask-image: url('https://simpleicons.org/icons/humblebundle.svg');
}

article a[href*='hungryjacks.com.au']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/hungryjacks.svg');
  mask-image: url('https://simpleicons.org/icons/hungryjacks.svg');
}

article a[href*='hurriyetemlak.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/hurriyetemlak.svg');
  mask-image: url('https://simpleicons.org/icons/hurriyetemlak.svg');
}

article a[href*='husqvarna.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/husqvarna.svg');
  mask-image: url('https://simpleicons.org/icons/husqvarna.svg');
}

article a[href*='hyper.is']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/hyper.svg');
  mask-image: url('https://simpleicons.org/icons/hyper.svg');
}

article a[href*='hyperledger.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/hyperledger.svg');
  mask-image: url('https://simpleicons.org/icons/hyperledger.svg');
}

article a[href*='hypothes.is']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/hypothesis.svg');
  mask-image: url('https://simpleicons.org/icons/hypothesis.svg');
}

article a[href*='hyundai.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/hyundai.svg');
  mask-image: url('https://simpleicons.org/icons/hyundai.svg');
}
