article a[href*='i18next.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/i18next.svg');
  mask-image: url('https://simpleicons.org/icons/i18next.svg');
}

article a[href*='iata.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/iata.svg');
  mask-image: url('https://simpleicons.org/icons/iata.svg');
}

article a[href*='ibeacon.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/ibeacon.svg');
  mask-image: url('https://simpleicons.org/icons/ibeacon.svg');
}

article a[href*='ibm.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/ibm.svg');
  mask-image: url('https://simpleicons.org/icons/ibm.svg');
}

article a[href*='ibm.com/cloud']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/ibmcloud.svg');
  mask-image: url('https://simpleicons.org/icons/ibmcloud.svg');
}

article a[href*='ibm.com/watson']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/ibmwatson.svg');
  mask-image: url('https://simpleicons.org/icons/ibmwatson.svg');
}

article a[href*='iceddev.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/iced.svg');
  mask-image: url('https://simpleicons.org/icons/iced.svg');
}

article a[href*='icelandair.is']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/iceland.svg');
  mask-image: url('https://simpleicons.org/icons/iceland.svg');
}

article a[href*='icinga.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/icinga.svg');
  mask-image: url('https://simpleicons.org/icons/icinga.svg');
}

article a[href*='icloud.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/icloud.svg');
  mask-image: url('https://simpleicons.org/icons/icloud.svg');
}

article a[href*='icomoon.io']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/icomoon.svg');
  mask-image: url('https://simpleicons.org/icons/icomoon.svg');
}

article a[href*='icon.foundation']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/icon.svg');
  mask-image: url('https://simpleicons.org/icons/icon.svg');
}

article a[href*='iconfinder.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/iconfinder.svg');
  mask-image: url('https://simpleicons.org/icons/iconfinder.svg');
}

article a[href*='iconify.design']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/iconify.svg');
  mask-image: url('https://simpleicons.org/icons/iconify.svg');
}

article a[href*='geticonjar.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/iconjar.svg');
  mask-image: url('https://simpleicons.org/icons/iconjar.svg');
}

article a[href*='icons8.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/icons8.svg');
  mask-image: url('https://simpleicons.org/icons/icons8.svg');
}

article a[href*='icq.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/icq.svg');
  mask-image: url('https://simpleicons.org/icons/icq.svg');
}

article a[href*='ieee.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/ieee.svg');
  mask-image: url('https://simpleicons.org/icons/ieee.svg');
}

article a[href*='ifixit.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/ifixit.svg');
  mask-image: url('https://simpleicons.org/icons/ifixit.svg');
}

article a[href*='ifood.com.br']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/ifood.svg');
  mask-image: url('https://simpleicons.org/icons/ifood.svg');
}

article a[href*='ifttt.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/ifttt.svg');
  mask-image: url('https://simpleicons.org/icons/ifttt.svg');
}

article a[href*='iheart.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/iheartradio.svg');
  mask-image: url('https://simpleicons.org/icons/iheartradio.svg');
}

article a[href*='ikea.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/ikea.svg');
  mask-image: url('https://simpleicons.org/icons/ikea.svg');
}

article a[href*='imagej.net']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/imagej.svg');
  mask-image: url('https://simpleicons.org/icons/imagej.svg');
}

article a[href*='imdb.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/imdb.svg');
  mask-image: url('https://simpleicons.org/icons/imdb.svg');
}

article a[href*='imgur.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/imgur.svg');
  mask-image: url('https://simpleicons.org/icons/imgur.svg');
}

article a[href*='immerjs.github.io']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/immer.svg');
  mask-image: url('https://simpleicons.org/icons/immer.svg');
}

article a[href*='imou.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/imou.svg');
  mask-image: url('https://simpleicons.org/icons/imou.svg');
}

article a[href*='indeed.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/indeed.svg');
  mask-image: url('https://simpleicons.org/icons/indeed.svg');
}

article a[href*='infinitiusa.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/infiniti.svg');
  mask-image: url('https://simpleicons.org/icons/infiniti.svg');
}

article a[href*='influxdata.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/influxdb.svg');
  mask-image: url('https://simpleicons.org/icons/influxdb.svg');
}

article a[href*='informatica.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/informatica.svg');
  mask-image: url('https://simpleicons.org/icons/informatica.svg');
}

article a[href*='infosys.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/infosys.svg');
  mask-image: url('https://simpleicons.org/icons/infosys.svg');
}

article a[href*='ingress.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/ingress.svg');
  mask-image: url('https://simpleicons.org/icons/ingress.svg');
}

article a[href*='inkdrop.app']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/inkdrop.svg');
  mask-image: url('https://simpleicons.org/icons/inkdrop.svg');
}

article a[href*='inkscape.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/inkscape.svg');
  mask-image: url('https://simpleicons.org/icons/inkscape.svg');
}

article a[href*='insomnia.rest']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/insomnia.svg');
  mask-image: url('https://simpleicons.org/icons/insomnia.svg');
}

article a[href*='instacart.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/instacart.svg');
  mask-image: url('https://simpleicons.org/icons/instacart.svg');
}

article a[href*='instagram.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/instagram.svg');
  mask-image: url('https://simpleicons.org/icons/instagram.svg');
}

article a[href*='instapaper.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/instapaper.svg');
  mask-image: url('https://simpleicons.org/icons/instapaper.svg');
}

article a[href*='instatus.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/instatus.svg');
  mask-image: url('https://simpleicons.org/icons/instatus.svg');
}

article a[href*='instructables.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/instructables.svg');
  mask-image: url('https://simpleicons.org/icons/instructables.svg');
}

article a[href*='instructure.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/instructure.svg');
  mask-image: url('https://simpleicons.org/icons/instructure.svg');
}

article a[href*='integromat.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/integromat.svg');
  mask-image: url('https://simpleicons.org/icons/integromat.svg');
}

article a[href*='intel.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/intel.svg');
  mask-image: url('https://simpleicons.org/icons/intel.svg');
}

article a[href*='jetbrains.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/intellijidea.svg');
  mask-image: url('https://simpleicons.org/icons/intellijidea.svg');
}

article a[href*='interaction-design.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/interactiondesignfoundation.svg');
  mask-image: url('https://simpleicons.org/icons/interactiondesignfoundation.svg');
}

article a[href*='interactjs.io']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/interactjs.svg');
  mask-image: url('https://simpleicons.org/icons/interactjs.svg');
}

article a[href*='intercom.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/intercom.svg');
  mask-image: url('https://simpleicons.org/icons/intercom.svg');
}

article a[href*='intermarche.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/intermarche.svg');
  mask-image: url('https://simpleicons.org/icons/intermarche.svg');
}

article a[href*='archive.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/internetarchive.svg');
  mask-image: url('https://simpleicons.org/icons/internetarchive.svg');
}

article a[href*='microsoft.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/internetexplorer.svg');
  mask-image: url('https://simpleicons.org/icons/internetexplorer.svg');
}

article a[href*='intigriti.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/intigriti.svg');
  mask-image: url('https://simpleicons.org/icons/intigriti.svg');
}

article a[href*='invisionapp.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/invision.svg');
  mask-image: url('https://simpleicons.org/icons/invision.svg');
}

article a[href*='invoiceninja.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/invoiceninja.svg');
  mask-image: url('https://simpleicons.org/icons/invoiceninja.svg');
}

article a[href*='iobroker.net']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/iobroker.svg');
  mask-image: url('https://simpleicons.org/icons/iobroker.svg');
}

article a[href*='ionicframework.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/ionic.svg');
  mask-image: url('https://simpleicons.org/icons/ionic.svg');
}

article a[href*='ionos.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/ionos.svg');
  mask-image: url('https://simpleicons.org/icons/ionos.svg');
}

article a[href*='apple.com/ios']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/ios.svg');
  mask-image: url('https://simpleicons.org/icons/ios.svg');
}

article a[href*='iota.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/iota.svg');
  mask-image: url('https://simpleicons.org/icons/iota.svg');
}

article a[href*='ipfs.io']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/ipfs.svg');
  mask-image: url('https://simpleicons.org/icons/ipfs.svg');
}

article a[href*='issuu.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/issuu.svg');
  mask-image: url('https://simpleicons.org/icons/issuu.svg');
}

article a[href*='istio.io']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/istio.svg');
  mask-image: url('https://simpleicons.org/icons/istio.svg');
}

article a[href*='itch.io']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/itchdotio.svg');
  mask-image: url('https://simpleicons.org/icons/itchdotio.svg');
}

article a[href*='iterm2.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/iterm2.svg');
  mask-image: url('https://simpleicons.org/icons/iterm2.svg');
}

article a[href*='itunes.apple.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/itunes.svg');
  mask-image: url('https://simpleicons.org/icons/itunes.svg');
}

article a[href*='iveco.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/iveco.svg');
  mask-image: url('https://simpleicons.org/icons/iveco.svg');
}
