article a[href*='ni.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/labview.svg');
  mask-image: url('https://simpleicons.org/icons/labview.svg');
}

article a[href*='lada.ru']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/lada.svg');
  mask-image: url('https://simpleicons.org/icons/lada.svg');
}

article a[href*='lamborghini.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/lamborghini.svg');
  mask-image: url('https://simpleicons.org/icons/lamborghini.svg');
}

article a[href*='landrover.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/landrover.svg');
  mask-image: url('https://simpleicons.org/icons/landrover.svg');
}

article a[href*='lapce.app']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/lapce.svg');
  mask-image: url('https://simpleicons.org/icons/lapce.svg');
}

article a[href*='laragon.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/laragon.svg');
  mask-image: url('https://simpleicons.org/icons/laragon.svg');
}

article a[href*='laravel.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/laravel.svg');
  mask-image: url('https://simpleicons.org/icons/laravel.svg');
}

article a[href*='laravel.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/laravelhorizon.svg');
  mask-image: url('https://simpleicons.org/icons/laravelhorizon.svg');
}

article a[href*='laravel.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/laravelnova.svg');
  mask-image: url('https://simpleicons.org/icons/laravelnova.svg');
}

article a[href*='last.fm']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/lastdotfm.svg');
  mask-image: url('https://simpleicons.org/icons/lastdotfm.svg');
}

article a[href*='lastpass.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/lastpass.svg');
  mask-image: url('https://simpleicons.org/icons/lastpass.svg');
}

article a[href*='latex-project.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/latex.svg');
  mask-image: url('https://simpleicons.org/icons/latex.svg');
}

article a[href*='launchpad.net']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/launchpad.svg');
  mask-image: url('https://simpleicons.org/icons/launchpad.svg');
}

article a[href*='lazarus-ide.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/lazarus.svg');
  mask-image: url('https://simpleicons.org/icons/lazarus.svg');
}

article a[href*='lbry.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/lbry.svg');
  mask-image: url('https://simpleicons.org/icons/lbry.svg');
}

article a[href*='leaderprice.fr']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/leaderprice.svg');
  mask-image: url('https://simpleicons.org/icons/leaderprice.svg');
}

article a[href*='leafletjs.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/leaflet.svg');
  mask-image: url('https://simpleicons.org/icons/leaflet.svg');
}

article a[href*='leanpub.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/leanpub.svg');
  mask-image: url('https://simpleicons.org/icons/leanpub.svg');
}

article a[href*='leetcode.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/leetcode.svg');
  mask-image: url('https://simpleicons.org/icons/leetcode.svg');
}

article a[href*='legacygames.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/legacygames.svg');
  mask-image: url('https://simpleicons.org/icons/legacygames.svg');
}

article a[href*='lemmy.ml']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/lemmy.svg');
  mask-image: url('https://simpleicons.org/icons/lemmy.svg');
}

article a[href*='lenovo.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/lenovo.svg');
  mask-image: url('https://simpleicons.org/icons/lenovo.svg');
}

article a[href*='k8slens.dev']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/lens.svg');
  mask-image: url('https://simpleicons.org/icons/lens.svg');
}

article a[href*='lerna.js.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/lerna.svg');
  mask-image: url('https://simpleicons.org/icons/lerna.svg');
}

article a[href*='leroymerlin.fr']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/leroymerlin.svg');
  mask-image: url('https://simpleicons.org/icons/leroymerlin.svg');
}

article a[href*='lesscss.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/less.svg');
  mask-image: url('https://simpleicons.org/icons/less.svg');
}

article a[href*='letsencrypt.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/letsencrypt.svg');
  mask-image: url('https://simpleicons.org/icons/letsencrypt.svg');
}

article a[href*='letterboxd.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/letterboxd.svg');
  mask-image: url('https://simpleicons.org/icons/letterboxd.svg');
}

article a[href*='levels.fyi']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/levelsdotfyi.svg');
  mask-image: url('https://simpleicons.org/icons/levelsdotfyi.svg');
}

article a[href*='lg.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/lg.svg');
  mask-image: url('https://simpleicons.org/icons/lg.svg');
}

article a[href*='lgtm.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/lgtm.svg');
  mask-image: url('https://simpleicons.org/icons/lgtm.svg');
}

article a[href*='liberapay.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/liberapay.svg');
  mask-image: url('https://simpleicons.org/icons/liberapay.svg');
}

article a[href*='libraries.io']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/librariesdotio.svg');
  mask-image: url('https://simpleicons.org/icons/librariesdotio.svg');
}

article a[href*='librarything.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/librarything.svg');
  mask-image: url('https://simpleicons.org/icons/librarything.svg');
}

article a[href*='libreoffice.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/libreoffice.svg');
  mask-image: url('https://simpleicons.org/icons/libreoffice.svg');
}

article a[href*='libuv.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/libuv.svg');
  mask-image: url('https://simpleicons.org/icons/libuv.svg');
}

article a[href*='lichess.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/lichess.svg');
  mask-image: url('https://simpleicons.org/icons/lichess.svg');
}

article a[href*='lidl.fr']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/lidl.svg');
  mask-image: url('https://simpleicons.org/icons/lidl.svg');
}

article a[href*='lifx.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/lifx.svg');
  mask-image: url('https://simpleicons.org/icons/lifx.svg');
}

article a[href*='lighthouse-ci.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/lighthouse.svg');
  mask-image: url('https://simpleicons.org/icons/lighthouse.svg');
}

article a[href*='line.me']::before,
article a[href*='line.biz']::before,
article a[href*='linecorp.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/line.svg');
  mask-image: url('https://simpleicons.org/icons/line.svg');
}

article a[href*='lineageos.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/lineageos.svg');
  mask-image: url('https://simpleicons.org/icons/lineageos.svg');
}

article a[href*='linear.app']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/linear.svg');
  mask-image: url('https://simpleicons.org/icons/linear.svg');
}

article a[href*='linkedin.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/linkedin.svg');
  mask-image: url('https://simpleicons.org/icons/linkedin.svg');
}

article a[href*='linkerd.io']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/linkerd.svg');
  mask-image: url('https://simpleicons.org/icons/linkerd.svg');
}

article a[href*='linkfire.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/linkfire.svg');
  mask-image: url('https://simpleicons.org/icons/linkfire.svg');
}

article a[href*='linktr.ee']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/linktree.svg');
  mask-image: url('https://simpleicons.org/icons/linktree.svg');
}

article a[href*='linode.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/linode.svg');
  mask-image: url('https://simpleicons.org/icons/linode.svg');
}

article a[href*='linux.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/linux.svg');
  mask-image: url('https://simpleicons.org/icons/linux.svg');
}

article a[href*='linuxcontainers.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/linuxcontainers.svg');
  mask-image: url('https://simpleicons.org/icons/linuxcontainers.svg');
}

article a[href*='linuxfoundation.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/linuxfoundation.svg');
  mask-image: url('https://simpleicons.org/icons/linuxfoundation.svg');
}

article a[href*='linuxmint.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/linuxmint.svg');
  mask-image: url('https://simpleicons.org/icons/linuxmint.svg');
}

article a[href*='lionair.co.id']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/lionair.svg');
  mask-image: url('https://simpleicons.org/icons/lionair.svg');
}

article a[href*='liquibase.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/liquibase.svg');
  mask-image: url('https://simpleicons.org/icons/liquibase.svg');
}

article a[href*='lit.dev']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/lit.svg');
  mask-image: url('https://simpleicons.org/icons/lit.svg');
}

article a[href*='litecoin.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/litecoin.svg');
  mask-image: url('https://simpleicons.org/icons/litecoin.svg');
}

article a[href*='litiengine.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/litiengine.svg');
  mask-image: url('https://simpleicons.org/icons/litiengine.svg');
}

article a[href*='livechat.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/livechat.svg');
  mask-image: url('https://simpleicons.org/icons/livechat.svg');
}

article a[href*='livejournal.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/livejournal.svg');
  mask-image: url('https://simpleicons.org/icons/livejournal.svg');
}

article a[href*='livewire.dev']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/livewire.svg');
  mask-image: url('https://simpleicons.org/icons/livewire.svg');
}

article a[href*='llvm.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/llvm.svg');
  mask-image: url('https://simpleicons.org/icons/llvm.svg');
}

article a[href*='lmms.io']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/lmms.svg');
  mask-image: url('https://simpleicons.org/icons/lmms.svg');
}

article a[href*='lodash.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/lodash.svg');
  mask-image: url('https://simpleicons.org/icons/lodash.svg');
}

article a[href*='logitech.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/logitech.svg');
  mask-image: url('https://simpleicons.org/icons/logitech.svg');
}

article a[href*='logmein.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/logmein.svg');
  mask-image: url('https://simpleicons.org/icons/logmein.svg');
}

article a[href*='logstash.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/logstash.svg');
  mask-image: url('https://simpleicons.org/icons/logstash.svg');
}

article a[href*='looker.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/looker.svg');
  mask-image: url('https://simpleicons.org/icons/looker.svg');
}

article a[href*='loom.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/loom.svg');
  mask-image: url('https://simpleicons.org/icons/loom.svg');
}

article a[href*='loop.dev']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/loop.svg');
  mask-image: url('https://simpleicons.org/icons/loop.svg');
}

article a[href*='loopback.io']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/loopback.svg');
  mask-image: url('https://simpleicons.org/icons/loopback.svg');
}

article a[href*='lospec.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/lospec.svg');
  mask-image: url('https://simpleicons.org/icons/lospec.svg');
}

article a[href*='lot.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/lotpolishairlines.svg');
  mask-image: url('https://simpleicons.org/icons/lotpolishairlines.svg');
}

article a[href*='lua.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/lua.svg');
  mask-image: url('https://simpleicons.org/icons/lua.svg');
}

article a[href*='lubuntu.me']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/lubuntu.svg');
  mask-image: url('https://simpleicons.org/icons/lubuntu.svg');
}

article a[href*='ludwig.ai']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/ludwig.svg');
  mask-image: url('https://simpleicons.org/icons/ludwig.svg');
}

article a[href*='lufthansa.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/lufthansa.svg');
  mask-image: url('https://simpleicons.org/icons/lufthansa.svg');
}

article a[href*='lumen.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/lumen.svg');
  mask-image: url('https://simpleicons.org/icons/lumen.svg');
}

article a[href*='icons8.com/lunacy']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/lunacy.svg');
  mask-image: url('https://simpleicons.org/icons/lunacy.svg');
}

article a[href*='lydia-app.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/lydia.svg');
  mask-image: url('https://simpleicons.org/icons/lydia.svg');
}

article a[href*='lyft.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/lyft.svg');
  mask-image: url('https://simpleicons.org/icons/lyft.svg');
}
