article a[href*='maas.io']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/maas.svg');
  mask-image: url('https://simpleicons.org/icons/maas.svg');
}

article a[href*='apple.com/macos']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/macos.svg');
  mask-image: url('https://simpleicons.org/icons/macos.svg');
}

article a[href*='macpaw.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/macpaw.svg');
  mask-image: url('https://simpleicons.org/icons/macpaw.svg');
}

article a[href*='macys.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/macys.svg');
  mask-image: url('https://simpleicons.org/icons/macys.svg');
}

article a[href*='magasins-u.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/magasinsu.svg');
  mask-image: url('https://simpleicons.org/icons/magasinsu.svg');
}

article a[href*='magento.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/magento.svg');
  mask-image: url('https://simpleicons.org/icons/magento.svg');
}

article a[href*='topjohnwu.github.io/Magisk']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/magisk.svg');
  mask-image: url('https://simpleicons.org/icons/magisk.svg');
}

article a[href*='mail.ru']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/maildotru.svg');
  mask-image: url('https://simpleicons.org/icons/maildotru.svg');
}

article a[href*='mailchimp.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/mailchimp.svg');
  mask-image: url('https://simpleicons.org/icons/mailchimp.svg');
}

article a[href*='mailgun.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/mailgun.svg');
  mask-image: url('https://simpleicons.org/icons/mailgun.svg');
}

article a[href*='mlh.io']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/majorleaguehacking.svg');
  mask-image: url('https://simpleicons.org/icons/majorleaguehacking.svg');
}

article a[href*='makerbot.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/makerbot.svg');
  mask-image: url('https://simpleicons.org/icons/makerbot.svg');
}

article a[href*='manageiq.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/manageiq.svg');
  mask-image: url('https://simpleicons.org/icons/manageiq.svg');
}

article a[href*='mapbox.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/mapbox.svg');
  mask-image: url('https://simpleicons.org/icons/mapbox.svg');
}

article a[href*='mariadb.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/mariadb.svg');
  mask-image: url('https://simpleicons.org/icons/mariadb.svg');
}

article a[href*='mariadb.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/mariadbfoundation.svg');
  mask-image: url('https://simpleicons.org/icons/mariadbfoundation.svg');
}

article a[href*='daringfireball.net/projects/markdown']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/markdown.svg');
  mask-image: url('https://simpleicons.org/icons/markdown.svg');
}

article a[href*='marketo.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/marketo.svg');
  mask-image: url('https://simpleicons.org/icons/marketo.svg');
}

article a[href*='markojs.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/marko.svg');
  mask-image: url('https://simpleicons.org/icons/marko.svg');
}

article a[href*='marriott.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/marriott.svg');
  mask-image: url('https://simpleicons.org/icons/marriott.svg');
}

article a[href*='maserati.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/maserati.svg');
  mask-image: url('https://simpleicons.org/icons/maserati.svg');
}

article a[href*='mastercard.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/mastercard.svg');
  mask-image: url('https://simpleicons.org/icons/mastercard.svg');
}

article a[href*='mastercomfig.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/mastercomfig.svg');
  mask-image: url('https://simpleicons.org/icons/mastercomfig.svg');
}

article a[href*='mastodon.social']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/mastodon.svg');
  mask-image: url('https://simpleicons.org/icons/mastodon.svg');
}

article a[href*='material.io']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/materialdesign.svg');
  mask-image: url('https://simpleicons.org/icons/materialdesign.svg');
}

article a[href*='materialdesignicons.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/materialdesignicons.svg');
  mask-image: url('https://simpleicons.org/icons/materialdesignicons.svg');
}

article a[href*='matomo.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/matomo.svg');
  mask-image: url('https://simpleicons.org/icons/matomo.svg');
}

article a[href*='matrix.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/matrix.svg');
  mask-image: url('https://simpleicons.org/icons/matrix.svg');
}

article a[href*='brm.io/matter-js']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/matterdotjs.svg');
  mask-image: url('https://simpleicons.org/icons/matterdotjs.svg');
}

article a[href*='mattermost.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/mattermost.svg');
  mask-image: url('https://simpleicons.org/icons/mattermost.svg');
}

article a[href*='matternet.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/matternet.svg');
  mask-image: url('https://simpleicons.org/icons/matternet.svg');
}

article a[href*='max.pub']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/max.svg');
  mask-image: url('https://simpleicons.org/icons/max.svg');
}

article a[href*='maxplanckgesellschaft.de']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/maxplanckgesellschaft.svg');
  mask-image: url('https://simpleicons.org/icons/maxplanckgesellschaft.svg');
}

article a[href*='maytag.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/maytag.svg');
  mask-image: url('https://simpleicons.org/icons/maytag.svg');
}

article a[href*='mazda.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/mazda.svg');
  mask-image: url('https://simpleicons.org/icons/mazda.svg');
}

article a[href*='mcafee.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/mcafee.svg');
  mask-image: url('https://simpleicons.org/icons/mcafee.svg');
}

article a[href*='mcdonalds.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/mcdonalds.svg');
  mask-image: url('https://simpleicons.org/icons/mcdonalds.svg');
}

article a[href*='mclaren.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/mclaren.svg');
  mask-image: url('https://simpleicons.org/icons/mclaren.svg');
}

article a[href*='rust-lang.github.io/mdBook']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/mdbook.svg');
  mask-image: url('https://simpleicons.org/icons/mdbook.svg');
}

article a[href*='developer.mozilla.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/mdnwebdocs.svg');
  mask-image: url('https://simpleicons.org/icons/mdnwebdocs.svg');
}

article a[href*='mdxjs.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/mdx.svg');
  mask-image: url('https://simpleicons.org/icons/mdx.svg');
}

article a[href*='mediafire.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/mediafire.svg');
  mask-image: url('https://simpleicons.org/icons/mediafire.svg');
}

article a[href*='mediamarkt.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/mediamarkt.svg');
  mask-image: url('https://simpleicons.org/icons/mediamarkt.svg');
}

article a[href*='mediatek.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/mediatek.svg');
  mask-image: url('https://simpleicons.org/icons/mediatek.svg');
}

article a[href*='mediatemple.net']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/mediatemple.svg');
  mask-image: url('https://simpleicons.org/icons/mediatemple.svg');
}

article a[href*='medium.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/medium.svg');
  mask-image: url('https://simpleicons.org/icons/medium.svg');
}

article a[href*='meetup.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/meetup.svg');
  mask-image: url('https://simpleicons.org/icons/meetup.svg');
}

article a[href*='mega.nz']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/mega.svg');
  mask-image: url('https://simpleicons.org/icons/mega.svg');
}

article a[href*='mendeley.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/mendeley.svg');
  mask-image: url('https://simpleicons.org/icons/mendeley.svg');
}

article a[href*='mercedes-benz.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/mercedes.svg');
  mask-image: url('https://simpleicons.org/icons/mercedes.svg');
}

article a[href*='merckgroup.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/merck.svg');
  mask-image: url('https://simpleicons.org/icons/merck.svg');
}

article a[href*='mercurial-scm.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/mercurial.svg');
  mask-image: url('https://simpleicons.org/icons/mercurial.svg');
}

article a[href*='messenger.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/messenger.svg');
  mask-image: url('https://simpleicons.org/icons/messenger.svg');
}

article a[href*='meta.discourse.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/meta.svg');
  mask-image: url('https://simpleicons.org/icons/meta.svg');
}

article a[href*='metabase.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/metabase.svg');
  mask-image: url('https://simpleicons.org/icons/metabase.svg');
}

article a[href*='metafilter.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/metafilter.svg');
  mask-image: url('https://simpleicons.org/icons/metafilter.svg');
}

article a[href*='meteor.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/meteor.svg');
  mask-image: url('https://simpleicons.org/icons/meteor.svg');
}

article a[href*='metrolinktrains.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/metro.svg');
  mask-image: url('https://simpleicons.org/icons/metro.svg');
}

article a[href*='metro.cdmx.gob.mx']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/metrodelaciudaddemexico.svg');
  mask-image: url('https://simpleicons.org/icons/metrodelaciudaddemexico.svg');
}

article a[href*='metromadrid.es']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/metrodemadrid.svg');
  mask-image: url('https://simpleicons.org/icons/metrodemadrid.svg');
}

article a[href*='paris.fr']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/metrodeparis.svg');
  mask-image: url('https://simpleicons.org/icons/metrodeparis.svg');
}

article a[href*='mewe.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/mewe.svg');
  mask-image: url('https://simpleicons.org/icons/mewe.svg');
}

article a[href*='microbit.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/microbit.svg');
  mask-image: url('https://simpleicons.org/icons/microbit.svg');
}

article a[href*='micro.blog']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/microdotblog.svg');
  mask-image: url('https://simpleicons.org/icons/microdotblog.svg');
}

article a[href*='microgenetics.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/microgenetics.svg');
  mask-image: url('https://simpleicons.org/icons/microgenetics.svg');
}

article a[href*='micropython.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/micropython.svg');
  mask-image: url('https://simpleicons.org/icons/micropython.svg');
}

article a[href*='microsoft.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/microsoft.svg');
  mask-image: url('https://simpleicons.org/icons/microsoft.svg');
}

article a[href*='academic.microsoft.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/microsoftacademic.svg');
  mask-image: url('https://simpleicons.org/icons/microsoftacademic.svg');
}

article a[href*='access.office.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/microsoftaccess.svg');
  mask-image: url('https://simpleicons.org/icons/microsoftaccess.svg');
}

article a[href*='azure.microsoft.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/microsoftazure.svg');
  mask-image: url('https://simpleicons.org/icons/microsoftazure.svg');
}

article a[href*='bing.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/microsoftbing.svg');
  mask-image: url('https://simpleicons.org/icons/microsoftbing.svg');
}

article a[href*='microsoftedgeinsider.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/microsoftedge.svg');
  mask-image: url('https://simpleicons.org/icons/microsoftedge.svg');
}

article a[href*='excel.office.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/microsoftexcel.svg');
  mask-image: url('https://simpleicons.org/icons/microsoftexcel.svg');
}

article a[href*='exchange.microsoft.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/microsoftexchange.svg');
  mask-image: url('https://simpleicons.org/icons/microsoftexchange.svg');
}

article a[href*='office.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/microsoftoffice.svg');
  mask-image: url('https://simpleicons.org/icons/microsoftoffice.svg');
}

article a[href*='onedrive.live.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/microsoftonedrive.svg');
  mask-image: url('https://simpleicons.org/icons/microsoftonedrive.svg');
}

article a[href*='onenote.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/microsoftonenote.svg');
  mask-image: url('https://simpleicons.org/icons/microsoftonenote.svg');
}

article a[href*='outlook.live.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/microsoftoutlook.svg');
  mask-image: url('https://simpleicons.org/icons/microsoftoutlook.svg');
}

article a[href*='powerpoint.office.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/microsoftpowerpoint.svg');
  mask-image: url('https://simpleicons.org/icons/microsoftpowerpoint.svg');
}

article a[href*='sharepoint.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/microsoftsharepoint.svg');
  mask-image: url('https://simpleicons.org/icons/microsoftsharepoint.svg');
}

article a[href*='microsoft.com/sql-server']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/microsoftsqlserver.svg');
  mask-image: url('https://simpleicons.org/icons/microsoftsqlserver.svg');
}

article a[href*='teams.microsoft.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/microsoftteams.svg');
  mask-image: url('https://simpleicons.org/icons/microsoftteams.svg');
}

article a[href*='translator.microsoft.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/microsofttranslator.svg');
  mask-image: url('https://simpleicons.org/icons/microsofttranslator.svg');
}

article a[href*='visio.microsoft.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/microsoftvisio.svg');
  mask-image: url('https://simpleicons.org/icons/microsoftvisio.svg');
}

article a[href*='word.office.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/microsoftword.svg');
  mask-image: url('https://simpleicons.org/icons/microsoftword.svg');
}

article a[href*='microstrategy.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/microstrategy.svg');
  mask-image: url('https://simpleicons.org/icons/microstrategy.svg');
}

article a[href*='midi.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/midi.svg');
  mask-image: url('https://simpleicons.org/icons/midi.svg');
}

article a[href*='minds.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/minds.svg');
  mask-image: url('https://simpleicons.org/icons/minds.svg');
}

article a[href*='minecraft.net']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/minecraft.svg');
  mask-image: url('https://simpleicons.org/icons/minecraft.svg');
}

article a[href*='minetest.net']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/minetest.svg');
  mask-image: url('https://simpleicons.org/icons/minetest.svg');
}

article a[href*='mini.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/mini.svg');
  mask-image: url('https://simpleicons.org/icons/mini.svg');
}

article a[href*='minutemailer.net']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/minutemailer.svg');
  mask-image: url('https://simpleicons.org/icons/minutemailer.svg');
}

article a[href*='miro.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/miro.svg');
  mask-image: url('https://simpleicons.org/icons/miro.svg');
}

article a[href*='mitsubishi-motors.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/mitsubishi.svg');
  mask-image: url('https://simpleicons.org/icons/mitsubishi.svg');
}

article a[href*='mix.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/mix.svg');
  mask-image: url('https://simpleicons.org/icons/mix.svg');
}

article a[href*='mixcloud.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/mixcloud.svg');
  mask-image: url('https://simpleicons.org/icons/mixcloud.svg');
}

article a[href*='mlb.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/mlb.svg');
  mask-image: url('https://simpleicons.org/icons/mlb.svg');
}

article a[href*='mlflow.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/mlflow.svg');
  mask-image: url('https://simpleicons.org/icons/mlflow.svg');
}

article a[href*='mobx.js.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/mobx.svg');
  mask-image: url('https://simpleicons.org/icons/mobx.svg');
}

article a[href*='mobx-state-tree.js.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/mobxstatetree.svg');
  mask-image: url('https://simpleicons.org/icons/mobxstatetree.svg');
}

article a[href*='mochajs.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/mocha.svg');
  mask-image: url('https://simpleicons.org/icons/mocha.svg');
}

article a[href*='modx.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/modx.svg');
  mask-image: url('https://simpleicons.org/icons/modx.svg');
}

article a[href*='mojang.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/mojangstudios.svg');
  mask-image: url('https://simpleicons.org/icons/mojangstudios.svg');
}

article a[href*='moleculer.services']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/moleculer.svg');
  mask-image: url('https://simpleicons.org/icons/moleculer.svg');
}

article a[href*='momenteo.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/momenteo.svg');
  mask-image: url('https://simpleicons.org/icons/momenteo.svg');
}

article a[href*='getmonero.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/monero.svg');
  mask-image: url('https://simpleicons.org/icons/monero.svg');
}

article a[href*='moneygram.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/moneygram.svg');
  mask-image: url('https://simpleicons.org/icons/moneygram.svg');
}

article a[href*='mongodb.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/mongodb.svg');
  mask-image: url('https://simpleicons.org/icons/mongodb.svg');
}

article a[href*='monkey-tie.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/monkeytie.svg');
  mask-image: url('https://simpleicons.org/icons/monkeytie.svg');
}

article a[href*='monogame.net']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/monogames.svg');
  mask-image: url('https://simpleicons.org/icons/monogames.svg');
}

article a[href*='monoprix.fr']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/monoprix.svg');
  mask-image: url('https://simpleicons.org/icons/monoprix.svg');
}

article a[href*='monster.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/monster.svg');
  mask-image: url('https://simpleicons.org/icons/monster.svg');
}

article a[href*='monzo.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/monzo.svg');
  mask-image: url('https://simpleicons.org/icons/monzo.svg');
}

article a[href*='moo.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/moo.svg');
  mask-image: url('https://simpleicons.org/icons/moo.svg');
}

article a[href*='moonrepo.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/moonrepo.svg');
  mask-image: url('https://simpleicons.org/icons/moonrepo.svg');
}

article a[href*='morrisons.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/morrisons.svg');
  mask-image: url('https://simpleicons.org/icons/morrisons.svg');
}

article a[href*='mosmetro.ru']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/moscowmetro.svg');
  mask-image: url('https://simpleicons.org/icons/moscowmetro.svg');
}

article a[href*='motorola.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/motorola.svg');
  mask-image: url('https://simpleicons.org/icons/motorola.svg');
}

article a[href*='mozilla.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/mozilla.svg');
  mask-image: url('https://simpleicons.org/icons/mozilla.svg');
}

article a[href*='mqtt.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/mqtt.svg');
  mask-image: url('https://simpleicons.org/icons/mqtt.svg');
}

article a[href*='msi.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/msi.svg');
  mask-image: url('https://simpleicons.org/icons/msi.svg');
}

article a[href*='msi-business.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/msibusiness.svg');
  mask-image: url('https://simpleicons.org/icons/msibusiness.svg');
}

article a[href*='mta.info']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/mta.svg');
  mask-image: url('https://simpleicons.org/icons/mta.svg');
}

article a[href*='mtr.com.hk']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/mtr.svg');
  mask-image: url('https://simpleicons.org/icons/mtr.svg');
}

article a[href*='mui.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/mui.svg');
  mask-image: url('https://simpleicons.org/icons/mui.svg');
}

article a[href*='mulesoft.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/mulesoft.svg');
  mask-image: url('https://simpleicons.org/icons/mulesoft.svg');
}

article a[href*='muller.co.uk']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/muller.svg');
  mask-image: url('https://simpleicons.org/icons/muller.svg');
}

article a[href*='mumble.info']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/mumble.svg');
  mask-image: url('https://simpleicons.org/icons/mumble.svg');
}

article a[href*='musescore.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/musescore.svg');
  mask-image: url('https://simpleicons.org/icons/musescore.svg');
}

article a[href*='musicbrainz.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/musicbrainz.svg');
  mask-image: url('https://simpleicons.org/icons/musicbrainz.svg');
}

article a[href*='mxlinux.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/mxlinux.svg');
  mask-image: url('https://simpleicons.org/icons/mxlinux.svg');
}

article a[href*='myanimelist.net']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/myanimelist.svg');
  mask-image: url('https://simpleicons.org/icons/myanimelist.svg');
}

article a[href*='myob.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/myob.svg');
  mask-image: url('https://simpleicons.org/icons/myob.svg');
}

article a[href*='myspace.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/myspace.svg');
  mask-image: url('https://simpleicons.org/icons/myspace.svg');
}

article a[href*='mysql.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/mysql.svg');
  mask-image: url('https://simpleicons.org/icons/mysql.svg');
}
