article a[href*='p5js.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/p5dotjs.svg');
  mask-image: url('https://simpleicons.org/icons/p5dotjs.svg');
}

article a[href*='packagist.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/packagist.svg');
  mask-image: url('https://simpleicons.org/icons/packagist.svg');
}

article a[href*='packer.io']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/packer.svg');
  mask-image: url('https://simpleicons.org/icons/packer.svg');
}

article a[href*='paddypower.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/paddypower.svg');
  mask-image: url('https://simpleicons.org/icons/paddypower.svg');
}

article a[href*='pagekit.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/pagekit.svg');
  mask-image: url('https://simpleicons.org/icons/pagekit.svg');
}

article a[href*='pagerduty.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/pagerduty.svg');
  mask-image: url('https://simpleicons.org/icons/pagerduty.svg');
}

article a[href*='developers.google.com/speed/pagespeed/insights']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/pagespeedinsights.svg');
  mask-image: url('https://simpleicons.org/icons/pagespeedinsights.svg');
}

article a[href*='pagseguro.com.br']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/pagseguro.svg');
  mask-image: url('https://simpleicons.org/icons/pagseguro.svg');
}

article a[href*='palantir.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/palantir.svg');
  mask-image: url('https://simpleicons.org/icons/palantir.svg');
}

article a[href*='paloaltosoftware.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/paloaltosoftware.svg');
  mask-image: url('https://simpleicons.org/icons/paloaltosoftware.svg');
}

article a[href*='pandas.pydata.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/pandas.svg');
  mask-image: url('https://simpleicons.org/icons/pandas.svg');
}

article a[href*='pandora.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/pandora.svg');
  mask-image: url('https://simpleicons.org/icons/pandora.svg');
}

article a[href*='pantheon.io']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/pantheon.svg');
  mask-image: url('https://simpleicons.org/icons/pantheon.svg');
}

article a[href*='paperspace.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/paperspace.svg');
  mask-image: url('https://simpleicons.org/icons/paperspace.svg');
}

article a[href*='substrate.dev']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/paritysubstrate.svg');
  mask-image: url('https://simpleicons.org/icons/paritysubstrate.svg');
}

article a[href*='parsedotly.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/parsedotly.svg');
  mask-image: url('https://simpleicons.org/icons/parsedotly.svg');
}

article a[href*='passportjs.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/passport.svg');
  mask-image: url('https://simpleicons.org/icons/passport.svg');
}

article a[href*='pastebin.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/pastebin.svg');
  mask-image: url('https://simpleicons.org/icons/pastebin.svg');
}

article a[href*='patreon.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/patreon.svg');
  mask-image: url('https://simpleicons.org/icons/patreon.svg');
}

article a[href*='payoneer.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/payoneer.svg');
  mask-image: url('https://simpleicons.org/icons/payoneer.svg');
}

article a[href*='paypal.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/paypal.svg');
  mask-image: url('https://simpleicons.org/icons/paypal.svg');
}

article a[href*='paytm.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/paytm.svg');
  mask-image: url('https://simpleicons.org/icons/paytm.svg');
}

article a[href*='pcgamingwiki.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/pcgamingwiki.svg');
  mask-image: url('https://simpleicons.org/icons/pcgamingwiki.svg');
}

article a[href*='peakdesign.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/peakdesign.svg');
  mask-image: url('https://simpleicons.org/icons/peakdesign.svg');
}

article a[href*='joinpeertube.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/peertube.svg');
  mask-image: url('https://simpleicons.org/icons/peertube.svg');
}

article a[href*='pegasusairlines.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/pegasusairlines.svg');
  mask-image: url('https://simpleicons.org/icons/pegasusairlines.svg');
}

article a[href*='getpelican.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/pelican.svg');
  mask-image: url('https://simpleicons.org/icons/pelican.svg');
}

article a[href*='onepeloton.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/peloton.svg');
  mask-image: url('https://simpleicons.org/icons/peloton.svg');
}

article a[href*='pennyapp.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/penny.svg');
  mask-image: url('https://simpleicons.org/icons/penny.svg');
}

article a[href*='penpot.app']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/penpot.svg');
  mask-image: url('https://simpleicons.org/icons/penpot.svg');
}

article a[href*='pepsi.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/pepsi.svg');
  mask-image: url('https://simpleicons.org/icons/pepsi.svg');
}

article a[href*='percy.io']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/percy.svg');
  mask-image: url('https://simpleicons.org/icons/percy.svg');
}

article a[href*='perforce.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/perforce.svg');
  mask-image: url('https://simpleicons.org/icons/perforce.svg');
}

article a[href*='perl.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/perl.svg');
  mask-image: url('https://simpleicons.org/icons/perl.svg');
}

article a[href*='persistent.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/persistent.svg');
  mask-image: url('https://simpleicons.org/icons/persistent.svg');
}

article a[href*='personio.de']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/personio.svg');
  mask-image: url('https://simpleicons.org/icons/personio.svg');
}

article a[href*='petsathome.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/petsathome.svg');
  mask-image: url('https://simpleicons.org/icons/petsathome.svg');
}

article a[href*='peugeot.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/peugeot.svg');
  mask-image: url('https://simpleicons.org/icons/peugeot.svg');
}

article a[href*='pexels.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/pexels.svg');
  mask-image: url('https://simpleicons.org/icons/pexels.svg');
}

article a[href*='pfsense.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/pfsense.svg');
  mask-image: url('https://simpleicons.org/icons/pfsense.svg');
}

article a[href*='phacility.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/phabricator.svg');
  mask-image: url('https://simpleicons.org/icons/phabricator.svg');
}

article a[href*='philips-hue.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/philipshue.svg');
  mask-image: url('https://simpleicons.org/icons/philipshue.svg');
}

article a[href*='phonepe.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/phonepe.svg');
  mask-image: url('https://simpleicons.org/icons/phonepe.svg');
}

article a[href*='photobucket.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/photobucket.svg');
  mask-image: url('https://simpleicons.org/icons/photobucket.svg');
}

article a[href*='photocrowd.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/photocrowd.svg');
  mask-image: url('https://simpleicons.org/icons/photocrowd.svg');
}

article a[href*='photopea.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/photopea.svg');
  mask-image: url('https://simpleicons.org/icons/photopea.svg');
}

article a[href*='php.net']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/php.svg');
  mask-image: url('https://simpleicons.org/icons/php.svg');
}

article a[href*='phpmyadmin.net']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/phpmyadmin.svg');
  mask-image: url('https://simpleicons.org/icons/phpmyadmin.svg');
}

article a[href*='jetbrains.com/phpstorm']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/phpstorm.svg');
  mask-image: url('https://simpleicons.org/icons/phpstorm.svg');
}

article a[href*='pi-hole.net']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/pihole.svg');
  mask-image: url('https://simpleicons.org/icons/pihole.svg');
}

article a[href*='picardsurgeles.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/picardsurgeles.svg');
  mask-image: url('https://simpleicons.org/icons/picardsurgeles.svg');
}

article a[href*='picarto.tv']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/picartodottv.svg');
  mask-image: url('https://simpleicons.org/icons/picartodottv.svg');
}

article a[href*='picnic.app']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/picnic.svg');
  mask-image: url('https://simpleicons.org/icons/picnic.svg');
}

article a[href*='picpay.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/picpay.svg');
  mask-image: url('https://simpleicons.org/icons/picpay.svg');
}

article a[href*='pimcore.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/pimcore.svg');
  mask-image: url('https://simpleicons.org/icons/pimcore.svg');
}

article a[href*='pinboard.in']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/pinboard.svg');
  mask-image: url('https://simpleicons.org/icons/pinboard.svg');
}

article a[href*='pingdom.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/pingdom.svg');
  mask-image: url('https://simpleicons.org/icons/pingdom.svg');
}

article a[href*='pinterest.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/pinterest.svg');
  mask-image: url('https://simpleicons.org/icons/pinterest.svg');
}

article a[href*='pioneerdj.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/pioneerdj.svg');
  mask-image: url('https://simpleicons.org/icons/pioneerdj.svg');
}

article a[href*='pivotaltracker.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/pivotaltracker.svg');
  mask-image: url('https://simpleicons.org/icons/pivotaltracker.svg');
}

article a[href*='piwigo.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/piwigo.svg');
  mask-image: url('https://simpleicons.org/icons/piwigo.svg');
}

article a[href*='pix.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/pix.svg');
  mask-image: url('https://simpleicons.org/icons/pix.svg');
}

article a[href*='pixabay.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/pixabay.svg');
  mask-image: url('https://simpleicons.org/icons/pixabay.svg');
}

article a[href*='pixiv.net']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/pixiv.svg');
  mask-image: url('https://simpleicons.org/icons/pixiv.svg');
}

article a[href*='pkgsrc.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/pkgsrc.svg');
  mask-image: url('https://simpleicons.org/icons/pkgsrc.svg');
}

article a[href*='planet.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/planet.svg');
  mask-image: url('https://simpleicons.org/icons/planet.svg');
}

article a[href*='planetscale.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/planetscale.svg');
  mask-image: url('https://simpleicons.org/icons/planetscale.svg');
}

article a[href*='plangrid.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/plangrid.svg');
  mask-image: url('https://simpleicons.org/icons/plangrid.svg');
}

article a[href*='platform.sh']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/platformdotsh.svg');
  mask-image: url('https://simpleicons.org/icons/platformdotsh.svg');
}

article a[href*='platzi.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/platzi.svg');
  mask-image: url('https://simpleicons.org/icons/platzi.svg');
}

article a[href*='plausible.io']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/plausibleanalytics.svg');
  mask-image: url('https://simpleicons.org/icons/plausibleanalytics.svg');
}

article a[href*='playcanvas.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/playcanvas.svg');
  mask-image: url('https://simpleicons.org/icons/playcanvas.svg');
}

article a[href*='player.fm']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/playerfm.svg');
  mask-image: url('https://simpleicons.org/icons/playerfm.svg');
}

article a[href*='player.me']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/playerdotme.svg');
  mask-image: url('https://simpleicons.org/icons/playerdotme.svg');
}

article a[href*='playstation.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/playstation.svg');
  mask-image: url('https://simpleicons.org/icons/playstation.svg');
}

article a[href*='playstation.com/ps2']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/playstation2.svg');
  mask-image: url('https://simpleicons.org/icons/playstation2.svg');
}

article a[href*='playstation.com/ps3']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/playstation3.svg');
  mask-image: url('https://simpleicons.org/icons/playstation3.svg');
}

article a[href*='playstation.com/ps4']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/playstation4.svg');
  mask-image: url('https://simpleicons.org/icons/playstation4.svg');
}

article a[href*='playstation.com/ps5']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/playstation5.svg');
  mask-image: url('https://simpleicons.org/icons/playstation5.svg');
}

article a[href*='playstation.com/vita']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/playstationvita.svg');
  mask-image: url('https://simpleicons.org/icons/playstationvita.svg');
}

article a[href*='playwright.dev']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/playwright.svg');
  mask-image: url('https://simpleicons.org/icons/playwright.svg');
}

article a[href*='pleroma.social']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/pleroma.svg');
  mask-image: url('https://simpleicons.org/icons/pleroma.svg');
}

article a[href*='plesk.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/plesk.svg');
  mask-image: url('https://simpleicons.org/icons/plesk.svg');
}

article a[href*='plex.tv']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/plex.svg');
  mask-image: url('https://simpleicons.org/icons/plex.svg');
}

article a[href*='plotly.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/plotly.svg');
  mask-image: url('https://simpleicons.org/icons/plotly.svg');
}

article a[href*='pluralsight.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/pluralsight.svg');
  mask-image: url('https://simpleicons.org/icons/pluralsight.svg');
}

article a[href*='plurk.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/plurk.svg');
  mask-image: url('https://simpleicons.org/icons/plurk.svg');
}

article a[href*='plus.codes']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/pluscodes.svg');
  mask-image: url('https://simpleicons.org/icons/pluscodes.svg');
}

article a[href*='pm2.io']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/pm2.svg');
  mask-image: url('https://simpleicons.org/icons/pm2.svg');
}

article a[href*='pnpm.io']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/pnpm.svg');
  mask-image: url('https://simpleicons.org/icons/pnpm.svg');
}

article a[href*='getpocket.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/pocket.svg');
  mask-image: url('https://simpleicons.org/icons/pocket.svg');
}

article a[href*='pocketcasts.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/pocketcasts.svg');
  mask-image: url('https://simpleicons.org/icons/pocketcasts.svg');
}

article a[href*='pocketbase.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/pocketbase.svg');
  mask-image: url('https://simpleicons.org/icons/pocketbase.svg');
}

article a[href*='podcastaddict.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/podcastaddict.svg');
  mask-image: url('https://simpleicons.org/icons/podcastaddict.svg');
}

article a[href*='podman.io']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/podman.svg');
  mask-image: url('https://simpleicons.org/icons/podman.svg');
}

article a[href*='python-poetry.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/poetry.svg');
  mask-image: url('https://simpleicons.org/icons/poetry.svg');
}

article a[href*='pointy.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/pointy.svg');
  mask-image: url('https://simpleicons.org/icons/pointy.svg');
}

article a[href*='pokemon.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/pokemon.svg');
  mask-image: url('https://simpleicons.org/icons/pokemon.svg');
}

article a[href*='polkadot.network']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/polkadot.svg');
  mask-image: url('https://simpleicons.org/icons/polkadot.svg');
}

article a[href*='poly.ai']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/poly.svg');
  mask-image: url('https://simpleicons.org/icons/poly.svg');
}

article a[href*='polymer-project.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/polymerproject.svg');
  mask-image: url('https://simpleicons.org/icons/polymerproject.svg');
}

article a[href*='polywork.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/polywork.svg');
  mask-image: url('https://simpleicons.org/icons/polywork.svg');
}

article a[href*='pop.system76.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/popos.svg');
  mask-image: url('https://simpleicons.org/icons/popos.svg');
}

article a[href*='porsche.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/porsche.svg');
  mask-image: url('https://simpleicons.org/icons/porsche.svg');
}

article a[href*='portainer.io']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/portainer.svg');
  mask-image: url('https://simpleicons.org/icons/portainer.svg');
}

article a[href*='postcss.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/postcss.svg');
  mask-image: url('https://simpleicons.org/icons/postcss.svg');
}

article a[href*='postgresql.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/postgresql.svg');
  mask-image: url('https://simpleicons.org/icons/postgresql.svg');
}

article a[href*='postman.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/postman.svg');
  mask-image: url('https://simpleicons.org/icons/postman.svg');
}

article a[href*='postmates.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/postmates.svg');
  mask-image: url('https://simpleicons.org/icons/postmates.svg');
}

article a[href*='powerapps.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/powerapps.svg');
  mask-image: url('https://simpleicons.org/icons/powerapps.svg');
}

article a[href*='flow.microsoft.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/powerautomate.svg');
  mask-image: url('https://simpleicons.org/icons/powerautomate.svg');
}

article a[href*='powerbi.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/powerbi.svg');
  mask-image: url('https://simpleicons.org/icons/powerbi.svg');
}

article a[href*='powerfx.microsoft.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/powerfx.svg');
  mask-image: url('https://simpleicons.org/icons/powerfx.svg');
}

article a[href*='powerpages.microsoft.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/powerpages.svg');
  mask-image: url('https://simpleicons.org/icons/powerpages.svg');
}

article a[href*='powervirtualagents.microsoft.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/powervirtualagents.svg');
  mask-image: url('https://simpleicons.org/icons/powervirtualagents.svg');
}

article a[href*='powers.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/powers.svg');
  mask-image: url('https://simpleicons.org/icons/powers.svg');
}

article a[href*='microsoft.com/powershell']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/powershell.svg');
  mask-image: url('https://simpleicons.org/icons/powershell.svg');
}

article a[href*='pr.co']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/prdotco.svg');
  mask-image: url('https://simpleicons.org/icons/prdotco.svg');
}

article a[href*='pre-commit.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/precommit.svg');
  mask-image: url('https://simpleicons.org/icons/precommit.svg');
}

article a[href*='preactjs.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/preact.svg');
  mask-image: url('https://simpleicons.org/icons/preact.svg');
}

article a[href*='premierleague.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/premierleague.svg');
  mask-image: url('https://simpleicons.org/icons/premierleague.svg');
}

article a[href*='prestashop.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/prestashop.svg');
  mask-image: url('https://simpleicons.org/icons/prestashop.svg');
}

article a[href*='prestodb.io']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/presto.svg');
  mask-image: url('https://simpleicons.org/icons/presto.svg');
}

article a[href*='prettier.io']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/prettier.svg');
  mask-image: url('https://simpleicons.org/icons/prettier.svg');
}

article a[href*='prevention.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/prevention.svg');
  mask-image: url('https://simpleicons.org/icons/prevention.svg');
}

article a[href*='prezi.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/prezi.svg');
  mask-image: url('https://simpleicons.org/icons/prezi.svg');
}

article a[href*='primevideo.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/prime.svg');
  mask-image: url('https://simpleicons.org/icons/prime.svg');
}

article a[href*='primevideo.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/primevideo.svg');
  mask-image: url('https://simpleicons.org/icons/primevideo.svg');
}

article a[href*='prisma.io']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/prisma.svg');
  mask-image: url('https://simpleicons.org/icons/prisma.svg');
}

article a[href*='prismic.io']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/prismic.svg');
  mask-image: url('https://simpleicons.org/icons/prismic.svg');
}

article a[href*='privateinternetaccess.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/privateinternetaccess.svg');
  mask-image: url('https://simpleicons.org/icons/privateinternetaccess.svg');
}

article a[href*='avid.com/pro-tools']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/protools.svg');
  mask-image: url('https://simpleicons.org/icons/protools.svg');
}

article a[href*='probot.github.io']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/probot.svg');
  mask-image: url('https://simpleicons.org/icons/probot.svg');
}

article a[href*='processingfoundation.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/processingfoundation.svg');
  mask-image: url('https://simpleicons.org/icons/processingfoundation.svg');
}

article a[href*='processwire.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/processwire.svg');
  mask-image: url('https://simpleicons.org/icons/processwire.svg');
}

article a[href*='producthunt.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/producthunt.svg');
  mask-image: url('https://simpleicons.org/icons/producthunt.svg');
}

article a[href*='progate.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/progate.svg');
  mask-image: url('https://simpleicons.org/icons/progate.svg');
}

article a[href*='progress.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/progress.svg');
  mask-image: url('https://simpleicons.org/icons/progress.svg');
}

article a[href*='prometheus.io']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/prometheus.svg');
  mask-image: url('https://simpleicons.org/icons/prometheus.svg');
}

article a[href*='prosieben.de']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/prosieben.svg');
  mask-image: url('https://simpleicons.org/icons/prosieben.svg');
}

article a[href*='proto.io']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/protodotio.svg');
  mask-image: url('https://simpleicons.org/icons/protodotio.svg');
}

article a[href*='protocols.io']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/protocolsdotio.svg');
  mask-image: url('https://simpleicons.org/icons/protocolsdotio.svg');
}

article a[href*='protondb.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/protondb.svg');
  mask-image: url('https://simpleicons.org/icons/protondb.svg');
}

article a[href*='protonmail.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/protonmail.svg');
  mask-image: url('https://simpleicons.org/icons/protonmail.svg');
}

article a[href*='protonvpn.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/protonvpn.svg');
  mask-image: url('https://simpleicons.org/icons/protonvpn.svg');
}

article a[href*='protractortest.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/protractor.svg');
  mask-image: url('https://simpleicons.org/icons/protractor.svg');
}

article a[href*='proxmox.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/proxmox.svg');
  mask-image: url('https://simpleicons.org/icons/proxmox.svg');
}

article a[href*='pubg.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/pubg.svg');
  mask-image: url('https://simpleicons.org/icons/pubg.svg');
}

article a[href*='publons.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/publons.svg');
  mask-image: url('https://simpleicons.org/icons/publons.svg');
}

article a[href*='pubmed.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/pubmed.svg');
  mask-image: url('https://simpleicons.org/icons/pubmed.svg');
}

article a[href*='pugjs.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/pug.svg');
  mask-image: url('https://simpleicons.org/icons/pug.svg');
}

article a[href*='pulumi.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/pulumi.svg');
  mask-image: url('https://simpleicons.org/icons/pulumi.svg');
}

article a[href*='puma.io']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/puma.svg');
  mask-image: url('https://simpleicons.org/icons/puma.svg');
}

article a[href*='puppet.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/puppet.svg');
  mask-image: url('https://simpleicons.org/icons/puppet.svg');
}

article a[href*='puppeteer.dev']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/puppeteer.svg');
  mask-image: url('https://simpleicons.org/icons/puppeteer.svg');
}

article a[href*='purescript.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/purescript.svg');
  mask-image: url('https://simpleicons.org/icons/purescript.svg');
}

article a[href*='purgecss.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/purgecss.svg');
  mask-image: url('https://simpleicons.org/icons/purgecss.svg');
}

article a[href*='puri.sm']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/purism.svg');
  mask-image: url('https://simpleicons.org/icons/purism.svg');
}

article a[href*='pusher.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/pusher.svg');
  mask-image: url('https://simpleicons.org/icons/pusher.svg');
}

article a[href*='pwa.rocks']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/pwa.svg');
  mask-image: url('https://simpleicons.org/icons/pwa.svg');
}

article a[href*='jetbrains.com/pycharm']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/pycharm.svg');
  mask-image: url('https://simpleicons.org/icons/pycharm.svg');
}

article a[href*='pyg.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/pyg.svg');
  mask-image: url('https://simpleicons.org/icons/pyg.svg');
}

article a[href*='pypi.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/pypi.svg');
  mask-image: url('https://simpleicons.org/icons/pypi.svg');
}

article a[href*='pypy.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/pypy.svg');
  mask-image: url('https://simpleicons.org/icons/pypy.svg');
}

article a[href*='pyscaffold.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/pyscaffold.svg');
  mask-image: url('https://simpleicons.org/icons/pyscaffold.svg');
}

article a[href*='pysyft.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/pysyft.svg');
  mask-image: url('https://simpleicons.org/icons/pysyft.svg');
}

article a[href*='pytest.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/pytest.svg');
  mask-image: url('https://simpleicons.org/icons/pytest.svg');
}

article a[href*='python.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/python.svg');
  mask-image: url('https://simpleicons.org/icons/python.svg');
}

article a[href*='pytorch.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/pytorch.svg');
  mask-image: url('https://simpleicons.org/icons/pytorch.svg');
}

article a[href*='pytorchlightning.ai']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/pytorchlightning.svg');
  mask-image: url('https://simpleicons.org/icons/pytorchlightning.svg');
}

article a[href*='pyup.io']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/pyup.svg');
  mask-image: url('https://simpleicons.org/icons/pyup.svg');
}
