article a[href*='r3.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/R.svg');
  mask-image: url('https://simpleicons.org/icons/R.svg');
}

article a[href*='r3.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/r3.svg');
  mask-image: url('https://simpleicons.org/icons/r3.svg');
}

article a[href*='rabbitmq.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/rabbitmq.svg');
  mask-image: url('https://simpleicons.org/icons/rabbitmq.svg');
}

article a[href*='racket-lang.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/racket.svg');
  mask-image: url('https://simpleicons.org/icons/racket.svg');
}

article a[href*='radar.io']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/radar.svg');
  mask-image: url('https://simpleicons.org/icons/radar.svg');
}

article a[href*='radiopublic.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/radiopublic.svg');
  mask-image: url('https://simpleicons.org/icons/radiopublic.svg');
}

article a[href*='railway.app']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/railway.svg');
  mask-image: url('https://simpleicons.org/icons/railway.svg');
}

article a[href*='rainmeter.net']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/rainmeter.svg');
  mask-image: url('https://simpleicons.org/icons/rainmeter.svg');
}

article a[href*='rakuten.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/rakuten.svg');
  mask-image: url('https://simpleicons.org/icons/rakuten.svg');
}

article a[href*='ram.moe']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/ram.svg');
  mask-image: url('https://simpleicons.org/icons/ram.svg');
}

article a[href*='rancher.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/rancher.svg');
  mask-image: url('https://simpleicons.org/icons/rancher.svg');
}

article a[href*='rarible.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/rarible.svg');
  mask-image: url('https://simpleicons.org/icons/rarible.svg');
}

article a[href*='rasa.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/rasa.svg');
  mask-image: url('https://simpleicons.org/icons/rasa.svg');
}

article a[href*='raspberrypi.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/raspberrypi.svg');
  mask-image: url('https://simpleicons.org/icons/raspberrypi.svg');
}

article a[href*='ravelry.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/ravelry.svg');
  mask-image: url('https://simpleicons.org/icons/ravelry.svg');
}

article a[href*='ray.io']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/ray.svg');
  mask-image: url('https://simpleicons.org/icons/ray.svg');
}

article a[href*='razer.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/razer.svg');
  mask-image: url('https://simpleicons.org/icons/razer.svg');
}

article a[href*='razorpay.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/razorpay.svg');
  mask-image: url('https://simpleicons.org/icons/razorpay.svg');
}

article a[href*='reactjs.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/react.svg');
  mask-image: url('https://simpleicons.org/icons/react.svg');
}

article a[href*='react-hook-form.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/reacthookform.svg');
  mask-image: url('https://simpleicons.org/icons/reacthookform.svg');
}

article a[href*='react-query.tanstack.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/reactquery.svg');
  mask-image: url('https://simpleicons.org/icons/reactquery.svg');
}

article a[href*='reactrouter.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/reactrouter.svg');
  mask-image: url('https://simpleicons.org/icons/reactrouter.svg');
}

article a[href*='react-table.tanstack.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/reacttable.svg');
  mask-image: url('https://simpleicons.org/icons/reacttable.svg');
}

article a[href*='reactivex.io']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/reactivex.svg');
  mask-image: url('https://simpleicons.org/icons/reactivex.svg');
}

article a[href*='reactos.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/reactos.svg');
  mask-image: url('https://simpleicons.org/icons/reactos.svg');
}

article a[href*='readthedocs.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/readthedocs.svg');
  mask-image: url('https://simpleicons.org/icons/readthedocs.svg');
}

article a[href*='readme.io']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/readme.svg');
  mask-image: url('https://simpleicons.org/icons/readme.svg');
}

article a[href*='realm.io']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/realm.svg');
  mask-image: url('https://simpleicons.org/icons/realm.svg');
}

article a[href*='reasonml.github.io']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/reason.svg');
  mask-image: url('https://simpleicons.org/icons/reason.svg');
}

article a[href*='reasonstudios.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/reasonstudios.svg');
  mask-image: url('https://simpleicons.org/icons/reasonstudios.svg');
}

article a[href*='red-lang.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/red.svg');
  mask-image: url('https://simpleicons.org/icons/red.svg');
}

article a[href*='redhat.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/redhat.svg');
  mask-image: url('https://simpleicons.org/icons/redhat.svg');
}

article a[href*='openshift.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/redhatopenshift.svg');
  mask-image: url('https://simpleicons.org/icons/redhatopenshift.svg');
}

article a[href*='redbubble.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/redbubble.svg');
  mask-image: url('https://simpleicons.org/icons/redbubble.svg');
}

article a[href*='reddit.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/reddit.svg');
  mask-image: url('https://simpleicons.org/icons/reddit.svg');
}

article a[href*='redis.io']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/redis.svg');
  mask-image: url('https://simpleicons.org/icons/redis.svg');
}

article a[href*='redmine.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/redmine.svg');
  mask-image: url('https://simpleicons.org/icons/redmine.svg');
}

article a[href*='redux.js.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/redux.svg');
  mask-image: url('https://simpleicons.org/icons/redux.svg');
}

article a[href*='redux-saga.js.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/reduxsaga.svg');
  mask-image: url('https://simpleicons.org/icons/reduxsaga.svg');
}

article a[href*='redwoodjs.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/redwoodjs.svg');
  mask-image: url('https://simpleicons.org/icons/redwoodjs.svg');
}

article a[href*='reebok.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/reebok.svg');
  mask-image: url('https://simpleicons.org/icons/reebok.svg');
}

article a[href*='relay.dev']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/relay.svg');
  mask-image: url('https://simpleicons.org/icons/relay.svg');
}

article a[href*='ril.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/relianceindustrieslimited.svg');
  mask-image: url('https://simpleicons.org/icons/relianceindustrieslimited.svg');
}

article a[href*='remix.run']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/remix.svg');
  mask-image: url('https://simpleicons.org/icons/remix.svg');
}

article a[href*='renpy.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/renpy.svg');
  mask-image: url('https://simpleicons.org/icons/renpy.svg');
}

article a[href*='renault.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/renault.svg');
  mask-image: url('https://simpleicons.org/icons/renault.svg');
}

article a[href*='render.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/render.svg');
  mask-image: url('https://simpleicons.org/icons/render.svg');
}

article a[href*='renovatebot.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/renovatebot.svg');
  mask-image: url('https://simpleicons.org/icons/renovatebot.svg');
}

article a[href*='renren.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/renren.svg');
  mask-image: url('https://simpleicons.org/icons/renren.svg');
}

article a[href*='repl.it']::before,
article a[href*='replit.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/replit.svg');
  mask-image: url('https://simpleicons.org/icons/replit.svg');
}

article a[href*='rog.asus.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/republicofgamers.svg');
  mask-image: url('https://simpleicons.org/icons/republicofgamers.svg');
}

article a[href*='rescript-lang.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/rescript.svg');
  mask-image: url('https://simpleicons.org/icons/rescript.svg');
}

article a[href*='rescuetime.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/rescuetime.svg');
  mask-image: url('https://simpleicons.org/icons/rescuetime.svg');
}

article a[href*='researchgate.net']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/researchgate.svg');
  mask-image: url('https://simpleicons.org/icons/researchgate.svg');
}

article a[href*='jetbrains.com/resharper']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/resharper.svg');
  mask-image: url('https://simpleicons.org/icons/resharper.svg');
}

article a[href*='resurrectionremix.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/resurrectionremixos.svg');
  mask-image: url('https://simpleicons.org/icons/resurrectionremixos.svg');
}

article a[href*='retroarch.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/retroarch.svg');
  mask-image: url('https://simpleicons.org/icons/retroarch.svg');
}

article a[href*='retropie.org.uk']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/retropie.svg');
  mask-image: url('https://simpleicons.org/icons/retropie.svg');
}

article a[href*='revealjs.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/revealdotjs.svg');
  mask-image: url('https://simpleicons.org/icons/revealdotjs.svg');
}

article a[href*='reverbnation.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/reverbnation.svg');
  mask-image: url('https://simpleicons.org/icons/reverbnation.svg');
}

article a[href*='revolt.chat']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/revoltdotchat.svg');
  mask-image: url('https://simpleicons.org/icons/revoltdotchat.svg');
}

article a[href*='revolut.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/revolut.svg');
  mask-image: url('https://simpleicons.org/icons/revolut.svg');
}

article a[href*='revue.co']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/revue.svg');
  mask-image: url('https://simpleicons.org/icons/revue.svg');
}

article a[href*='rewe.de']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/rewe.svg');
  mask-image: url('https://simpleicons.org/icons/rewe.svg');
}

article a[href*='rezgo.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/rezgo.svg');
  mask-image: url('https://simpleicons.org/icons/rezgo.svg');
}

article a[href*='mcneel.com/rhino']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/rhinoceros.svg');
  mask-image: url('https://simpleicons.org/icons/rhinoceros.svg');
}

article a[href*='jetbrains.com/rider']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/rider.svg');
  mask-image: url('https://simpleicons.org/icons/rider.svg');
}

article a[href*='rimac-automobili.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/rimacautomobili.svg');
  mask-image: url('https://simpleicons.org/icons/rimacautomobili.svg');
}

article a[href*='ring.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/ring.svg');
  mask-image: url('https://simpleicons.org/icons/ring.svg');
}

article a[href*='riotgames.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/riotgames.svg');
  mask-image: url('https://simpleicons.org/icons/riotgames.svg');
}

article a[href*='ripple.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/ripple.svg');
  mask-image: url('https://simpleicons.org/icons/ripple.svg');
}

article a[href*='riseup.net']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/riseup.svg');
  mask-image: url('https://simpleicons.org/icons/riseup.svg');
}

article a[href*='roamresearch.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/roamresearch.svg');
  mask-image: url('https://simpleicons.org/icons/roamresearch.svg');
}

article a[href*='roblox.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/roblox.svg');
  mask-image: url('https://simpleicons.org/icons/roblox.svg');
}

article a[href*='robotframework.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/robotframework.svg');
  mask-image: url('https://simpleicons.org/icons/robotframework.svg');
}

article a[href*='rocket.chat']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/rocketdotchat.svg');
  mask-image: url('https://simpleicons.org/icons/rocketdotchat.svg');
}

article a[href*='rocksdb.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/rocksdb.svg');
  mask-image: url('https://simpleicons.org/icons/rocksdb.svg');
}

article a[href*='rockylinux.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/rockylinux.svg');
  mask-image: url('https://simpleicons.org/icons/rockylinux.svg');
}

article a[href*='roku.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/roku.svg');
  mask-image: url('https://simpleicons.org/icons/roku.svg');
}

article a[href*='rolls-royce.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/rollsroyce.svg');
  mask-image: url('https://simpleicons.org/icons/rollsroyce.svg');
}

article a[href*='rollupjs.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/rollupdotjs.svg');
  mask-image: url('https://simpleicons.org/icons/rollupdotjs.svg');
}

article a[href*='romefrontend.dev']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/rome.svg');
  mask-image: url('https://simpleicons.org/icons/rome.svg');
}

article a[href*='roots.io']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/roots.svg');
  mask-image: url('https://simpleicons.org/icons/roots.svg');
}

article a[href*='roots.io/bedrock']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/rootsbedrock.svg');
  mask-image: url('https://simpleicons.org/icons/rootsbedrock.svg');
}

article a[href*='roots.io/sage']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/rootssage.svg');
  mask-image: url('https://simpleicons.org/icons/rootssage.svg');
}

article a[href*='ros.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/ros.svg');
  mask-image: url('https://simpleicons.org/icons/ros.svg');
}

article a[href*='rossmann.de']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/rossmann.svg');
  mask-image: url('https://simpleicons.org/icons/rossmann.svg');
}

article a[href*='rotary.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/rotaryinternational.svg');
  mask-image: url('https://simpleicons.org/icons/rotaryinternational.svg');
}

article a[href*='rottentomatoes.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/rottentomatoes.svg');
  mask-image: url('https://simpleicons.org/icons/rottentomatoes.svg');
}

article a[href*='roundcube.net']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/roundcube.svg');
  mask-image: url('https://simpleicons.org/icons/roundcube.svg');
}

article a[href*='rsocket.io']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/rsocket.svg');
  mask-image: url('https://simpleicons.org/icons/rsocket.svg');
}

article a[href*='rss.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/rss.svg');
  mask-image: url('https://simpleicons.org/icons/rss.svg');
}

article a[href*='rstudio.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/rstudio.svg');
  mask-image: url('https://simpleicons.org/icons/rstudio.svg');
}

article a[href*='rte.ie']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/rte.svg');
  mask-image: url('https://simpleicons.org/icons/rte.svg');
}

article a[href*='rtl.de']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/rtl.svg');
  mask-image: url('https://simpleicons.org/icons/rtl.svg');
}

article a[href*='rtlzwei.de']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/rtlzwei.svg');
  mask-image: url('https://simpleicons.org/icons/rtlzwei.svg');
}

article a[href*='rubocop.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/rubocop.svg');
  mask-image: url('https://simpleicons.org/icons/rubocop.svg');
}

article a[href*='ruby-lang.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/ruby.svg');
  mask-image: url('https://simpleicons.org/icons/ruby.svg');
}

article a[href*='rubyonrails.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/rubyonrails.svg');
  mask-image: url('https://simpleicons.org/icons/rubyonrails.svg');
}

article a[href*='sinatrarb.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/rubysinatra.svg');
  mask-image: url('https://simpleicons.org/icons/rubysinatra.svg');
}

article a[href*='rubygems.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/rubygems.svg');
  mask-image: url('https://simpleicons.org/icons/rubygems.svg');
}

article a[href*='runkeeper.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/runkeeper.svg');
  mask-image: url('https://simpleicons.org/icons/runkeeper.svg');
}

article a[href*='runkit.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/runkit.svg');
  mask-image: url('https://simpleicons.org/icons/runkit.svg');
}

article a[href*='rust-lang.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/rust.svg');
  mask-image: url('https://simpleicons.org/icons/rust.svg');
}

article a[href*='rxdb.info']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/rxdb.svg');
  mask-image: url('https://simpleicons.org/icons/rxdb.svg');
}

article a[href*='ryanair.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/ryanair.svg');
  mask-image: url('https://simpleicons.org/icons/ryanair.svg');
}
