article a[href*='s7.ru']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/s7airlines.svg');
  mask-image: url('https://simpleicons.org/icons/s7airlines.svg');
}

article a[href*='sabanciuniv.edu']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/sabanci.svg');
  mask-image: url('https://simpleicons.org/icons/sabanci.svg');
}

article a[href*='webkit.org']::before,
article a[href*='webkit.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/sabanci.svg');
  mask-image: url('https://simpleicons.org/icons/sabanci.svg');
}

article a[href*='sahibinden.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/sahibinden.svg');
  mask-image: url('https://simpleicons.org/icons/sahibinden.svg');
}

article a[href*='sailfishos.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/sailfishos.svg');
  mask-image: url('https://simpleicons.org/icons/sailfishos.svg');
}

article a[href*='salesforce.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/salesforce.svg');
  mask-image: url('https://simpleicons.org/icons/salesforce.svg');
}

article a[href*='saltproject.io']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/saltproject.svg');
  mask-image: url('https://simpleicons.org/icons/saltproject.svg');
}

article a[href*='samsung.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/samsung.svg');
  mask-image: url('https://simpleicons.org/icons/samsung.svg');
}

article a[href*='samsung.com/samsungpay']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/samsungpay.svg');
  mask-image: url('https://simpleicons.org/icons/samsungpay.svg');
}

article a[href*='sfmta.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/sanfranciscomunicipalrailway.svg');
  mask-image: url('https://simpleicons.org/icons/sanfranciscomunicipalrailway.svg');
}

article a[href*='sandisk.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/sandisk.svg');
  mask-image: url('https://simpleicons.org/icons/sandisk.svg');
}

article a[href*='metro.sp.gov.br']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/saopaulometro.svg');
  mask-image: url('https://simpleicons.org/icons/saopaulometro.svg');
}

article a[href*='sap.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/sap.svg');
  mask-image: url('https://simpleicons.org/icons/sap.svg');
}

article a[href*='sass-lang.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/sass.svg');
  mask-image: url('https://simpleicons.org/icons/sass.svg');
}

article a[href*='sat1.de']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/sat1.svg');
  mask-image: url('https://simpleicons.org/icons/sat1.svg');
}

article a[href*='saturn.de']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/saturn.svg');
  mask-image: url('https://simpleicons.org/icons/saturn.svg');
}

article a[href*='saucelabs.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/saucelabs.svg');
  mask-image: url('https://simpleicons.org/icons/saucelabs.svg');
}

article a[href*='scala-lang.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/scala.svg');
  mask-image: url('https://simpleicons.org/icons/scala.svg');
}

article a[href*='scaleway.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/scaleway.svg');
  mask-image: url('https://simpleicons.org/icons/scaleway.svg');
}

article a[href*='scania.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/scania.svg');
  mask-image: url('https://simpleicons.org/icons/scania.svg');
}

article a[href*='schneider-electric.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/schneiderelectric.svg');
  mask-image: url('https://simpleicons.org/icons/schneiderelectric.svg');
}

article a[href*='scikit-learn.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/scikitlearn.svg');
  mask-image: url('https://simpleicons.org/icons/scikitlearn.svg');
}

article a[href*='scipy.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/scipy.svg');
  mask-image: url('https://simpleicons.org/icons/scipy.svg');
}

article a[href*='scopus.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/scopus.svg');
  mask-image: url('https://simpleicons.org/icons/scopus.svg');
}

article a[href*='scp-wiki.net']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/scpfoundation.svg');
  mask-image: url('https://simpleicons.org/icons/scpfoundation.svg');
}

article a[href*='scratch.mit.edu']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/scratch.svg');
  mask-image: url('https://simpleicons.org/icons/scratch.svg');
}

article a[href*='screencastify.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/screencastify.svg');
  mask-image: url('https://simpleicons.org/icons/screencastify.svg');
}

article a[href*='scribd.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/scribd.svg');
  mask-image: url('https://simpleicons.org/icons/scribd.svg');
}

article a[href*='scrimba.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/scrimba.svg');
  mask-image: url('https://simpleicons.org/icons/scrimba.svg');
}

article a[href*='scrollrevealjs.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/scrollreveal.svg');
  mask-image: url('https://simpleicons.org/icons/scrollreveal.svg');
}

article a[href*='scrumalliance.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/scrumalliance.svg');
  mask-image: url('https://simpleicons.org/icons/scrumalliance.svg');
}

article a[href*='scrutinizer-ci.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/scrutinizerci.svg');
  mask-image: url('https://simpleicons.org/icons/scrutinizerci.svg');
}

article a[href*='seagate.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/seagate.svg');
  mask-image: url('https://simpleicons.org/icons/seagate.svg');
}

article a[href*='seat.es']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/seat.svg');
  mask-image: url('https://simpleicons.org/icons/seat.svg');
}

article a[href*='securityscorecard.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/securityscorecard.svg');
  mask-image: url('https://simpleicons.org/icons/securityscorecard.svg');
}

article a[href*='sefaria.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/sefaria.svg');
  mask-image: url('https://simpleicons.org/icons/sefaria.svg');
}

article a[href*='sega.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/sega.svg');
  mask-image: url('https://simpleicons.org/icons/sega.svg');
}

article a[href*='selenium.dev']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/selenium.svg');
  mask-image: url('https://simpleicons.org/icons/selenium.svg');
}

article a[href*='sellfy.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/sellfy.svg');
  mask-image: url('https://simpleicons.org/icons/sellfy.svg');
}

article a[href*='semanticscholar.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/semanticscholar.svg');
  mask-image: url('https://simpleicons.org/icons/semanticscholar.svg');
}

article a[href*='react.semantic-ui.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/semanticuireact.svg');
  mask-image: url('https://simpleicons.org/icons/semanticuireact.svg');
}

article a[href*='semanticweb.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/semanticweb.svg');
  mask-image: url('https://simpleicons.org/icons/semanticweb.svg');
}

article a[href*='semantic-release.gitbook.io']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/semanticrelease.svg');
  mask-image: url('https://simpleicons.org/icons/semanticrelease.svg');
}

article a[href*='semaphoreci.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/semaphoreci.svg');
  mask-image: url('https://simpleicons.org/icons/semaphoreci.svg');
}

article a[href*='semver.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/semver.svg');
  mask-image: url('https://simpleicons.org/icons/semver.svg');
}

article a[href*='sencha.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/sencha.svg');
  mask-image: url('https://simpleicons.org/icons/sencha.svg');
}

article a[href*='sennheiser.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/sennheiser.svg');
  mask-image: url('https://simpleicons.org/icons/sennheiser.svg');
}

article a[href*='sensu.io']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/sensu.svg');
  mask-image: url('https://simpleicons.org/icons/sensu.svg');
}

article a[href*='sentry.io']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/sentry.svg');
  mask-image: url('https://simpleicons.org/icons/sentry.svg');
}

article a[href*='sepa.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/sepa.svg');
  mask-image: url('https://simpleicons.org/icons/sepa.svg');
}

article a[href*='sequelize.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/sequelize.svg');
  mask-image: url('https://simpleicons.org/icons/sequelize.svg');
}

article a[href*='serverfault.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/serverfault.svg');
  mask-image: url('https://simpleicons.org/icons/serverfault.svg');
}

article a[href*='serverless.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/serverless.svg');
  mask-image: url('https://simpleicons.org/icons/serverless.svg');
}

article a[href*='sessionize.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/sessionize.svg');
  mask-image: url('https://simpleicons.org/icons/sessionize.svg');
}

article a[href*='setapp.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/setapp.svg');
  mask-image: url('https://simpleicons.org/icons/setapp.svg');
}

article a[href*='sfml-dev.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/sfml.svg');
  mask-image: url('https://simpleicons.org/icons/sfml.svg');
}

article a[href*='shadow.tech']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/shadow.svg');
  mask-image: url('https://simpleicons.org/icons/shadow.svg');
}

article a[href*='shmetro.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/shanghaimetro.svg');
  mask-image: url('https://simpleicons.org/icons/shanghaimetro.svg');
}

article a[href*='sharp.pixelplumbing.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/sharp.svg');
  mask-image: url('https://simpleicons.org/icons/sharp.svg');
}

article a[href*='shazam.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/shazam.svg');
  mask-image: url('https://simpleicons.org/icons/shazam.svg');
}

article a[href*='shell.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/shell.svg');
  mask-image: url('https://simpleicons.org/icons/shell.svg');
}

article a[href*='shelly.cloud']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/shelly.svg');
  mask-image: url('https://simpleicons.org/icons/shelly.svg');
}

article a[href*='szmtr.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/shenzhenmetro.svg');
  mask-image: url('https://simpleicons.org/icons/shenzhenmetro.svg');
}

article a[href*='shields.io']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/shieldsdotio.svg');
  mask-image: url('https://simpleicons.org/icons/shieldsdotio.svg');
}

article a[href*='shikimori.one']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/shikimori.svg');
  mask-image: url('https://simpleicons.org/icons/shikimori.svg');
}

article a[href*='shopee.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/shopee.svg');
  mask-image: url('https://simpleicons.org/icons/shopee.svg');
}

article a[href*='shopify.com']::before,
article a[href*='shopify.enginnering']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/shopify.svg');
  mask-image: url('https://simpleicons.org/icons/shopify.svg');
}

article a[href*='shopware.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/shopware.svg');
  mask-image: url('https://simpleicons.org/icons/shopware.svg');
}

article a[href*='shotcut.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/shotcut.svg');
  mask-image: url('https://simpleicons.org/icons/shotcut.svg');
}

article a[href*='showpad.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/showpad.svg');
  mask-image: url('https://simpleicons.org/icons/showpad.svg');
}

article a[href*='showtime.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/showtime.svg');
  mask-image: url('https://simpleicons.org/icons/showtime.svg');
}

article a[href*='shutterstock.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/shutterstock.svg');
  mask-image: url('https://simpleicons.org/icons/shutterstock.svg');
}

article a[href*='siemens.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/siemens.svg');
  mask-image: url('https://simpleicons.org/icons/siemens.svg');
}

article a[href*='signal.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/signal.svg');
  mask-image: url('https://simpleicons.org/icons/signal.svg');
}

article a[href*='similarweb.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/similarweb.svg');
  mask-image: url('https://simpleicons.org/icons/similarweb.svg');
}

article a[href*='simkl.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/simkl.svg');
  mask-image: url('https://simpleicons.org/icons/simkl.svg');
}

article a[href*='simpleanalytics.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/simpleanalytics.svg');
  mask-image: url('https://simpleicons.org/icons/simpleanalytics.svg');
}

article a[href*='simpleicons.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/simpleicons.svg');
  mask-image: url('https://simpleicons.org/icons/simpleicons.svg');
}

article a[href*='simplenote.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/simplenote.svg');
  mask-image: url('https://simpleicons.org/icons/simplenote.svg');
}

article a[href*='weibo.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/sinaweibo.svg');
  mask-image: url('https://simpleicons.org/icons/sinaweibo.svg');
}

article a[href*='singlestore.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/singlestore.svg');
  mask-image: url('https://simpleicons.org/icons/singlestore.svg');
}

article a[href*='sitepoint.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/sitepoint.svg');
  mask-image: url('https://simpleicons.org/icons/sitepoint.svg');
}

article a[href*='sketch.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/sketch.svg');
  mask-image: url('https://simpleicons.org/icons/sketch.svg');
}

article a[href*='sketchfab.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/sketchfab.svg');
  mask-image: url('https://simpleicons.org/icons/sketchfab.svg');
}

article a[href*='sketchup.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/sketchup.svg');
  mask-image: url('https://simpleicons.org/icons/sketchup.svg');
}

article a[href*='skillshare.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/skillshare.svg');
  mask-image: url('https://simpleicons.org/icons/skillshare.svg');
}

article a[href*='skoda-auto.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/skoda.svg');
  mask-image: url('https://simpleicons.org/icons/skoda.svg');
}

article a[href*='sky.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/sky.svg');
  mask-image: url('https://simpleicons.org/icons/sky.svg');
}

article a[href*='skynet.be']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/skynet.svg');
  mask-image: url('https://simpleicons.org/icons/skynet.svg');
}

article a[href*='skypack.dev']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/skypack.svg');
  mask-image: url('https://simpleicons.org/icons/skypack.svg');
}

article a[href*='skype.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/skype.svg');
  mask-image: url('https://simpleicons.org/icons/skype.svg');
}

article a[href*='skypeforbusiness.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/skypeforbusiness.svg');
  mask-image: url('https://simpleicons.org/icons/skypeforbusiness.svg');
}

article a[href*='slack.com']::before,
article a[href*='slack.engineering']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/slack.svg');
  mask-image: url('https://simpleicons.org/icons/slack.svg');
}

article a[href*='slackware.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/slackware.svg');
  mask-image: url('https://simpleicons.org/icons/slackware.svg');
}

article a[href*='slashdot.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/slashdot.svg');
  mask-image: url('https://simpleicons.org/icons/slashdot.svg');
}

article a[href*='slickpic.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/slickpic.svg');
  mask-image: url('https://simpleicons.org/icons/slickpic.svg');
}

article a[href*='slides.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/slides.svg');
  mask-image: url('https://simpleicons.org/icons/slides.svg');
}

article a[href*='slideshare.net']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/slideshare.svg');
  mask-image: url('https://simpleicons.org/icons/slideshare.svg');
}

article a[href*='smart.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/smart.svg');
  mask-image: url('https://simpleicons.org/icons/smart.svg');
}

article a[href*='smartthings.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/smartthings.svg');
  mask-image: url('https://simpleicons.org/icons/smartthings.svg');
}

article a[href*='smash.gg']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/smashdotgg.svg');
  mask-image: url('https://simpleicons.org/icons/smashdotgg.svg');
}

article a[href*='smashingmagazine.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/smashingmagazine.svg');
  mask-image: url('https://simpleicons.org/icons/smashingmagazine.svg');
}

article a[href*='smrt.com.sg']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/smrt.svg');
  mask-image: url('https://simpleicons.org/icons/smrt.svg');
}

article a[href*='smugmug.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/smugmug.svg');
  mask-image: url('https://simpleicons.org/icons/smugmug.svg');
}

article a[href*='snapchat.com']::before,
article a[href*='snap.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/snapchat.svg');
  mask-image: url('https://simpleicons.org/icons/snapchat.svg');
}

article a[href*='snapcraft.io']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/snapcraft.svg');
  mask-image: url('https://simpleicons.org/icons/snapcraft.svg');
}

article a[href*='snowflake.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/snowflake.svg');
  mask-image: url('https://simpleicons.org/icons/snowflake.svg');
}

article a[href*='snowpack.dev']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/snowpack.svg');
  mask-image: url('https://simpleicons.org/icons/snowpack.svg');
}

article a[href*='snyk.io']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/snyk.svg');
  mask-image: url('https://simpleicons.org/icons/snyk.svg');
}

article a[href*='socialblade.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/socialblade.svg');
  mask-image: url('https://simpleicons.org/icons/socialblade.svg');
}

article a[href*='society6.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/society6.svg');
  mask-image: url('https://simpleicons.org/icons/society6.svg');
}

article a[href*='socket.io']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/socketdotio.svg');
  mask-image: url('https://simpleicons.org/icons/socketdotio.svg');
}

article a[href*='sogou.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/sogou.svg');
  mask-image: url('https://simpleicons.org/icons/sogou.svg');
}

article a[href*='solidproject.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/solid.svg');
  mask-image: url('https://simpleicons.org/icons/solid.svg');
}

article a[href*='soliditylang.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/solidity.svg');
  mask-image: url('https://simpleicons.org/icons/solidity.svg');
}

article a[href*='sololearn.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/sololearn.svg');
  mask-image: url('https://simpleicons.org/icons/sololearn.svg');
}

article a[href*='solus-project.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/solus.svg');
  mask-image: url('https://simpleicons.org/icons/solus.svg');
}

article a[href*='sonarcloud.io']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/sonar.svg');
  mask-image: url('https://simpleicons.org/icons/sonar.svg');
}

article a[href*='sonarcloud.io']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/sonarcloud.svg');
  mask-image: url('https://simpleicons.org/icons/sonarcloud.svg');
}

article a[href*='sonarlint.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/sonarlint.svg');
  mask-image: url('https://simpleicons.org/icons/sonarlint.svg');
}

article a[href*='sonarqube.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/sonarqube.svg');
  mask-image: url('https://simpleicons.org/icons/sonarqube.svg');
}

article a[href*='sonarsource.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/sonarsource.svg');
  mask-image: url('https://simpleicons.org/icons/sonarsource.svg');
}

article a[href*='songkick.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/songkick.svg');
  mask-image: url('https://simpleicons.org/icons/songkick.svg');
}

article a[href*='songoda.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/songoda.svg');
  mask-image: url('https://simpleicons.org/icons/songoda.svg');
}

article a[href*='sonicwall.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/sonicwall.svg');
  mask-image: url('https://simpleicons.org/icons/sonicwall.svg');
}

article a[href*='sonos.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/sonos.svg');
  mask-image: url('https://simpleicons.org/icons/sonos.svg');
}

article a[href*='sony.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/sony.svg');
  mask-image: url('https://simpleicons.org/icons/sony.svg');
}

article a[href*='soundcharts.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/soundcharts.svg');
  mask-image: url('https://simpleicons.org/icons/soundcharts.svg');
}

article a[href*='soundcloud.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/soundcloud.svg');
  mask-image: url('https://simpleicons.org/icons/soundcloud.svg');
}

article a[href*='sourceengine.net']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/sourceengine.svg');
  mask-image: url('https://simpleicons.org/icons/sourceengine.svg');
}

article a[href*='sourceforge.net']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/sourceforge.svg');
  mask-image: url('https://simpleicons.org/icons/sourceforge.svg');
}

article a[href*='sourcegraph.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/sourcegraph.svg');
  mask-image: url('https://simpleicons.org/icons/sourcegraph.svg');
}

article a[href*='sourcetreeapp.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/sourcetree.svg');
  mask-image: url('https://simpleicons.org/icons/sourcetree.svg');
}

article a[href*='southwest.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/southwestairlines.svg');
  mask-image: url('https://simpleicons.org/icons/southwestairlines.svg');
}

article a[href*='spacemacs.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/spacemacs.svg');
  mask-image: url('https://simpleicons.org/icons/spacemacs.svg');
}

article a[href*='spacex.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/spacex.svg');
  mask-image: url('https://simpleicons.org/icons/spacex.svg');
}

article a[href*='spacy.io']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/spacy.svg');
  mask-image: url('https://simpleicons.org/icons/spacy.svg');
}

article a[href*='sparkar.facebook.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/sparkar.svg');
  mask-image: url('https://simpleicons.org/icons/sparkar.svg');
}

article a[href*='sparkasse.de']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/sparkasse.svg');
  mask-image: url('https://simpleicons.org/icons/sparkasse.svg');
}

article a[href*='sparkfun.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/sparkfun.svg');
  mask-image: url('https://simpleicons.org/icons/sparkfun.svg');
}

article a[href*='sparkpost.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/sparkpost.svg');
  mask-image: url('https://simpleicons.org/icons/sparkpost.svg');
}

article a[href*='spdx.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/spdx.svg');
  mask-image: url('https://simpleicons.org/icons/spdx.svg');
}

article a[href*='speakerdeck.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/speakerdeck.svg');
  mask-image: url('https://simpleicons.org/icons/speakerdeck.svg');
}

article a[href*='spectrum.chat']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/spectrum.svg');
  mask-image: url('https://simpleicons.org/icons/spectrum.svg');
}

article a[href*='speedtest.net']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/speedtest.svg');
  mask-image: url('https://simpleicons.org/icons/speedtest.svg');
}

article a[href*='spinnaker.io']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/spinnaker.svg');
  mask-image: url('https://simpleicons.org/icons/spinnaker.svg');
}

article a[href*='spinrilla.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/spinrilla.svg');
  mask-image: url('https://simpleicons.org/icons/spinrilla.svg');
}

article a[href*='splunk.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/splunk.svg');
  mask-image: url('https://simpleicons.org/icons/splunk.svg');
}

article a[href*='spond.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/spond.svg');
  mask-image: url('https://simpleicons.org/icons/spond.svg');
}

article a[href*='spotify.com']::before,
article a[href*='atspotify.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/spotify.svg');
  mask-image: url('https://simpleicons.org/icons/spotify.svg');
}

article a[href*='spotlight.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/spotlight.svg');
  mask-image: url('https://simpleicons.org/icons/spotlight.svg');
}

article a[href*='spreadshirt.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/spreadshirt.svg');
  mask-image: url('https://simpleicons.org/icons/spreadshirt.svg');
}

article a[href*='spreaker.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/spreaker.svg');
  mask-image: url('https://simpleicons.org/icons/spreaker.svg');
}

article a[href*='spring.io']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/spring.svg');
  mask-image: url('https://simpleicons.org/icons/spring.svg');
}

article a[href*='spring.io']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/spring_creators.svg');
  mask-image: url('https://simpleicons.org/icons/spring_creators.svg');
}

article a[href*='spring.io']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/springboot.svg');
  mask-image: url('https://simpleicons.org/icons/springboot.svg');
}

article a[href*='spring.io']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/springsecurity.svg');
  mask-image: url('https://simpleicons.org/icons/springsecurity.svg');
}

article a[href*='spyder-ide.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/spyderide.svg');
  mask-image: url('https://simpleicons.org/icons/spyderide.svg');
}

article a[href*='sqlite.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/sqlite.svg');
  mask-image: url('https://simpleicons.org/icons/sqlite.svg');
}

article a[href*='squareup.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/square.svg');
  mask-image: url('https://simpleicons.org/icons/square.svg');
}

article a[href*='square-enix.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/squareenix.svg');
  mask-image: url('https://simpleicons.org/icons/squareenix.svg');
}

article a[href*='squarespace.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/squarespace.svg');
  mask-image: url('https://simpleicons.org/icons/squarespace.svg');
}

article a[href*='ssrn.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/ssrn.svg');
  mask-image: url('https://simpleicons.org/icons/ssrn.svg');
}

article a[href*='stackexchange.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/stackexchange.svg');
  mask-image: url('https://simpleicons.org/icons/stackexchange.svg');
}

article a[href*='stackoverflow.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/stackoverflow.svg');
  mask-image: url('https://simpleicons.org/icons/stackoverflow.svg');
}

article a[href*='stackbit.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/stackbit.svg');
  mask-image: url('https://simpleicons.org/icons/stackbit.svg');
}

article a[href*='stackblitz.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/stackblitz.svg');
  mask-image: url('https://simpleicons.org/icons/stackblitz.svg');
}

article a[href*='stackedit.io']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/stackedit.svg');
  mask-image: url('https://simpleicons.org/icons/stackedit.svg');
}

article a[href*='stackpath.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/stackpath.svg');
  mask-image: url('https://simpleicons.org/icons/stackpath.svg');
}

article a[href*='stackshare.io']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/stackshare.svg');
  mask-image: url('https://simpleicons.org/icons/stackshare.svg');
}

article a[href*='stadia.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/stadia.svg');
  mask-image: url('https://simpleicons.org/icons/stadia.svg');
}

article a[href*='staffbase.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/staffbase.svg');
  mask-image: url('https://simpleicons.org/icons/staffbase.svg');
}

article a[href*='standardjs.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/standardjs.svg');
  mask-image: url('https://simpleicons.org/icons/standardjs.svg');
}

article a[href*='startrek.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/startrek.svg');
  mask-image: url('https://simpleicons.org/icons/startrek.svg');
}

article a[href*='starbucks.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/starbucks.svg');
  mask-image: url('https://simpleicons.org/icons/starbucks.svg');
}

article a[href*='stardock.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/stardock.svg');
  mask-image: url('https://simpleicons.org/icons/stardock.svg');
}

article a[href*='starlingbank.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/starlingbank.svg');
  mask-image: url('https://simpleicons.org/icons/starlingbank.svg');
}

article a[href*='starship.rs']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/starship.svg');
  mask-image: url('https://simpleicons.org/icons/starship.svg');
}

article a[href*='starz.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/starz.svg');
  mask-image: url('https://simpleicons.org/icons/starz.svg');
}

article a[href*='statamic.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/statamic.svg');
  mask-image: url('https://simpleicons.org/icons/statamic.svg');
}

article a[href*='statuspage.io']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/statuspage.svg');
  mask-image: url('https://simpleicons.org/icons/statuspage.svg');
}

article a[href*='statuspal.io']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/statuspal.svg');
  mask-image: url('https://simpleicons.org/icons/statuspal.svg');
}

article a[href*='store.steampowered.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/steam.svg');
  mask-image: url('https://simpleicons.org/icons/steam.svg');
}

article a[href*='store.steampowered.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/steamdeck.svg');
  mask-image: url('https://simpleicons.org/icons/steamdeck.svg');
}

article a[href*='steamdb.info']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/steamdb.svg');
  mask-image: url('https://simpleicons.org/icons/steamdb.svg');
}

article a[href*='store.steampowered.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/steamworks.svg');
  mask-image: url('https://simpleicons.org/icons/steamworks.svg');
}

article a[href*='steelseries.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/steelseries.svg');
  mask-image: url('https://simpleicons.org/icons/steelseries.svg');
}

article a[href*='steem.io']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/steem.svg');
  mask-image: url('https://simpleicons.org/icons/steem.svg');
}

article a[href*='steemit.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/steemit.svg');
  mask-image: url('https://simpleicons.org/icons/steemit.svg');
}

article a[href*='steinberg.net']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/steinberg.svg');
  mask-image: url('https://simpleicons.org/icons/steinberg.svg');
}

article a[href*='stellar.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/stellar.svg');
  mask-image: url('https://simpleicons.org/icons/stellar.svg');
}

article a[href*='stencyl.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/stencyl.svg');
  mask-image: url('https://simpleicons.org/icons/stencyl.svg');
}

article a[href*='stimulusjs.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/stimulus.svg');
  mask-image: url('https://simpleicons.org/icons/stimulus.svg');
}

article a[href*='stitcher.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/stitcher.svg');
  mask-image: url('https://simpleicons.org/icons/stitcher.svg');
}

article a[href*='st.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/stmicroelectronics.svg');
  mask-image: url('https://simpleicons.org/icons/stmicroelectronics.svg');
}

article a[href*='stopstalk.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/stopstalk.svg');
  mask-image: url('https://simpleicons.org/icons/stopstalk.svg');
}

article a[href*='storyblok.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/storyblok.svg');
  mask-image: url('https://simpleicons.org/icons/storyblok.svg');
}

article a[href*='storybook.js.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/storybook.svg');
  mask-image: url('https://simpleicons.org/icons/storybook.svg');
}

article a[href*='strapi.io']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/strapi.svg');
  mask-image: url('https://simpleicons.org/icons/strapi.svg');
}

article a[href*='strava.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/strava.svg');
  mask-image: url('https://simpleicons.org/icons/strava.svg');
}

article a[href*='streamlit.io']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/streamlit.svg');
  mask-image: url('https://simpleicons.org/icons/streamlit.svg');
}

article a[href*='stripe.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/stripe.svg');
  mask-image: url('https://simpleicons.org/icons/stripe.svg');
}

article a[href*='strongswan.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/strongswan.svg');
  mask-image: url('https://simpleicons.org/icons/strongswan.svg');
}

article a[href*='stubhub.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/stubhub.svg');
  mask-image: url('https://simpleicons.org/icons/stubhub.svg');
}

article a[href*='styled-components.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/styledcomponents.svg');
  mask-image: url('https://simpleicons.org/icons/styledcomponents.svg');
}

article a[href*='stylelint.io']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/stylelint.svg');
  mask-image: url('https://simpleicons.org/icons/stylelint.svg');
}

article a[href*='stylesha.re']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/styleshare.svg');
  mask-image: url('https://simpleicons.org/icons/styleshare.svg');
}

article a[href*='stylus-lang.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/stylus.svg');
  mask-image: url('https://simpleicons.org/icons/stylus.svg');
}

article a[href*='subaru.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/subaru.svg');
  mask-image: url('https://simpleicons.org/icons/subaru.svg');
}

article a[href*='sublimetext.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/sublimetext.svg');
  mask-image: url('https://simpleicons.org/icons/sublimetext.svg');
}

article a[href*='substack.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/substack.svg');
  mask-image: url('https://simpleicons.org/icons/substack.svg');
}

article a[href*='subversion.apache.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/subversion.svg');
  mask-image: url('https://simpleicons.org/icons/subversion.svg');
}

article a[href*='suckless.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/suckless.svg');
  mask-image: url('https://simpleicons.org/icons/suckless.svg');
}

article a[href*='sumologic.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/sumologic.svg');
  mask-image: url('https://simpleicons.org/icons/sumologic.svg');
}

article a[href*='supabase.io']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/supabase.svg');
  mask-image: url('https://simpleicons.org/icons/supabase.svg');
}

article a[href*='superuser.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/superuser.svg');
  mask-image: url('https://simpleicons.org/icons/superuser.svg');
}

article a[href*='supermicro.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/supermicro.svg');
  mask-image: url('https://simpleicons.org/icons/supermicro.svg');
}

article a[href*='surrealdb.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/surrealdb.svg');
  mask-image: url('https://simpleicons.org/icons/surrealdb.svg');
}

article a[href*='surveymonkey.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/surveymonkey.svg');
  mask-image: url('https://simpleicons.org/icons/surveymonkey.svg');
}

article a[href*='suse.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/suse.svg');
  mask-image: url('https://simpleicons.org/icons/suse.svg');
}

article a[href*='suzuki.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/suzuki.svg');
  mask-image: url('https://simpleicons.org/icons/suzuki.svg');
}

article a[href*='svelte.dev']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/svelte.svg');
  mask-image: url('https://simpleicons.org/icons/svelte.svg');
}

article a[href*='svg.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/svg.svg');
  mask-image: url('https://simpleicons.org/icons/svg.svg');
}

article a[href*='svgo.dev']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/svgo.svg');
  mask-image: url('https://simpleicons.org/icons/svgo.svg');
}

article a[href*='swagger.io']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/swagger.svg');
  mask-image: url('https://simpleicons.org/icons/swagger.svg');
}

article a[href*='swarm.dev']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/swarm.svg');
  mask-image: url('https://simpleicons.org/icons/swarm.svg');
}

article a[href*='swc.rs']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/swc.svg');
  mask-image: url('https://simpleicons.org/icons/swc.svg');
}

article a[href*='swift.org']::before,
article a[href*='swift.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/swift.svg');
  mask-image: url('https://simpleicons.org/icons/swift.svg');
}

article a[href*='swiggy.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/swiggy.svg');
  mask-image: url('https://simpleicons.org/icons/swiggy.svg');
}

article a[href*='swiperjs.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/swiper.svg');
  mask-image: url('https://simpleicons.org/icons/swiper.svg');
}

article a[href*='symantec.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/symantec.svg');
  mask-image: url('https://simpleicons.org/icons/symantec.svg');
}

article a[href*='symfony.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/symfony.svg');
  mask-image: url('https://simpleicons.org/icons/symfony.svg');
}

article a[href*='symphony.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/symphony.svg');
  mask-image: url('https://simpleicons.org/icons/symphony.svg');
}

article a[href*='sympy.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/sympy.svg');
  mask-image: url('https://simpleicons.org/icons/sympy.svg');
}

article a[href*='synology.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/synology.svg');
  mask-image: url('https://simpleicons.org/icons/synology.svg');
}

article a[href*='system76.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/system76.svg');
  mask-image: url('https://simpleicons.org/icons/system76.svg');
}
