article a[href*='tmobile.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/tmobile.svg');
  mask-image: url('https://simpleicons.org/icons/tmobile.svg');
}

article a[href*='tableau.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/tableau.svg');
  mask-image: url('https://simpleicons.org/icons/tableau.svg');
}

article a[href*='tablecheck.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/tablecheck.svg');
  mask-image: url('https://simpleicons.org/icons/tablecheck.svg');
}

article a[href*='tacobell.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/tacobell.svg');
  mask-image: url('https://simpleicons.org/icons/tacobell.svg');
}

article a[href*='tado.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/tado.svg');
  mask-image: url('https://simpleicons.org/icons/tado.svg');
}

article a[href*='taichi.graphics']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/taichigraphics.svg');
  mask-image: url('https://simpleicons.org/icons/taichigraphics.svg');
}

article a[href*='taichi.graphics']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/taichilang.svg');
  mask-image: url('https://simpleicons.org/icons/taichilang.svg');
}

article a[href*='tails.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/tails.svg');
  mask-image: url('https://simpleicons.org/icons/tails.svg');
}

article a[href*='tailwindcss.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/tailwindcss.svg');
  mask-image: url('https://simpleicons.org/icons/tailwindcss.svg');
}

article a[href*='talend.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/talend.svg');
  mask-image: url('https://simpleicons.org/icons/talend.svg');
}

article a[href*='talenthouse.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/talenthouse.svg');
  mask-image: url('https://simpleicons.org/icons/talenthouse.svg');
}

article a[href*='tamiya.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/tamiya.svg');
  mask-image: url('https://simpleicons.org/icons/tamiya.svg');
}

article a[href*='tampermonkey.net']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/tampermonkey.svg');
  mask-image: url('https://simpleicons.org/icons/tampermonkey.svg');
}

article a[href*='taobao.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/taobao.svg');
  mask-image: url('https://simpleicons.org/icons/taobao.svg');
}

article a[href*='tapas.io']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/tapas.svg');
  mask-image: url('https://simpleicons.org/icons/tapas.svg');
}

article a[href*='target.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/target.svg');
  mask-image: url('https://simpleicons.org/icons/target.svg');
}

article a[href*='task.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/task.svg');
  mask-image: url('https://simpleicons.org/icons/task.svg');
}

article a[href*='tasmota.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/tasmota.svg');
  mask-image: url('https://simpleicons.org/icons/tasmota.svg');
}

article a[href*='tata.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/tata.svg');
  mask-image: url('https://simpleicons.org/icons/tata.svg');
}

article a[href*='tauri.studio']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/tauri.svg');
  mask-image: url('https://simpleicons.org/icons/tauri.svg');
}

article a[href*='taxbuzz.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/taxbuzz.svg');
  mask-image: url('https://simpleicons.org/icons/taxbuzz.svg');
}

article a[href*='jetbrains.com/teamcity']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/teamcity.svg');
  mask-image: url('https://simpleicons.org/icons/teamcity.svg');
}

article a[href*='teamspeak.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/teamspeak.svg');
  mask-image: url('https://simpleicons.org/icons/teamspeak.svg');
}

article a[href*='teamviewer.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/teamviewer.svg');
  mask-image: url('https://simpleicons.org/icons/teamviewer.svg');
}

article a[href*='ted.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/ted.svg');
  mask-image: url('https://simpleicons.org/icons/ted.svg');
}

article a[href*='teespring.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/teespring.svg');
  mask-image: url('https://simpleicons.org/icons/teespring.svg');
}

article a[href*='tekton.dev']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/tekton.svg');
  mask-image: url('https://simpleicons.org/icons/tekton.svg');
}

article a[href*='tele5.de']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/tele5.svg');
  mask-image: url('https://simpleicons.org/icons/tele5.svg');
}

article a[href*='telegram.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/telegram.svg');
  mask-image: url('https://simpleicons.org/icons/telegram.svg');
}

article a[href*='telegraph.co.uk']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/telegraph.svg');
  mask-image: url('https://simpleicons.org/icons/telegraph.svg');
}

article a[href*='temporal.io']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/temporal.svg');
  mask-image: url('https://simpleicons.org/icons/temporal.svg');
}

article a[href*='qq.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/tencentqq.svg');
  mask-image: url('https://simpleicons.org/icons/tencentqq.svg');
}

article a[href*='tensorflow.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/tensorflow.svg');
  mask-image: url('https://simpleicons.org/icons/tensorflow.svg');
}

article a[href*='teradata.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/teradata.svg');
  mask-image: url('https://simpleicons.org/icons/teradata.svg');
}

article a[href*='teratail.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/teratail.svg');
  mask-image: url('https://simpleicons.org/icons/teratail.svg');
}

article a[href*='terraform.io']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/terraform.svg');
  mask-image: url('https://simpleicons.org/icons/terraform.svg');
}

article a[href*='tesco.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/tesco.svg');
  mask-image: url('https://simpleicons.org/icons/tesco.svg');
}

article a[href*='tesla.com']::before,
article a[href*='teslamotors.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/tesla.svg');
  mask-image: url('https://simpleicons.org/icons/tesla.svg');
}

article a[href*='testcafe.io']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/testcafe.svg');
  mask-image: url('https://simpleicons.org/icons/testcafe.svg');
}

article a[href*='testin.net']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/testin.svg');
  mask-image: url('https://simpleicons.org/icons/testin.svg');
}

article a[href*='testing-library.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/testinglibrary.svg');
  mask-image: url('https://simpleicons.org/icons/testinglibrary.svg');
}

article a[href*='tether.to']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/tether.svg');
  mask-image: url('https://simpleicons.org/icons/tether.svg');
}

article a[href*='textpattern.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/textpattern.svg');
  mask-image: url('https://simpleicons.org/icons/textpattern.svg');
}

article a[href*='thealgorithms.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/thealgorithms.svg');
  mask-image: url('https://simpleicons.org/icons/thealgorithms.svg');
}

article a[href*='theconversation.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/theconversation.svg');
  mask-image: url('https://simpleicons.org/icons/theconversation.svg');
}

article a[href*='irishtimes.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/theirishtimes.svg');
  mask-image: url('https://simpleicons.org/icons/theirishtimes.svg');
}

article a[href*='themighty.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/themighty.svg');
  mask-image: url('https://simpleicons.org/icons/themighty.svg');
}

article a[href*='themodelsresource.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/themodelsresource.svg');
  mask-image: url('https://simpleicons.org/icons/themodelsresource.svg');
}

article a[href*='themoviedb.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/themoviedatabase.svg');
  mask-image: url('https://simpleicons.org/icons/themoviedatabase.svg');
}

article a[href*='thenorthface.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/thenorthface.svg');
  mask-image: url('https://simpleicons.org/icons/thenorthface.svg');
}

article a[href*='theregister.co.uk']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/theregister.svg');
  mask-image: url('https://simpleicons.org/icons/theregister.svg');
}

article a[href*='thesoundsresource.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/thesoundsresource.svg');
  mask-image: url('https://simpleicons.org/icons/thesoundsresource.svg');
}

article a[href*='thespritersresource.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/thespritersresource.svg');
  mask-image: url('https://simpleicons.org/icons/thespritersresource.svg');
}

article a[href*='washingtonpost.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/thewashingtonpost.svg');
  mask-image: url('https://simpleicons.org/icons/thewashingtonpost.svg');
}

article a[href*='thingiverse.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/thingiverse.svg');
  mask-image: url('https://simpleicons.org/icons/thingiverse.svg');
}

article a[href*='lenovo.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/thinkpad.svg');
  mask-image: url('https://simpleicons.org/icons/thinkpad.svg');
}

article a[href*='threadless.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/threadless.svg');
  mask-image: url('https://simpleicons.org/icons/threadless.svg');
}

article a[href*='threejs.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/threedotjs.svg');
  mask-image: url('https://simpleicons.org/icons/threedotjs.svg');
}

article a[href*='threema.ch']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/threema.svg');
  mask-image: url('https://simpleicons.org/icons/threema.svg');
}

article a[href*='thumbtack.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/thumbtack.svg');
  mask-image: url('https://simpleicons.org/icons/thumbtack.svg');
}

article a[href*='thunderbird.net']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/thunderbird.svg');
  mask-image: url('https://simpleicons.org/icons/thunderbird.svg');
}

article a[href*='thymeleaf.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/thymeleaf.svg');
  mask-image: url('https://simpleicons.org/icons/thymeleaf.svg');
}

article a[href*='ticketmaster.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/ticketmaster.svg');
  mask-image: url('https://simpleicons.org/icons/ticketmaster.svg');
}

article a[href*='tidal.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/tidal.svg');
  mask-image: url('https://simpleicons.org/icons/tidal.svg');
}

article a[href*='tide.co']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/tide.svg');
  mask-image: url('https://simpleicons.org/icons/tide.svg');
}

article a[href*='tidyverse.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/tidyverse.svg');
  mask-image: url('https://simpleicons.org/icons/tidyverse.svg');
}

article a[href*='tietoevry.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/tietoevry.svg');
  mask-image: url('https://simpleicons.org/icons/tietoevry.svg');
}

article a[href*='tiktok.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/tiktok.svg');
  mask-image: url('https://simpleicons.org/icons/tiktok.svg');
}

article a[href*='tile.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/tile.svg');
  mask-image: url('https://simpleicons.org/icons/tile.svg');
}

article a[href*='timescale.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/timescale.svg');
  mask-image: url('https://simpleicons.org/icons/timescale.svg');
}

article a[href*='tinder.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/tinder.svg');
  mask-image: url('https://simpleicons.org/icons/tinder.svg');
}

article a[href*='tinyletter.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/tinyletter.svg');
  mask-image: url('https://simpleicons.org/icons/tinyletter.svg');
}

article a[href*='tistory.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/tistory.svg');
  mask-image: url('https://simpleicons.org/icons/tistory.svg');
}

article a[href*='tmux.github.io']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/tmux.svg');
  mask-image: url('https://simpleicons.org/icons/tmux.svg');
}

article a[href*='todoist.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/todoist.svg');
  mask-image: url('https://simpleicons.org/icons/todoist.svg');
}

article a[href*='toggl.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/toggl.svg');
  mask-image: url('https://simpleicons.org/icons/toggl.svg');
}

article a[href*='tokyometro.jp']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/tokyometro.svg');
  mask-image: url('https://simpleicons.org/icons/tokyometro.svg');
}

article a[href*='tomorrowland.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/tomorrowland.svg');
  mask-image: url('https://simpleicons.org/icons/tomorrowland.svg');
}

article a[href*='topcoder.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/topcoder.svg');
  mask-image: url('https://simpleicons.org/icons/topcoder.svg');
}

article a[href*='toptal.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/toptal.svg');
  mask-image: url('https://simpleicons.org/icons/toptal.svg');
}

article a[href*='torproject.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/torbrowser.svg');
  mask-image: url('https://simpleicons.org/icons/torbrowser.svg');
}

article a[href*='torproject.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/torproject.svg');
  mask-image: url('https://simpleicons.org/icons/torproject.svg');
}

article a[href*='toshiba.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/toshiba.svg');
  mask-image: url('https://simpleicons.org/icons/toshiba.svg');
}

article a[href*='toyota.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/toyota.svg');
  mask-image: url('https://simpleicons.org/icons/toyota.svg');
}

article a[href*='tplink.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/tplink.svg');
  mask-image: url('https://simpleicons.org/icons/tplink.svg');
}

article a[href*='tqdm.github.io']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/tqdm.svg');
  mask-image: url('https://simpleicons.org/icons/tqdm.svg');
}

article a[href*='traefik.io']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/traefikmesh.svg');
  mask-image: url('https://simpleicons.org/icons/traefikmesh.svg');
}

article a[href*='traefik.io']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/traefikproxy.svg');
  mask-image: url('https://simpleicons.org/icons/traefikproxy.svg');
}

article a[href*='trainerroad.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/trainerroad.svg');
  mask-image: url('https://simpleicons.org/icons/trainerroad.svg');
}

article a[href*='trakt.tv']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/trakt.svg');
  mask-image: url('https://simpleicons.org/icons/trakt.svg');
}

article a[href*='transportforireland.ie']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/transportforireland.svg');
  mask-image: url('https://simpleicons.org/icons/transportforireland.svg');
}

article a[href*='tfl.gov.uk']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/transportforlondon.svg');
  mask-image: url('https://simpleicons.org/icons/transportforlondon.svg');
}

article a[href*='travis-ci.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/travisci.svg');
  mask-image: url('https://simpleicons.org/icons/travisci.svg');
}

article a[href*='teamtreehouse.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/treehouse.svg');
  mask-image: url('https://simpleicons.org/icons/treehouse.svg');
}

article a[href*='trello.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/trello.svg');
  mask-image: url('https://simpleicons.org/icons/trello.svg');
}

article a[href*='trendmicro.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/trendmicro.svg');
  mask-image: url('https://simpleicons.org/icons/trendmicro.svg');
}

article a[href*='treyarch.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/treyarch.svg');
  mask-image: url('https://simpleicons.org/icons/treyarch.svg');
}

article a[href*='triller.co']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/triller.svg');
  mask-image: url('https://simpleicons.org/icons/triller.svg');
}

article a[href*='trino.io']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/trino.svg');
  mask-image: url('https://simpleicons.org/icons/trino.svg');
}

article a[href*='trip.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/tripdotcom.svg');
  mask-image: url('https://simpleicons.org/icons/tripdotcom.svg');
}

article a[href*='tripadvisor.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/tripadvisor.svg');
  mask-image: url('https://simpleicons.org/icons/tripadvisor.svg');
}

article a[href*='trove.nla.gov.au']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/trove.svg');
  mask-image: url('https://simpleicons.org/icons/trove.svg');
}

article a[href*='trpc.io']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/trpc.svg');
  mask-image: url('https://simpleicons.org/icons/trpc.svg');
}

article a[href*='truenas.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/truenas.svg');
  mask-image: url('https://simpleicons.org/icons/truenas.svg');
}

article a[href*='trulia.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/trulia.svg');
  mask-image: url('https://simpleicons.org/icons/trulia.svg');
}

article a[href*='trustedshops.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/trustedshops.svg');
  mask-image: url('https://simpleicons.org/icons/trustedshops.svg');
}

article a[href*='trustpilot.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/trustpilot.svg');
  mask-image: url('https://simpleicons.org/icons/trustpilot.svg');
}

article a[href*='tryitonline.net']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/tryitonline.svg');
  mask-image: url('https://simpleicons.org/icons/tryitonline.svg');
}

article a[href*='tryhackme.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/tryhackme.svg');
  mask-image: url('https://simpleicons.org/icons/tryhackme.svg');
}

article a[href*='ts-node.dev']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/tsnode.svg');
  mask-image: url('https://simpleicons.org/icons/tsnode.svg');
}

article a[href*='tubitv.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/tubi.svg');
  mask-image: url('https://simpleicons.org/icons/tubi.svg');
}

article a[href*='tui.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/tui.svg');
  mask-image: url('https://simpleicons.org/icons/tui.svg');
}

article a[href*='tumblr.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/tumblr.svg');
  mask-image: url('https://simpleicons.org/icons/tumblr.svg');
}

article a[href*='tunein.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/tunein.svg');
  mask-image: url('https://simpleicons.org/icons/tunein.svg');
}

article a[href*='turborepo.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/turborepo.svg');
  mask-image: url('https://simpleicons.org/icons/turborepo.svg');
}

article a[href*='turbosquid.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/turbosquid.svg');
  mask-image: url('https://simpleicons.org/icons/turbosquid.svg');
}

article a[href*='turkishairlines.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/turkishairlines.svg');
  mask-image: url('https://simpleicons.org/icons/turkishairlines.svg');
}

article a[href*='tutanota.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/tutanota.svg');
  mask-image: url('https://simpleicons.org/icons/tutanota.svg');
}

article a[href*='tvtime.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/tvtime.svg');
  mask-image: url('https://simpleicons.org/icons/tvtime.svg');
}

article a[href*='twilio.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/twilio.svg');
  mask-image: url('https://simpleicons.org/icons/twilio.svg');
}

article a[href*='twitch.tv']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/twitch.svg');
  mask-image: url('https://simpleicons.org/icons/twitch.svg');
}

article a[href*='twitter.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/twitter.svg');
  mask-image: url('https://simpleicons.org/icons/twitter.svg');
}

article a[href*='twoo.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/twoo.svg');
  mask-image: url('https://simpleicons.org/icons/twoo.svg');
}

article a[href*='typeform.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/typeform.svg');
  mask-image: url('https://simpleicons.org/icons/typeform.svg');
}

article a[href*='typescriptlang.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/typescript.svg');
  mask-image: url('https://simpleicons.org/icons/typescript.svg');
}

article a[href*='typo3.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/typo3.svg');
  mask-image: url('https://simpleicons.org/icons/typo3.svg');
}
