article a[href*='vlang.io']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/v.svg');
  mask-image: url('https://simpleicons.org/icons/v.svg');
}

article a[href*='v2ex.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/v2ex.svg');
  mask-image: url('https://simpleicons.org/icons/v2ex.svg');
}

article a[href*='v8.dev']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/v8.svg');
  mask-image: url('https://simpleicons.org/icons/v8.svg');
}

article a[href*='vaadin.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/vaadin.svg');
  mask-image: url('https://simpleicons.org/icons/vaadin.svg');
}

article a[href*='vagrantup.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/vagrant.svg');
  mask-image: url('https://simpleicons.org/icons/vagrant.svg');
}

article a[href*='playvalorant.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/valorant.svg');
  mask-image: url('https://simpleicons.org/icons/valorant.svg');
}

article a[href*='valvesoftware.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/valve.svg');
  mask-image: url('https://simpleicons.org/icons/valve.svg');
}

article a[href*='vapor.codes']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/vapor.svg');
  mask-image: url('https://simpleicons.org/icons/vapor.svg');
}

article a[href*='vaultproject.io']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/vault.svg');
  mask-image: url('https://simpleicons.org/icons/vault.svg');
}

article a[href*='vauxhall.co.uk']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/vauxhall.svg');
  mask-image: url('https://simpleicons.org/icons/vauxhall.svg');
}

article a[href*='vbulletin.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/vbulletin.svg');
  mask-image: url('https://simpleicons.org/icons/vbulletin.svg');
}

article a[href*='vectorlogo.zone']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/vectorlogozone.svg');
  mask-image: url('https://simpleicons.org/icons/vectorlogozone.svg');
}

article a[href*='vectorworks.net']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/vectorworks.svg');
  mask-image: url('https://simpleicons.org/icons/vectorworks.svg');
}

article a[href*='veeam.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/veeam.svg');
  mask-image: url('https://simpleicons.org/icons/veeam.svg');
}

article a[href*='veepee.fr']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/veepee.svg');
  mask-image: url('https://simpleicons.org/icons/veepee.svg');
}

article a[href*='velog.io']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/velog.svg');
  mask-image: url('https://simpleicons.org/icons/velog.svg');
}

article a[href*='venmo.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/venmo.svg');
  mask-image: url('https://simpleicons.org/icons/venmo.svg');
}

article a[href*='vercel.com']::before,
article a[href*='vercel.app']::before,
article a[href*='vercel.sh']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/vercel.svg');
  mask-image: url('https://simpleicons.org/icons/vercel.svg');
}

article a[href*='verdaccio.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/verdaccio.svg');
  mask-image: url('https://simpleicons.org/icons/verdaccio.svg');
}

article a[href*='veritas.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/veritas.svg');
  mask-image: url('https://simpleicons.org/icons/veritas.svg');
}

article a[href*='verizon.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/verizon.svg');
  mask-image: url('https://simpleicons.org/icons/verizon.svg');
}

article a[href*='vexxhost.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/vexxhost.svg');
  mask-image: url('https://simpleicons.org/icons/vexxhost.svg');
}

article a[href*='vfairs.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/vfairs.svg');
  mask-image: url('https://simpleicons.org/icons/vfairs.svg');
}

article a[href*='viadeo.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/viadeo.svg');
  mask-image: url('https://simpleicons.org/icons/viadeo.svg');
}

article a[href*='viber.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/viber.svg');
  mask-image: url('https://simpleicons.org/icons/viber.svg');
}

article a[href*='vim.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/vim.svg');
  mask-image: url('https://simpleicons.org/icons/vim.svg');
}

article a[href*='vimeo.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/vimeo.svg');
  mask-image: url('https://simpleicons.org/icons/vimeo.svg');
}

article a[href*='livestream.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/vimeolivestream.svg');
  mask-image: url('https://simpleicons.org/icons/vimeolivestream.svg');
}

article a[href*='virgin.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/virgin.svg');
  mask-image: url('https://simpleicons.org/icons/virgin.svg');
}

article a[href*='virginmedia.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/virginmedia.svg');
  mask-image: url('https://simpleicons.org/icons/virginmedia.svg');
}

article a[href*='virtualbox.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/virtualbox.svg');
  mask-image: url('https://simpleicons.org/icons/virtualbox.svg');
}

article a[href*='virustotal.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/virustotal.svg');
  mask-image: url('https://simpleicons.org/icons/virustotal.svg');
}

article a[href*='visa.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/visa.svg');
  mask-image: url('https://simpleicons.org/icons/visa.svg');
}

article a[href*='visualstudio.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/visualstudio.svg');
  mask-image: url('https://simpleicons.org/icons/visualstudio.svg');
}

article a[href*='code.visualstudio.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/visualstudiocode.svg');
  mask-image: url('https://simpleicons.org/icons/visualstudiocode.svg');
}

article a[href*='vitejs.dev']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/vite.svg');
  mask-image: url('https://simpleicons.org/icons/vite.svg');
}

article a[href*='vitess.io']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/vitess.svg');
  mask-image: url('https://simpleicons.org/icons/vitess.svg');
}

article a[href*='vitest.dev']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/vitest.svg');
  mask-image: url('https://simpleicons.org/icons/vitest.svg');
}

article a[href*='vivaldi.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/vivaldi.svg');
  mask-image: url('https://simpleicons.org/icons/vivaldi.svg');
}

article a[href*='vivino.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/vivino.svg');
  mask-image: url('https://simpleicons.org/icons/vivino.svg');
}

article a[href*='vk.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/vk.svg');
  mask-image: url('https://simpleicons.org/icons/vk.svg');
}

article a[href*='videolan.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/vlcmediaplayer.svg');
  mask-image: url('https://simpleicons.org/icons/vlcmediaplayer.svg');
}

article a[href*='vmware.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/vmware.svg');
  mask-image: url('https://simpleicons.org/icons/vmware.svg');
}

article a[href*='vodafone.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/vodafone.svg');
  mask-image: url('https://simpleicons.org/icons/vodafone.svg');
}

article a[href*='volkswagen.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/volkswagen.svg');
  mask-image: url('https://simpleicons.org/icons/volkswagen.svg');
}

article a[href*='volvo.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/volvo.svg');
  mask-image: url('https://simpleicons.org/icons/volvo.svg');
}

article a[href*='vonage.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/vonage.svg');
  mask-image: url('https://simpleicons.org/icons/vonage.svg');
}

article a[href*='vowpalwabbit.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/vowpalwabbit.svg');
  mask-image: url('https://simpleicons.org/icons/vowpalwabbit.svg');
}

article a[href*='vox.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/vox.svg');
  mask-image: url('https://simpleicons.org/icons/vox.svg');
}

article a[href*='vsco.co']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/vsco.svg');
  mask-image: url('https://simpleicons.org/icons/vsco.svg');
}

article a[href*='vscodium.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/vscodium.svg');
  mask-image: url('https://simpleicons.org/icons/vscodium.svg');
}

article a[href*='vtex.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/vtex.svg');
  mask-image: url('https://simpleicons.org/icons/vtex.svg');
}

article a[href*='vuejs.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/vuedotjs.svg');
  mask-image: url('https://simpleicons.org/icons/vuedotjs.svg');
}

article a[href*='vuetifyjs.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/vuetify.svg');
  mask-image: url('https://simpleicons.org/icons/vuetify.svg');
}

article a[href*='vulkan.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/vulkan.svg');
  mask-image: url('https://simpleicons.org/icons/vulkan.svg');
}

article a[href*='vultr.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/vultr.svg');
  mask-image: url('https://simpleicons.org/icons/vultr.svg');
}
