article a[href*='ycombinator.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/ycombinator.svg');
  mask-image: url('https://simpleicons.org/icons/ycombinator.svg');
}

article a[href*='yahoo.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/yahoo.svg');
  mask-image: url('https://simpleicons.org/icons/yahoo.svg');
}

article a[href*='yale.edu']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/yale.svg');
  mask-image: url('https://simpleicons.org/icons/yale.svg');
}

article a[href*='yamaha.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/yamahacorporation.svg');
  mask-image: url('https://simpleicons.org/icons/yamahacorporation.svg');
}

article a[href*='yamaha-motor.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/yamahamotorcorporation.svg');
  mask-image: url('https://simpleicons.org/icons/yamahamotorcorporation.svg');
}

article a[href*='yammer.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/yammer.svg');
  mask-image: url('https://simpleicons.org/icons/yammer.svg');
}

article a[href*='yarnpkg.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/yarn.svg');
  mask-image: url('https://simpleicons.org/icons/yarn.svg');
}

article a[href*='yelp.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/yelp.svg');
  mask-image: url('https://simpleicons.org/icons/yelp.svg');
}

article a[href*='yoast.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/yoast.svg');
  mask-image: url('https://simpleicons.org/icons/yoast.svg');
}

article a[href*='yolo.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/yolo.svg');
  mask-image: url('https://simpleicons.org/icons/yolo.svg');
}

article a[href*='yourtravel.tv']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/yourtraveldottv.svg');
  mask-image: url('https://simpleicons.org/icons/yourtraveldottv.svg');
}

article a[href*='youtube.com']::before,
article a[href*='youtu.be']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/youtube.svg');
  mask-image: url('https://simpleicons.org/icons/youtube.svg');
}

article a[href*='youtube.com/gaming']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/youtubegaming.svg');
  mask-image: url('https://simpleicons.org/icons/youtubegaming.svg');
}

article a[href*='music.youtube.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/youtubemusic.svg');
  mask-image: url('https://simpleicons.org/icons/youtubemusic.svg');
}

article a[href*='studio.youtube.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/youtubestudio.svg');
  mask-image: url('https://simpleicons.org/icons/youtubestudio.svg');
}

article a[href*='tv.youtube.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/youtubetv.svg');
  mask-image: url('https://simpleicons.org/icons/youtubetv.svg');
}

article a[href*='yubico.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/yubico.svg');
  mask-image: url('https://simpleicons.org/icons/yubico.svg');
}
