article a[href*='z-wave.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/zwave.svg');
  mask-image: url('https://simpleicons.org/icons/zwave.svg');
}

article a[href*='zabka.pl']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/zabka.svg');
  mask-image: url('https://simpleicons.org/icons/zabka.svg');
}

article a[href*='zalando.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/zalando.svg');
  mask-image: url('https://simpleicons.org/icons/zalando.svg');
}

article a[href*='zalo.me']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/zalo.svg');
  mask-image: url('https://simpleicons.org/icons/zalo.svg');
}

article a[href*='zapier.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/zapier.svg');
  mask-image: url('https://simpleicons.org/icons/zapier.svg');
}

article a[href*='zara.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/zara.svg');
  mask-image: url('https://simpleicons.org/icons/zara.svg');
}

article a[href*='zazzle.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/zazzle.svg');
  mask-image: url('https://simpleicons.org/icons/zazzle.svg');
}

article a[href*='zcash.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/zcash.svg');
  mask-image: url('https://simpleicons.org/icons/zcash.svg');
}

article a[href*='zdf.de']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/zdf.svg');
  mask-image: url('https://simpleicons.org/icons/zdf.svg');
}

article a[href*='zebra.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/zebratechnologies.svg');
  mask-image: url('https://simpleicons.org/icons/zebratechnologies.svg');
}

article a[href*='zellepay.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/zelle.svg');
  mask-image: url('https://simpleicons.org/icons/zelle.svg');
}

article a[href*='zend.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/zend.svg');
  mask-image: url('https://simpleicons.org/icons/zend.svg');
}

article a[href*='zendframework.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/zendframework.svg');
  mask-image: url('https://simpleicons.org/icons/zendframework.svg');
}

article a[href*='zendesk.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/zendesk.svg');
  mask-image: url('https://simpleicons.org/icons/zendesk.svg');
}

article a[href*='zenn.dev']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/zenn.svg');
  mask-image: url('https://simpleicons.org/icons/zenn.svg');
}

article a[href*='zenodo.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/zenodo.svg');
  mask-image: url('https://simpleicons.org/icons/zenodo.svg');
}

article a[href*='zerodha.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/zerodha.svg');
  mask-image: url('https://simpleicons.org/icons/zerodha.svg');
}

article a[href*='zeromq.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/zeromq.svg');
  mask-image: url('https://simpleicons.org/icons/zeromq.svg');
}

article a[href*='zerply.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/zerply.svg');
  mask-image: url('https://simpleicons.org/icons/zerply.svg');
}

article a[href*='zettlr.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/zettlr.svg');
  mask-image: url('https://simpleicons.org/icons/zettlr.svg');
}

article a[href*='zhihu.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/zhihu.svg');
  mask-image: url('https://simpleicons.org/icons/zhihu.svg');
}

article a[href*='ziglang.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/zig.svg');
  mask-image: url('https://simpleicons.org/icons/zig.svg');
}

article a[href*='zigbee.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/zigbee.svg');
  mask-image: url('https://simpleicons.org/icons/zigbee.svg');
}

article a[href*='zillow.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/zillow.svg');
  mask-image: url('https://simpleicons.org/icons/zillow.svg');
}

article a[href*='zincsearch.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/zincsearch.svg');
  mask-image: url('https://simpleicons.org/icons/zincsearch.svg');
}

article a[href*='zingat.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/zingat.svg');
  mask-image: url('https://simpleicons.org/icons/zingat.svg');
}

article a[href*='zoho.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/zoho.svg');
  mask-image: url('https://simpleicons.org/icons/zoho.svg');
}

article a[href*='zoiper.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/zoiper.svg');
  mask-image: url('https://simpleicons.org/icons/zoiper.svg');
}

article a[href*='zomato.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/zomato.svg');
  mask-image: url('https://simpleicons.org/icons/zomato.svg');
}

article a[href*='zoom.us']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/zoom.svg');
  mask-image: url('https://simpleicons.org/icons/zoom.svg');
}

article a[href*='zorin.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/zorin.svg');
  mask-image: url('https://simpleicons.org/icons/zorin.svg');
}

article a[href*='zotero.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/zotero.svg');
  mask-image: url('https://simpleicons.org/icons/zotero.svg');
}

article a[href*='zulip.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/zulip.svg');
  mask-image: url('https://simpleicons.org/icons/zulip.svg');
}

article a[href*='zyte.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/zyte.svg');
  mask-image: url('https://simpleicons.org/icons/zyte.svg');
}
