/* A-Frame -> aframe.svg */
article a[href*='aframe.io']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/aframe.svg');
  mask-image: url('https://simpleicons.org/icons/aframe.svg');
}

/* ABB RobotStudio -> abbrobotstudio.svg */
article a[href*='robotstudio.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/abbrobotstudio.svg');
  mask-image: url('https://simpleicons.org/icons/abbrobotstudio.svg');
}

/* Abbott -> abbott.svg */
article a[href*='abbott.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/abbott.svg');
  mask-image: url('https://simpleicons.org/icons/abbott.svg');
}

/* Abbvie -> abbvie.svg */
article a[href*='abbvie.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/abbvie.svg');
  mask-image: url('https://simpleicons.org/icons/abbvie.svg');
}

/* Ableton Live -> abletonlive.svg */
article a[href*='ableton.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/abletonlive.svg');
  mask-image: url('https://simpleicons.org/icons/abletonlive.svg');
}

/* About.me -> aboutdotme.svg */
article a[href*='about.me']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/aboutdotme.svg');
  mask-image: url('https://simpleicons.org/icons/aboutdotme.svg');
}

/* Abstract -> abstract.svg */
article a[href*='abstract.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/abstract.svg');
  mask-image: url('https://simpleicons.org/icons/abstract.svg');
}

/* Academia -> academia.svg */
article a[href*='academia.edu']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/academia.svg');
  mask-image: url('https://simpleicons.org/icons/academia.svg');
}

/* Accenture -> accenture.svg */
article a[href*='accenture.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/accenture.svg');
  mask-image: url('https://simpleicons.org/icons/accenture.svg');
}

/* Acclaim -> acclaim.svg */
article a[href*='acclaim.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/acclaim.svg');
  mask-image: url('https://simpleicons.org/icons/acclaim.svg');
}

/* Accusoft -> accusoft.svg */
article a[href*='accusoft.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/accusoft.svg');
  mask-image: url('https://simpleicons.org/icons/accusoft.svg');
}

/* Acer -> acer.svg */
article a[href*='acer.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/acer.svg');
  mask-image: url('https://simpleicons.org/icons/acer.svg');
}

/* ACM -> acm.svg */
article a[href*='acm.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/acm.svg');
  mask-image: url('https://simpleicons.org/icons/acm.svg');
}

/* ActiGraph -> actigraph.svg */
article a[href*='actigraphcorp.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/actigraph.svg');
  mask-image: url('https://simpleicons.org/icons/actigraph.svg');
}

/* Activision -> activision.svg */
article a[href*='activision.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/activision.svg');
  mask-image: url('https://simpleicons.org/icons/activision.svg');
}

/* Adafruit -> adafruit.svg */
article a[href*='adafruit.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/adafruit.svg');
  mask-image: url('https://simpleicons.org/icons/adafruit.svg');
}

/* AdBlock -> adblock.svg */
article a[href*='adblock.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/adblock.svg');
  mask-image: url('https://simpleicons.org/icons/adblock.svg');
}

/* Adblock Plus -> adblockplus.svg */
article a[href*='adblockplus.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/adblockplus.svg');
  mask-image: url('https://simpleicons.org/icons/adblockplus.svg');
}

/* AddThis -> addthis.svg */
article a[href*='addthis.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/addthis.svg');
  mask-image: url('https://simpleicons.org/icons/addthis.svg');
}

/* AdGuard -> adguard.svg */
article a[href*='adguard.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/adguard.svg');
  mask-image: url('https://simpleicons.org/icons/adguard.svg');
}

/* Adidas -> adidas.svg */
article a[href*='adidas.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/adidas.svg');
  mask-image: url('https://simpleicons.org/icons/adidas.svg');
}

/* Adminer -> adminer.svg */
article a[href*='www.adminer.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/adminer.svg');
  mask-image: url('https://simpleicons.org/icons/adminer.svg');
}

/* Adobe -> adobe.svg */
article a[href*='adobe.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/adobe.svg');
  mask-image: url('https://simpleicons.org/icons/adobe.svg');
}

/* Adobe Acrobat Reader -> adobeacrobatreader.svg */
article a[href*='acrobat.adobe.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/adobeacrobatreader.svg');
  mask-image: url('https://simpleicons.org/icons/adobeacrobatreader.svg');
}

/* Adobe After Effects -> adobeaftereffects.svg */
article a[href*='adobe.com/products/aftereffects']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/adobeaftereffects.svg');
  mask-image: url('https://simpleicons.org/icons/adobeaftereffects.svg');
}

/* Adobe Audition -> adobeaudition.svg */
article a[href*='adobe.com/products/audition']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/adobeaudition.svg');
  mask-image: url('https://simpleicons.org/icons/adobeaudition.svg');
}

/* Adobe Creative Cloud -> adobecreativecloud.svg */
article a[href*='adobe.com/creativecloud']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/adobecreativecloud.svg');
  mask-image: url('https://simpleicons.org/icons/adobecreativecloud.svg');
}

/* Adobe Dreamweaver -> adobedreamweaver.svg */
article a[href*='adobe.com/products/dreamweaver']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/adobedreamweaver.svg');
  mask-image: url('https://simpleicons.org/icons/adobedreamweaver.svg');
}

/* Adobe Fonts -> adobefonts.svg */
article a[href*='adobe.com/fonts']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/adobefonts.svg');
  mask-image: url('https://simpleicons.org/icons/adobefonts.svg');
}

/* Adobe Illustrator -> adobeillustrator.svg */
article a[href*='adobe.com/products/illustrator']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/adobeillustrator.svg');
  mask-image: url('https://simpleicons.org/icons/adobeillustrator.svg');
}

/* Adobe InDesign -> adobeindesign.svg */
article a[href*='adobe.com/products/indesign']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/adobeindesign.svg');
  mask-image: url('https://simpleicons.org/icons/adobeindesign.svg');
}

/* Adobe Lightroom -> adobelightroom.svg */
article a[href*='adobe.com/products/photoshop-lightroom']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/adobelightroom.svg');
  mask-image: url('https://simpleicons.org/icons/adobelightroom.svg');
}

/* Adobe Lightroom Classic -> adobelightroomclassic.svg */
article a[href*='adobe.com/products/photoshop-lightroom-classic']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/adobelightroomclassic.svg');
  mask-image: url('https://simpleicons.org/icons/adobelightroomclassic.svg');
}

/* Adobe Photoshop -> adobephotoshop.svg */
article a[href*='adobe.com/products/photoshop']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/adobephotoshop.svg');
  mask-image: url('https://simpleicons.org/icons/adobephotoshop.svg');
}

/* Adobe Premiere Pro -> adobepremierepro.svg */
article a[href*='adobe.com/products/premiere']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/adobepremierepro.svg');
  mask-image: url('https://simpleicons.org/icons/adobepremierepro.svg');
}

/* Adobe XD -> adobexd.svg */
article a[href*='adobe.com/products/xd']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/adobexd.svg');
  mask-image: url('https://simpleicons.org/icons/adobexd.svg');
}

/* AdonisJS -> adonisjs.svg */
article a[href*='adonisjs.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/adonisjs.svg');
  mask-image: url('https://simpleicons.org/icons/adonisjs.svg');
}

/* ADP -> adp.svg */
article a[href*='adp.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/adp.svg');
  mask-image: url('https://simpleicons.org/icons/adp.svg');
}

/* Adyen -> adyen.svg */
article a[href*='adyen.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/adyen.svg');
  mask-image: url('https://simpleicons.org/icons/adyen.svg');
}

/* Aer Lingus -> aerlingus.svg */
article a[href*='aerlingus.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/aerlingus.svg');
  mask-image: url('https://simpleicons.org/icons/aerlingus.svg');
}

/* Aeroflot -> aeroflot.svg */
article a[href*='aeroflot.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/aeroflot.svg');
  mask-image: url('https://simpleicons.org/icons/aeroflot.svg');
}

/* Aeroméxico -> aeromexico.svg */
article a[href*='aeromexico.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/aeromexico.svg');
  mask-image: url('https://simpleicons.org/icons/aeromexico.svg');
}

/* Aerospike -> aerospike.svg */
article a[href*='aerospike.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/aerospike.svg');
  mask-image: url('https://simpleicons.org/icons/aerospike.svg');
}

/* AEW -> aew.svg */
article a[href*='aew.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/aew.svg');
  mask-image: url('https://simpleicons.org/icons/aew.svg');
}

/* Affinity -> affinity.svg */
article a[href*='affinity.serif.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/affinity.svg');
  mask-image: url('https://simpleicons.org/icons/affinity.svg');
}

/* Affinity Designer -> affinitydesigner.svg */
article a[href*='affinity.serif.com/en-us/designer/']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/affinitydesigner.svg');
  mask-image: url('https://simpleicons.org/icons/affinitydesigner.svg');
}

/* Affinity Photo -> affinityphoto.svg */
article a[href*='affinity.serif.com/en-us/photo/']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/affinityphoto.svg');
  mask-image: url('https://simpleicons.org/icons/affinityphoto.svg');
}

/* Affinity Publisher -> affinitypublisher.svg */
article a[href*='affinity.serif.com/en-us/publisher/']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/affinitypublisher.svg');
  mask-image: url('https://simpleicons.org/icons/affinitypublisher.svg');
}

/* Agora -> agora.svg */
article a[href*='agora.io']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/agora.svg');
  mask-image: url('https://simpleicons.org/icons/agora.svg');
}

/* AI Dungeon -> aidungeon.svg */
article a[href*='aidungeon.io']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/aidungeon.svg');
  mask-image: url('https://simpleicons.org/icons/aidungeon.svg');
}

/* AIB -> aib.svg */
article a[href*='aib.ie']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/aib.svg');
  mask-image: url('https://simpleicons.org/icons/aib.svg');
}

/* AIOHTTP -> aiohttp.svg */
article a[href*='aiohttp.readthedocs.io']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/aiohttp.svg');
  mask-image: url('https://simpleicons.org/icons/aiohttp.svg');
}

/* Aiqfome -> aiqfome.svg */
article a[href*='aiqfome.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/aiqfome.svg');
  mask-image: url('https://simpleicons.org/icons/aiqfome.svg');
}

/* Air Canada -> aircanada.svg */
article a[href*='aircanada.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/aircanada.svg');
  mask-image: url('https://simpleicons.org/icons/aircanada.svg');
}

/* Air China -> airchina.svg */
article a[href*='airchina.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/airchina.svg');
  mask-image: url('https://simpleicons.org/icons/airchina.svg');
}

/* Air France -> airfrance.svg */
article a[href*='airfrance.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/airfrance.svg');
  mask-image: url('https://simpleicons.org/icons/airfrance.svg');
}

/* AirAsia -> airasia.svg */
article a[href*='airasia.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/airasia.svg');
  mask-image: url('https://simpleicons.org/icons/airasia.svg');
}

/* Airbnb -> airbnb.svg */
article a[href*='airbnb.com']::before,
article a[href*='airbnb.io']::before,
article a[href*='airbnb.design']::before,
article a[href*='medium.com/airbnb-engineering']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/airbnb.svg');
  mask-image: url('https://simpleicons.org/icons/airbnb.svg');
}

/* Airbus -> airbus.svg */
article a[href*='airbus.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/airbus.svg');
  mask-image: url('https://simpleicons.org/icons/airbus.svg');
}

/* Airbyte -> airbyte.svg */
article a[href*='airbyte.io']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/airbyte.svg');
  mask-image: url('https://simpleicons.org/icons/airbyte.svg');
}

/* Aircall -> aircall.svg */
article a[href*='aircall.io']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/aircall.svg');
  mask-image: url('https://simpleicons.org/icons/aircall.svg');
}

/* AirPlay Audio -> airplayaudio.svg */
article a[href*='airplayaudio.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/airplayaudio.svg');
  mask-image: url('https://simpleicons.org/icons/airplayaudio.svg');
}

/* AirPlay Video -> airplayvideo.svg */
article a[href*='airplayvideo.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/airplayvideo.svg');
  mask-image: url('https://simpleicons.org/icons/airplayvideo.svg');
}

/* Airtable -> airtable.svg */
article a[href*='airtable.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/airtable.svg');
  mask-image: url('https://simpleicons.org/icons/airtable.svg');
}

/* Ajv -> ajv.svg */
article a[href*='ajv.js.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/ajv.svg');
  mask-image: url('https://simpleicons.org/icons/ajv.svg');
}

/* Alacritty -> alacritty.svg */
article a[href*='alacritty.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/alacritty.svg');
  mask-image: url('https://simpleicons.org/icons/alacritty.svg');
}

/* Albert Heijn -> albertheijn.svg */
article a[href*='ah.nl']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/albertheijn.svg');
  mask-image: url('https://simpleicons.org/icons/albertheijn.svg');
}

/* Aldi Nord -> aldinord.svg */
article a[href*='aldi-nord.de']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/aldinord.svg');
  mask-image: url('https://simpleicons.org/icons/aldinord.svg');
}

/* Aldi Süd -> aldisud.svg */
article a[href*='aldi-sued.de']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/aldisud.svg');
  mask-image: url('https://simpleicons.org/icons/aldisud.svg');
}

/* Alfa Romeo -> alfaromeo.svg */
article a[href*='alfaromeo.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/alfaromeo.svg');
  mask-image: url('https://simpleicons.org/icons/alfaromeo.svg');
}

/* Alfred -> alfred.svg */
article a[href*='alfredapp.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/alfred.svg');
  mask-image: url('https://simpleicons.org/icons/alfred.svg');
}

/* Algolia -> algolia.svg */
article a[href*='algolia.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/algolia.svg');
  mask-image: url('https://simpleicons.org/icons/algolia.svg');
}

/* Algorand -> algorand.svg */
article a[href*='algorand.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/algorand.svg');
  mask-image: url('https://simpleicons.org/icons/algorand.svg');
}

/* Alibaba Cloud -> alibabacloud.svg */
article a[href*='alibabacloud.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/alibabacloud.svg');
  mask-image: url('https://simpleicons.org/icons/alibabacloud.svg');
}

/* Alibaba.com -> alibabadotcom.svg */
article a[href*='alibaba.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/alibabadotcom.svg');
  mask-image: url('https://simpleicons.org/icons/alibabadotcom.svg');
}

/* AliExpress -> aliexpress.svg */
article a[href*='aliexpress.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/aliexpress.svg');
  mask-image: url('https://simpleicons.org/icons/aliexpress.svg');
}

/* Alipay -> alipay.svg */
article a[href*='alipay.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/alipay.svg');
  mask-image: url('https://simpleicons.org/icons/alipay.svg');
}

/* Alitalia -> alitalia.svg */
article a[href*='alitalia.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/alitalia.svg');
  mask-image: url('https://simpleicons.org/icons/alitalia.svg');
}

/* Allegro -> allegro.svg */
article a[href*='allegro.pl']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/allegro.svg');
  mask-image: url('https://simpleicons.org/icons/allegro.svg');
}

/* AlliedModders -> alliedmodders.svg */
article a[href*='alliedmods.net']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/alliedmodders.svg');
  mask-image: url('https://simpleicons.org/icons/alliedmodders.svg');
}

/* AlloCiné -> allocine.svg */
article a[href*='allocine.fr']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/allocine.svg');
  mask-image: url('https://simpleicons.org/icons/allocine.svg');
}

/* AllTrails -> alltrails.svg */
article a[href*='alltrails.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/alltrails.svg');
  mask-image: url('https://simpleicons.org/icons/alltrails.svg');
}

/* Alpine Linux -> alpinelinux.svg */
article a[href*='alpinelinux.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/alpinelinux.svg');
  mask-image: url('https://simpleicons.org/icons/alpinelinux.svg');
}

/* Alpine.js -> alpinedotjs.svg */
article a[href*='alpinejs.dev']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/alpinedotjs.svg');
  mask-image: url('https://simpleicons.org/icons/alpinedotjs.svg');
}

/* Altium Designer -> altiumdesigner.svg */
article a[href*='altium.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/altiumdesigner.svg');
  mask-image: url('https://simpleicons.org/icons/altiumdesigner.svg');
}

/* Alwaysdata -> alwaysdata.svg */
article a[href*='alwaysdata.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/alwaysdata.svg');
  mask-image: url('https://simpleicons.org/icons/alwaysdata.svg');
}

/* Amazon -> amazon.svg */
article a[href*='amazon.com']::before,
article a[href*='aboutamazon.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/amazon.svg');
  mask-image: url('https://simpleicons.org/icons/amazon.svg');
}

/* Amazon Alexa -> amazonalexa.svg */
article a[href*='alexa.amazon.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/amazonalexa.svg');
  mask-image: url('https://simpleicons.org/icons/amazonalexa.svg');
}

/* Amazon API Gateway -> amazonapigateway.svg */
article a[href*='apigateway.amazonaws.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/amazonapigateway.svg');
  mask-image: url('https://simpleicons.org/icons/amazonapigateway.svg');
}

/* Amazon AWS -> amazonaws.svg */
article a[href*='aws.amazon.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/amazonaws.svg');
  mask-image: url('https://simpleicons.org/icons/amazonaws.svg');
}

/* Amazon CloudWatch -> amazoncloudwatch.svg */
article a[href*='cloudwatch.amazonaws.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/amazoncloudwatch.svg');
  mask-image: url('https://simpleicons.org/icons/amazoncloudwatch.svg');
}

/* Amazon DynamoDB -> amazondynamodb.svg */
article a[href*='dynamodb.amazonaws.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/amazondynamodb.svg');
  mask-image: url('https://simpleicons.org/icons/amazondynamodb.svg');
}

/* Amazon EC2 -> amazonec2.svg */
article a[href*='ec2.amazonaws.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/amazonec2.svg');
  mask-image: url('https://simpleicons.org/icons/amazonec2.svg');
}

/* Amazon ECS -> amazonecs.svg */
article a[href*='ecs.amazonaws.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/amazonecs.svg');
  mask-image: url('https://simpleicons.org/icons/amazonecs.svg');
}

/* Amazon EKS -> amazoneks.svg */
article a[href*='eks.amazonaws.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/amazoneks.svg');
  mask-image: url('https://simpleicons.org/icons/amazoneks.svg');
}

/* Amazon Fire TV -> amazonfiretv.svg */
article a[href*='firetv.amazon.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/amazonfiretv.svg');
  mask-image: url('https://simpleicons.org/icons/amazonfiretv.svg');
}

/* Amazon Games -> amazongames.svg */
article a[href*='amazon.com/gaming']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/amazongames.svg');
  mask-image: url('https://simpleicons.org/icons/amazongames.svg');
}

/* Amazon Lumberyard -> amazonlumberyard.svg */
article a[href*='lumberyard.amazon.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/amazonlumberyard.svg');
  mask-image: url('https://simpleicons.org/icons/amazonlumberyard.svg');
}

/* Amazon Pay -> amazonpay.svg */
article a[href*='pay.amazon.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/amazonpay.svg');
  mask-image: url('https://simpleicons.org/icons/amazonpay.svg');
}

/* Amazon Prime -> amazonprime.svg */
article a[href*='prime.amazon.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/amazonprime.svg');
  mask-image: url('https://simpleicons.org/icons/amazonprime.svg');
}

/* Amazon RDS -> amazonrds.svg */
article a[href*='rds.amazonaws.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/amazonrds.svg');
  mask-image: url('https://simpleicons.org/icons/amazonrds.svg');
}

/* Amazon S3 -> amazons3.svg */
article a[href*='s3.amazonaws.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/amazons3.svg');
  mask-image: url('https://simpleicons.org/icons/amazons3.svg');
}

/* Amazon SQS -> amazonsqs.svg */
article a[href*='sqs.amazonaws.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/amazonsqs.svg');
  mask-image: url('https://simpleicons.org/icons/amazonsqs.svg');
}

/* AMD -> amd.svg */
article a[href*='amd.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/amd.svg');
  mask-image: url('https://simpleicons.org/icons/amd.svg');
}

/* American Airlines -> americanairlines.svg */
article a[href*='aa.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/americanairlines.svg');
  mask-image: url('https://simpleicons.org/icons/americanairlines.svg');
}

/* American Express -> americanexpress.svg */
article a[href*='americanexpress.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/americanexpress.svg');
  mask-image: url('https://simpleicons.org/icons/americanexpress.svg');
}

/* AMG -> amg.svg */
article a[href*='amg.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/amg.svg');
  mask-image: url('https://simpleicons.org/icons/amg.svg');
}

/* AMP -> amp.svg */
article a[href*='amp.dev']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/amp.svg');
  mask-image: url('https://simpleicons.org/icons/amp.svg');
}

/* Amul -> amul.svg */
article a[href*='amul.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/amul.svg');
  mask-image: url('https://simpleicons.org/icons/amul.svg');
}

/* ANA -> ana.svg */
article a[href*='ana.co.jp']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/ana.svg');
  mask-image: url('https://simpleicons.org/icons/ana.svg');
}

/* Anaconda -> anaconda.svg */
article a[href*='anaconda.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/anaconda.svg');
  mask-image: url('https://simpleicons.org/icons/anaconda.svg');
}

/* Analogue -> analogue.svg */
article a[href*='analogue.co']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/analogue.svg');
  mask-image: url('https://simpleicons.org/icons/analogue.svg');
}

/* Anchor -> anchor.svg */
article a[href*='anchor.fm']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/anchor.svg');
  mask-image: url('https://simpleicons.org/icons/anchor.svg');
}

/* Andela -> andela.svg */
article a[href*='andela.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/andela.svg');
  mask-image: url('https://simpleicons.org/icons/andela.svg');
}

/* Android -> android.svg */
article a[href*='android.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/android.svg');
  mask-image: url('https://simpleicons.org/icons/android.svg');
}

/* Android Auto -> androidauto.svg */
article a[href*='android.com/auto']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/androidauto.svg');
  mask-image: url('https://simpleicons.org/icons/androidauto.svg');
}

/* Android Studio -> androidstudio.svg */
article a[href*='android.com/studio']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/androidstudio.svg');
  mask-image: url('https://simpleicons.org/icons/androidstudio.svg');
}

/* AngelList -> angellist.svg */
article a[href*='angel.co']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/angellist.svg');
  mask-image: url('https://simpleicons.org/icons/angellist.svg');
}

/* Angular -> angular.svg */
article a[href*='angular.io']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/angular.svg');
  mask-image: url('https://simpleicons.org/icons/angular.svg');
}

/* Angular Universal -> angularuniversal.svg */
article a[href*='angular.io/universal']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/angularuniversal.svg');
  mask-image: url('https://simpleicons.org/icons/angularuniversal.svg');
}

/* AngularJS -> angularjs.svg */
article a[href*='angularjs.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/angularjs.svg');
  mask-image: url('https://simpleicons.org/icons/angularjs.svg');
}

/* AniList -> anilist.svg */
article a[href*='anilist.co']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/anilist.svg');
  mask-image: url('https://simpleicons.org/icons/anilist.svg');
}

/* Ansible -> ansible.svg */
article a[href*='ansible.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/ansible.svg');
  mask-image: url('https://simpleicons.org/icons/ansible.svg');
}

/* Ansys -> ansys.svg */
article a[href*='ansys.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/ansys.svg');
  mask-image: url('https://simpleicons.org/icons/ansys.svg');
}

/* Ant Design -> antdesign.svg */
article a[href*='ant.design']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/antdesign.svg');
  mask-image: url('https://simpleicons.org/icons/antdesign.svg');
}

/* Anta -> anta.svg */
article a[href*='anta.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/anta.svg');
  mask-image: url('https://simpleicons.org/icons/anta.svg');
}

/* Antena 3 -> antena3.svg */
article a[href*='antena3.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/antena3.svg');
  mask-image: url('https://simpleicons.org/icons/antena3.svg');
}

/* AnyDesk -> anydesk.svg */
article a[href*='anydesk.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/anydesk.svg');
  mask-image: url('https://simpleicons.org/icons/anydesk.svg');
}

/* AOL -> aol.svg */
article a[href*='aol.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/aol.svg');
  mask-image: url('https://simpleicons.org/icons/aol.svg');
}

/* Apache -> apache.svg */
article a[href*='apache.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/apache.svg');
  mask-image: url('https://simpleicons.org/icons/apache.svg');
}

/* Apache Airflow -> apacheairflow.svg */
article a[href*='airflow.apache.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/apacheairflow.svg');
  mask-image: url('https://simpleicons.org/icons/apacheairflow.svg');
}

/* Apache Ant -> apacheant.svg */
article a[href*='ant.apache.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/apacheant.svg');
  mask-image: url('https://simpleicons.org/icons/apacheant.svg');
}

/* Apache Cassandra -> apachecassandra.svg */
article a[href*='cassandra.apache.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/apachecassandra.svg');
  mask-image: url('https://simpleicons.org/icons/apachecassandra.svg');
}

/* Apache CloudStack -> apachecloudstack.svg */
article a[href*='cloudstack.apache.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/apachecloudstack.svg');
  mask-image: url('https://simpleicons.org/icons/apachecloudstack.svg');
}

/* Apache Cordova -> apachecordova.svg */
article a[href*='cordova.apache.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/apachecordova.svg');
  mask-image: url('https://simpleicons.org/icons/apachecordova.svg');
}

/* Apache CouchDB -> apachecouchdb.svg */
article a[href*='couchdb.apache.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/apachecouchdb.svg');
  mask-image: url('https://simpleicons.org/icons/apachecouchdb.svg');
}

/* Apache Druid -> apachedruid.svg */
article a[href*='druid.apache.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/apachedruid.svg');
  mask-image: url('https://simpleicons.org/icons/apachedruid.svg');
}

/* Apache ECharts -> apacheecharts.svg */
article a[href*='echarts.apache.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/apacheecharts.svg');
  mask-image: url('https://simpleicons.org/icons/apacheecharts.svg');
}

/* Apache Flink -> apacheflink.svg */
article a[href*='flink.apache.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/apacheflink.svg');
  mask-image: url('https://simpleicons.org/icons/apacheflink.svg');
}

/* Apache Groovy -> apachegroovy.svg */
article a[href*='groovy.apache.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/apachegroovy.svg');
  mask-image: url('https://simpleicons.org/icons/apachegroovy.svg');
}

/* Apache Hadoop -> apachehadoop.svg */
article a[href*='hadoop.apache.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/apachehadoop.svg');
  mask-image: url('https://simpleicons.org/icons/apachehadoop.svg');
}

/* Apache Hive -> apachehive.svg */
article a[href*='hive.apache.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/apachehive.svg');
  mask-image: url('https://simpleicons.org/icons/apachehive.svg');
}

/* Apache JMeter -> apachejmeter.svg */
article a[href*='jmeter.apache.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/apachejmeter.svg');
  mask-image: url('https://simpleicons.org/icons/apachejmeter.svg');
}

/* Apache Kafka -> apachekafka.svg */
article a[href*='kafka.apache.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/apachekafka.svg');
  mask-image: url('https://simpleicons.org/icons/apachekafka.svg');
}

/* Apache Kylin -> apachekylin.svg */
article a[href*='kylin.apache.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/apachekylin.svg');
  mask-image: url('https://simpleicons.org/icons/apachekylin.svg');
}

/* Apache Maven -> apachemaven.svg */
article a[href*='maven.apache.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/apachemaven.svg');
  mask-image: url('https://simpleicons.org/icons/apachemaven.svg');
}

/* Apache NetBeans IDE -> apachenetbeanside.svg */
article a[href*='netbeans.apache.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/apachenetbeanside.svg');
  mask-image: url('https://simpleicons.org/icons/apachenetbeanside.svg');
}

/* Apache OpenOffice -> apacheopenoffice.svg */
article a[href*='openoffice.apache.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/apacheopenoffice.svg');
  mask-image: url('https://simpleicons.org/icons/apacheopenoffice.svg');
}

/* Apache Pulsar -> apachepulsar.svg */
article a[href*='pulsar.apache.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/apachepulsar.svg');
  mask-image: url('https://simpleicons.org/icons/apachepulsar.svg');
}

/* Apache RocketMQ -> apacherocketmq.svg */
article a[href*='rocketmq.apache.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/apacherocketmq.svg');
  mask-image: url('https://simpleicons.org/icons/apacherocketmq.svg');
}

/* Apache Solr -> apachesolr.svg */
article a[href*='solr.apache.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/apachesolr.svg');
  mask-image: url('https://simpleicons.org/icons/apachesolr.svg');
}

/* Apache Spark -> apachespark.svg */
article a[href*='spark.apache.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/apachespark.svg');
  mask-image: url('https://simpleicons.org/icons/apachespark.svg');
}

/* Apache Tomcat -> apachetomcat.svg */
article a[href*='tomcat.apache.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/apachetomcat.svg');
  mask-image: url('https://simpleicons.org/icons/apachetomcat.svg');
}

/* Aparat -> aparat.svg */
article a[href*='aparat.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/aparat.svg');
  mask-image: url('https://simpleicons.org/icons/aparat.svg');
}

/* Apollo GraphQL -> apollographql.svg */
article a[href*='apollographql.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/apollographql.svg');
  mask-image: url('https://simpleicons.org/icons/apollographql.svg');
}

/* Apostrophe -> apostrophe.svg */
article a[href*='apostrophecms.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/apostrophe.svg');
  mask-image: url('https://simpleicons.org/icons/apostrophe.svg');
}

/* App Store -> appstore.svg */
article a[href*='apps.apple.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/appstore.svg');
  mask-image: url('https://simpleicons.org/icons/appstore.svg');
}

/* Appian -> appian.svg */
article a[href*='appian.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/appian.svg');
  mask-image: url('https://simpleicons.org/icons/appian.svg');
}

/* Apple -> apple.svg */
article a[href*='www.apple.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/apple.svg');
  mask-image: url('https://simpleicons.org/icons/apple.svg');
}

/* Apple Arcade -> applearcade.svg */
article a[href*='arcade.apple.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/applearcade.svg');
  mask-image: url('https://simpleicons.org/icons/applearcade.svg');
}

/* Apple Music -> applemusic.svg */
article a[href*='music.apple.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/applemusic.svg');
  mask-image: url('https://simpleicons.org/icons/applemusic.svg');
}

/* Apple News -> applenews.svg */
article a[href*='apple.news']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/applenews.svg');
  mask-image: url('https://simpleicons.org/icons/applenews.svg');
}

/* Apple Pay -> applepay.svg */
article a[href*='apple.com/apple-pay']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/applepay.svg');
  mask-image: url('https://simpleicons.org/icons/applepay.svg');
}

/* Apple Podcasts -> applepodcasts.svg */
article a[href*='podcasts.apple.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/applepodcasts.svg');
  mask-image: url('https://simpleicons.org/icons/applepodcasts.svg');
}

/* Apple TV -> appletv.svg */
article a[href*='tv.apple.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/appletv.svg');
  mask-image: url('https://simpleicons.org/icons/appletv.svg');
}

/* AppSignal -> appsignal.svg */
article a[href*='appsignal.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/appsignal.svg');
  mask-image: url('https://simpleicons.org/icons/appsignal.svg');
}

/* AppVeyor -> appveyor.svg */
article a[href*='appveyor.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/appveyor.svg');
  mask-image: url('https://simpleicons.org/icons/appveyor.svg');
}

/* Appwrite -> appwrite.svg */
article a[href*='appwrite.io']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/appwrite.svg');
  mask-image: url('https://simpleicons.org/icons/appwrite.svg');
}

/* Aqua -> aqua.svg */
article a[href*='aquasec.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/aqua.svg');
  mask-image: url('https://simpleicons.org/icons/aqua.svg');
}

/* ARAL -> aral.svg */
article a[href*='aral.de']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/aral.svg');
  mask-image: url('https://simpleicons.org/icons/aral.svg');
}

/* ArangoDB -> arangodb.svg */
article a[href*='arangodb.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/arangodb.svg');
  mask-image: url('https://simpleicons.org/icons/arangodb.svg');
}

/* Arch Linux -> archlinux.svg */
article a[href*='archlinux.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/archlinux.svg');
  mask-image: url('https://simpleicons.org/icons/archlinux.svg');
}

/* Archicad -> archicad.svg */
article a[href*='graphisoft.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/archicad.svg');
  mask-image: url('https://simpleicons.org/icons/archicad.svg');
}

/* Archive of Our Own -> archiveofourown.svg */
article a[href*='archiveofourown.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/archiveofourown.svg');
  mask-image: url('https://simpleicons.org/icons/archiveofourown.svg');
}

/* Ardour -> ardour.svg */
article a[href*='ardour.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/ardour.svg');
  mask-image: url('https://simpleicons.org/icons/ardour.svg');
}

/* Arduino -> arduino.svg */
article a[href*='arduino.cc']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/arduino.svg');
  mask-image: url('https://simpleicons.org/icons/arduino.svg');
}

/* Argo -> argo.svg */
article a[href*='argoproj.io']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/argo.svg');
  mask-image: url('https://simpleicons.org/icons/argo.svg');
}

/* Argos -> argos.svg */
article a[href*='argos-ci.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/argos.svg');
  mask-image: url('https://simpleicons.org/icons/argos.svg');
}

/* ARK Ecosystem -> arkecosystem.svg */
article a[href*='ark.io']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/arkecosystem.svg');
  mask-image: url('https://simpleicons.org/icons/arkecosystem.svg');
}

/* Arlo -> arlo.svg */
article a[href*='arlo.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/arlo.svg');
  mask-image: url('https://simpleicons.org/icons/arlo.svg');
}

/* Arm -> arm.svg */
article a[href*='arm.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/arm.svg');
  mask-image: url('https://simpleicons.org/icons/arm.svg');
}

/* Artifact Hub -> artifacthub.svg */
article a[href*='artifacthub.io']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/artifacthub.svg');
  mask-image: url('https://simpleicons.org/icons/artifacthub.svg');
}

/* Artix Linux -> artixlinux.svg */
article a[href*='artixlinux.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/artixlinux.svg');
  mask-image: url('https://simpleicons.org/icons/artixlinux.svg');
}

/* ArtStation -> artstation.svg */
article a[href*='artstation.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/artstation.svg');
  mask-image: url('https://simpleicons.org/icons/artstation.svg');
}

/* arXiv -> arxiv.svg */
article a[href*='arxiv.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/arxiv.svg');
  mask-image: url('https://simpleicons.org/icons/arxiv.svg');
}

/* Asana -> asana.svg */
article a[href*='asana.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/asana.svg');
  mask-image: url('https://simpleicons.org/icons/asana.svg');
}

/* Asciidoctor -> asciidoctor.svg */
article a[href*='asciidoctor.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/asciidoctor.svg');
  mask-image: url('https://simpleicons.org/icons/asciidoctor.svg');
}

/* asciinema -> asciinema.svg */
article a[href*='asciinema.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/asciinema.svg');
  mask-image: url('https://simpleicons.org/icons/asciinema.svg');
}

/* ASDA -> asda.svg */
article a[href*='asda.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/asda.svg');
  mask-image: url('https://simpleicons.org/icons/asda.svg');
}

/* Aseprite -> aseprite.svg */
article a[href*='aseprite.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/aseprite.svg');
  mask-image: url('https://simpleicons.org/icons/aseprite.svg');
}

/* Ask Ubuntu -> askubuntu.svg */
article a[href*='askubuntu.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/askubuntu.svg');
  mask-image: url('https://simpleicons.org/icons/askubuntu.svg');
}

/* ASKfm -> askfm.svg */
article a[href*='ask.fm']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/askfm.svg');
  mask-image: url('https://simpleicons.org/icons/askfm.svg');
}

/* AssemblyScript -> assemblyscript.svg */
article a[href*='assemblyscript.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/assemblyscript.svg');
  mask-image: url('https://simpleicons.org/icons/assemblyscript.svg');
}

/* Aston Martin -> astonmartin.svg */
article a[href*='astonmartin.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/astonmartin.svg');
  mask-image: url('https://simpleicons.org/icons/astonmartin.svg');
}

/* Astro -> astro.svg */
article a[href*='astro.build']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/astro.svg');
  mask-image: url('https://simpleicons.org/icons/astro.svg');
}

/* ASUS -> asus.svg */
article a[href*='asus.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/asus.svg');
  mask-image: url('https://simpleicons.org/icons/asus.svg');
}

/* AT&T -> atandt.svg */
article a[href*='att.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/atandt.svg');
  mask-image: url('https://simpleicons.org/icons/atandt.svg');
}

/* Atari -> atari.svg */
article a[href*='atari.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/atari.svg');
  mask-image: url('https://simpleicons.org/icons/atari.svg');
}

/* Atlassian -> atlassian.svg */
article a[href*='atlassian.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/atlassian.svg');
  mask-image: url('https://simpleicons.org/icons/atlassian.svg');
}

/* Atom -> atom.svg */
article a[href*='atom.io']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/atom.svg');
  mask-image: url('https://simpleicons.org/icons/atom.svg');
}

/* Auchan -> auchan.svg */
article a[href*='auchan.fr']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/auchan.svg');
  mask-image: url('https://simpleicons.org/icons/auchan.svg');
}

/* Audacity -> audacity.svg */
article a[href*='audacityteam.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/audacity.svg');
  mask-image: url('https://simpleicons.org/icons/audacity.svg');
}

/* Audi -> audi.svg */
article a[href*='audi.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/audi.svg');
  mask-image: url('https://simpleicons.org/icons/audi.svg');
}

/* Audible -> audible.svg */
article a[href*='audible.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/audible.svg');
  mask-image: url('https://simpleicons.org/icons/audible.svg');
}

/* Audio-Technica -> audiotechnica.svg */
article a[href*='audio-technica.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/audiotechnica.svg');
  mask-image: url('https://simpleicons.org/icons/audiotechnica.svg');
}

/* Audioboom -> audioboom.svg */
article a[href*='audioboom.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/audioboom.svg');
  mask-image: url('https://simpleicons.org/icons/audioboom.svg');
}

/* Audiomack -> audiomack.svg */
article a[href*='audiomack.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/audiomack.svg');
  mask-image: url('https://simpleicons.org/icons/audiomack.svg');
}

/* Aurelia -> aurelia.svg */
article a[href*='aurelia.io']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/aurelia.svg');
  mask-image: url('https://simpleicons.org/icons/aurelia.svg');
}

/* Auth0 -> auth0.svg */
article a[href*='auth0.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/auth0.svg');
  mask-image: url('https://simpleicons.org/icons/auth0.svg');
}

/* Authy -> authy.svg */
article a[href*='authy.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/authy.svg');
  mask-image: url('https://simpleicons.org/icons/authy.svg');
}

/* Autodesk -> autodesk.svg */
article a[href*='autodesk.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/autodesk.svg');
  mask-image: url('https://simpleicons.org/icons/autodesk.svg');
}

/* AutoHotkey -> autohotkey.svg */
article a[href*='autohotkey.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/autohotkey.svg');
  mask-image: url('https://simpleicons.org/icons/autohotkey.svg');
}

/* Automattic -> automattic.svg */
article a[href*='automattic.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/automattic.svg');
  mask-image: url('https://simpleicons.org/icons/automattic.svg');
}

/* Autoprefixer -> autoprefixer.svg */
article a[href*='autoprefixer.github.io']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/autoprefixer.svg');
  mask-image: url('https://simpleicons.org/icons/autoprefixer.svg');
}

/* avajs -> avajs.svg */
article a[href*='avajs.dev']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/avajs.svg');
  mask-image: url('https://simpleicons.org/icons/avajs.svg');
}

/* Avast -> avast.svg */
article a[href*='avast.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/avast.svg');
  mask-image: url('https://simpleicons.org/icons/avast.svg');
}

/* Awesome Lists -> awesomelists.svg */
article a[href*='github.com/sindresorhus/awesome']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/awesomelists.svg');
  mask-image: url('https://simpleicons.org/icons/awesomelists.svg');
}

/* awesomeWM -> awesomewm.svg */
article a[href*='awesomewm.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/awesomewm.svg');
  mask-image: url('https://simpleicons.org/icons/awesomewm.svg');
}

/* AWS Amplify -> awsamplify.svg */
article a[href*='aws-amplify.github.io']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/awsamplify.svg');
  mask-image: url('https://simpleicons.org/icons/awsamplify.svg');
}

/* AWS Fargate -> awsfargate.svg */
article a[href*='aws.amazon.com/fargate']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/awsfargate.svg');
  mask-image: url('https://simpleicons.org/icons/awsfargate.svg');
}

/* AWS Lambda -> awslambda.svg */
article a[href*='aws.amazon.com/lambda']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/awslambda.svg');
  mask-image: url('https://simpleicons.org/icons/awslambda.svg');
}

/* Axios -> axios.svg */
article a[href*='axios-http.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/axios.svg');
  mask-image: url('https://simpleicons.org/icons/axios.svg');
}

/* Azure Artifacts -> azureartifacts.svg */
article a[href*='azure.microsoft.com/en-us/services/devops/artifacts']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/azureartifacts.svg');
  mask-image: url('https://simpleicons.org/icons/azureartifacts.svg');
}

/* Azure Data Explorer -> azuredataexplorer.svg */
article a[href*='azure.microsoft.com/en-us/services/data-explorer']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/azuredataexplorer.svg');
  mask-image: url('https://simpleicons.org/icons/azuredataexplorer.svg');
}

/* Azure DevOps -> azuredevops.svg */
article a[href*='azure.microsoft.com/en-us/services/devops']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/azuredevops.svg');
  mask-image: url('https://simpleicons.org/icons/azuredevops.svg');
}

/* Azure Functions -> azurefunctions.svg */
article a[href*='azure.microsoft.com/en-us/services/functions']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/azurefunctions.svg');
  mask-image: url('https://simpleicons.org/icons/azurefunctions.svg');
}

/* Azure Pipelines -> azurepipelines.svg */
article a[href*='azure.microsoft.com/en-us/services/devops/pipelines']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/azurepipelines.svg');
  mask-image: url('https://simpleicons.org/icons/azurepipelines.svg');
}
