/* B&R Automation -> bandrautomation.svg */
article a[href*='br-automation.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/bandrautomation.svg');
  mask-image: url('https://simpleicons.org/icons/bandrautomation.svg');
}

/* Babel -> babel.svg */
article a[href*='babeljs.io']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/babel.svg');
  mask-image: url('https://simpleicons.org/icons/babel.svg');
}

/* Backblaze -> backblaze.svg */
article a[href*='backblaze.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/backblaze.svg');
  mask-image: url('https://simpleicons.org/icons/backblaze.svg');
}

/* Backbone.js -> backbonedotjs.svg */
article a[href*='backbonejs.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/backbonedotjs.svg');
  mask-image: url('https://simpleicons.org/icons/backbonedotjs.svg');
}

/* Backendless -> backendless.svg */
article a[href*='backendless.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/backendless.svg');
  mask-image: url('https://simpleicons.org/icons/backendless.svg');
}

/* Backstage -> backstage.svg */
article a[href*='backstage.io']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/backstage.svg');
  mask-image: url('https://simpleicons.org/icons/backstage.svg');
}

/* Badgr -> badgr.svg */
article a[href*='badgr.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/badgr.svg');
  mask-image: url('https://simpleicons.org/icons/badgr.svg');
}

/* Badoo -> badoo.svg */
article a[href*='badoo.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/badoo.svg');
  mask-image: url('https://simpleicons.org/icons/badoo.svg');
}

/* Baidu -> baidu.svg */
article a[href*='baidu.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/baidu.svg');
  mask-image: url('https://simpleicons.org/icons/baidu.svg');
}

/* Bamboo -> bamboo.svg */
article a[href*='atlassian.com/software/bamboo']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/bamboo.svg');
  mask-image: url('https://simpleicons.org/icons/bamboo.svg');
}

/* Bandcamp -> bandcamp.svg */
article a[href*='bandcamp.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/bandcamp.svg');
  mask-image: url('https://simpleicons.org/icons/bandcamp.svg');
}

/* BandLab -> bandlab.svg */
article a[href*='bandlab.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/bandlab.svg');
  mask-image: url('https://simpleicons.org/icons/bandlab.svg');
}

/* Bandsintown -> bandsintown.svg */
article a[href*='bandsintown.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/bandsintown.svg');
  mask-image: url('https://simpleicons.org/icons/bandsintown.svg');
}

/* Bank of America -> bankofamerica.svg */
article a[href*='bankofamerica.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/bankofamerica.svg');
  mask-image: url('https://simpleicons.org/icons/bankofamerica.svg');
}

/* Barclays -> barclays.svg */
article a[href*='barclays.co.uk']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/barclays.svg');
  mask-image: url('https://simpleicons.org/icons/barclays.svg');
}

/* Baremetrics -> baremetrics.svg */
article a[href*='baremetrics.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/baremetrics.svg');
  mask-image: url('https://simpleicons.org/icons/baremetrics.svg');
}

/* Basecamp -> basecamp.svg */
article a[href*='basecamp.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/basecamp.svg');
  mask-image: url('https://simpleicons.org/icons/basecamp.svg');
}

/* Bastyon -> bastyon.svg */
article a[href*='bastyon.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/bastyon.svg');
  mask-image: url('https://simpleicons.org/icons/bastyon.svg');
}

/* Bata -> bata.svg */
article a[href*='bata.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/bata.svg');
  mask-image: url('https://simpleicons.org/icons/bata.svg');
}

/* Bath ASU -> bathasu.svg */
article a[href*='bathasu.co.uk']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/bathasu.svg');
  mask-image: url('https://simpleicons.org/icons/bathasu.svg');
}

/* Battle.net -> battledotnet.svg */
article a[href*='battle.net']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/battledotnet.svg');
  mask-image: url('https://simpleicons.org/icons/battledotnet.svg');
}

/* BBC -> bbc.svg */
article a[href*='bbc.co.uk']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/bbc.svg');
  mask-image: url('https://simpleicons.org/icons/bbc.svg');
}

/* BBC iPlayer -> bbciplayer.svg */
article a[href*='bbc.co.uk/iplayer']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/bbciplayer.svg');
  mask-image: url('https://simpleicons.org/icons/bbciplayer.svg');
}

/* Beatport -> beatport.svg */
article a[href*='beatport.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/beatport.svg');
  mask-image: url('https://simpleicons.org/icons/beatport.svg');
}

/* Beats -> beats.svg */
article a[href*='beatsbydre.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/beats.svg');
  mask-image: url('https://simpleicons.org/icons/beats.svg');
}

/* Beats by Dre -> beatsbydre.svg */
article a[href*='beatsbydre.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/beatsbydre.svg');
  mask-image: url('https://simpleicons.org/icons/beatsbydre.svg');
}

/* Behance -> behance.svg */
article a[href*='behance.net']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/behance.svg');
  mask-image: url('https://simpleicons.org/icons/behance.svg');
}

/* Beijing Subway -> beijingsubway.svg */
article a[href*='beijing-subway.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/beijingsubway.svg');
  mask-image: url('https://simpleicons.org/icons/beijingsubway.svg');
}

/* BEM -> bem.svg */
article a[href*='bem.info']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/bem.svg');
  mask-image: url('https://simpleicons.org/icons/bem.svg');
}

/* Bentley -> bentley.svg */
article a[href*='bentleymotors.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/bentley.svg');
  mask-image: url('https://simpleicons.org/icons/bentley.svg');
}

/* Betfair -> betfair.svg */
article a[href*='betfair.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/betfair.svg');
  mask-image: url('https://simpleicons.org/icons/betfair.svg');
}

/* Big Cartel -> bigcartel.svg */
article a[href*='bigcartel.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/bigcartel.svg');
  mask-image: url('https://simpleicons.org/icons/bigcartel.svg');
}

/* bigbasket -> bigbasket.svg */
article a[href*='bigbasket.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/bigbasket.svg');
  mask-image: url('https://simpleicons.org/icons/bigbasket.svg');
}

/* BigBlueButton -> bigbluebutton.svg */
article a[href*='bigbluebutton.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/bigbluebutton.svg');
  mask-image: url('https://simpleicons.org/icons/bigbluebutton.svg');
}

/* BigCommerce -> bigcommerce.svg */
article a[href*='bigcommerce.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/bigcommerce.svg');
  mask-image: url('https://simpleicons.org/icons/bigcommerce.svg');
}

/* Bilibili -> bilibili.svg */
article a[href*='bilibili.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/bilibili.svg');
  mask-image: url('https://simpleicons.org/icons/bilibili.svg');
}

/* Billboard -> billboard.svg */
article a[href*='billboard.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/billboard.svg');
  mask-image: url('https://simpleicons.org/icons/billboard.svg');
}

/* BIM -> bim.svg */
article a[href*='bimobject.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/bim.svg');
  mask-image: url('https://simpleicons.org/icons/bim.svg');
}

/* Binance -> binance.svg */
article a[href*='binance.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/binance.svg');
  mask-image: url('https://simpleicons.org/icons/binance.svg');
}

/* Bio Link -> biolink.svg */
article a[href*='biolink.bio']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/biolink.svg');
  mask-image: url('https://simpleicons.org/icons/biolink.svg');
}

/* Bit -> bit.svg */
article a[href*='bit.dev']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/bit.svg');
  mask-image: url('https://simpleicons.org/icons/bit.svg');
}

/* Bitbucket -> bitbucket.svg */
article a[href*='bitbucket.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/bitbucket.svg');
  mask-image: url('https://simpleicons.org/icons/bitbucket.svg');
}

/* Bitcoin -> bitcoin.svg */
article a[href*='bitcoin.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/bitcoin.svg');
  mask-image: url('https://simpleicons.org/icons/bitcoin.svg');
}

/* Bitcoin Cash -> bitcoincash.svg */
article a[href*='bitcoincash.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/bitcoincash.svg');
  mask-image: url('https://simpleicons.org/icons/bitcoincash.svg');
}

/* Bitcoin SV -> bitcoinsv.svg */
article a[href*='bitcoinsv.io']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/bitcoinsv.svg');
  mask-image: url('https://simpleicons.org/icons/bitcoinsv.svg');
}

/* Bitdefender -> bitdefender.svg */
article a[href*='bitdefender.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/bitdefender.svg');
  mask-image: url('https://simpleicons.org/icons/bitdefender.svg');
}

/* Bitly -> bitly.svg */
article a[href*='bitly.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/bitly.svg');
  mask-image: url('https://simpleicons.org/icons/bitly.svg');
}

/* Bitrise -> bitrise.svg */
article a[href*='bitrise.io']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/bitrise.svg');
  mask-image: url('https://simpleicons.org/icons/bitrise.svg');
}

/* Bitwarden -> bitwarden.svg */
article a[href*='bitwarden.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/bitwarden.svg');
  mask-image: url('https://simpleicons.org/icons/bitwarden.svg');
}

/* Bitwig -> bitwig.svg */
article a[href*='bitwig.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/bitwig.svg');
  mask-image: url('https://simpleicons.org/icons/bitwig.svg');
}

/* Blackberry -> blackberry.svg */
article a[href*='blackberry.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/blackberry.svg');
  mask-image: url('https://simpleicons.org/icons/blackberry.svg');
}

/* Blazemeter -> blazemeter.svg */
article a[href*='blazemeter.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/blazemeter.svg');
  mask-image: url('https://simpleicons.org/icons/blazemeter.svg');
}

/* Blazor -> blazor.svg */
article a[href*='blazor.net']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/blazor.svg');
  mask-image: url('https://simpleicons.org/icons/blazor.svg');
}

/* Blender -> blender.svg */
article a[href*='blender.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/blender.svg');
  mask-image: url('https://simpleicons.org/icons/blender.svg');
}

/* Blockchain.com -> blockchaindotcom.svg */
article a[href*='blockchain.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/blockchaindotcom.svg');
  mask-image: url('https://simpleicons.org/icons/blockchaindotcom.svg');
}

/* Blogger -> blogger.svg */
article a[href*='blogger.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/blogger.svg');
  mask-image: url('https://simpleicons.org/icons/blogger.svg');
}

/* Bloglovin -> bloglovin.svg */
article a[href*='bloglovin.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/bloglovin.svg');
  mask-image: url('https://simpleicons.org/icons/bloglovin.svg');
}

/* Blueprint -> blueprint.svg */
article a[href*='blueprintjs.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/blueprint.svg');
  mask-image: url('https://simpleicons.org/icons/blueprint.svg');
}

/* Bluetooth -> bluetooth.svg */
article a[href*='bluetooth.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/bluetooth.svg');
  mask-image: url('https://simpleicons.org/icons/bluetooth.svg');
}

/* BMC Software -> bmcsoftware.svg */
article a[href*='bmc.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/bmcsoftware.svg');
  mask-image: url('https://simpleicons.org/icons/bmcsoftware.svg');
}

/* BMW -> bmw.svg */
article a[href*='bmw.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/bmw.svg');
  mask-image: url('https://simpleicons.org/icons/bmw.svg');
}

/* Boehringer Ingelheim -> boehringeringelheim.svg */
article a[href*='boehringer-ingelheim.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/boehringeringelheim.svg');
  mask-image: url('https://simpleicons.org/icons/boehringeringelheim.svg');
}

/* Boeing -> boeing.svg */
article a[href*='boeing.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/boeing.svg');
  mask-image: url('https://simpleicons.org/icons/boeing.svg');
}

/* Bookalope -> bookalope.svg */
article a[href*='bookalope.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/bookalope.svg');
  mask-image: url('https://simpleicons.org/icons/bookalope.svg');
}

/* BookBub -> bookbub.svg */
article a[href*='bookbub.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/bookbub.svg');
  mask-image: url('https://simpleicons.org/icons/bookbub.svg');
}

/* Bookmeter -> bookmeter.svg */
article a[href*='bookmeter.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/bookmeter.svg');
  mask-image: url('https://simpleicons.org/icons/bookmeter.svg');
}

/* BookMyShow -> bookmyshow.svg */
article a[href*='bookmyshow.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/bookmyshow.svg');
  mask-image: url('https://simpleicons.org/icons/bookmyshow.svg');
}

/* BookStack -> bookstack.svg */
article a[href*='bookstackapp.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/bookstack.svg');
  mask-image: url('https://simpleicons.org/icons/bookstack.svg');
}

/* Boost -> boost.svg */
article a[href*='boost.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/boost.svg');
  mask-image: url('https://simpleicons.org/icons/boost.svg');
}

/* Boots -> boots.svg */
article a[href*='boots.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/boots.svg');
  mask-image: url('https://simpleicons.org/icons/boots.svg');
}

/* Bootstrap -> bootstrap.svg */
article a[href*='getbootstrap.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/bootstrap.svg');
  mask-image: url('https://simpleicons.org/icons/bootstrap.svg');
}

/* BorgBackup -> borgbackup.svg */
article a[href*='borgbackup.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/borgbackup.svg');
  mask-image: url('https://simpleicons.org/icons/borgbackup.svg');
}

/* Bosch -> bosch.svg */
article a[href*='bosch.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/bosch.svg');
  mask-image: url('https://simpleicons.org/icons/bosch.svg');
}

/* Bose -> bose.svg */
article a[href*='bose.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/bose.svg');
  mask-image: url('https://simpleicons.org/icons/bose.svg');
}

/* boulanger -> boulanger.svg */
article a[href*='boulanger.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/boulanger.svg');
  mask-image: url('https://simpleicons.org/icons/boulanger.svg');
}

/* Bower -> bower.svg */
article a[href*='bower.io']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/bower.svg');
  mask-image: url('https://simpleicons.org/icons/bower.svg');
}

/* Box -> box.svg */
article a[href*='box.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/box.svg');
  mask-image: url('https://simpleicons.org/icons/box.svg');
}

/* Boxy SVG -> boxysvg.svg */
article a[href*='boxysvg.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/boxysvg.svg');
  mask-image: url('https://simpleicons.org/icons/boxysvg.svg');
}

/* Brandfolder -> brandfolder.svg */
article a[href*='brandfolder.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/brandfolder.svg');
  mask-image: url('https://simpleicons.org/icons/brandfolder.svg');
}

/* Brave -> brave.svg */
article a[href*='brave.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/brave.svg');
  mask-image: url('https://simpleicons.org/icons/brave.svg');
}

/* Breaker -> breaker.svg */
article a[href*='breaker.audio']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/breaker.svg');
  mask-image: url('https://simpleicons.org/icons/breaker.svg');
}

/* British Airways -> britishairways.svg */
article a[href*='britishairways.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/britishairways.svg');
  mask-image: url('https://simpleicons.org/icons/britishairways.svg');
}

/* Broadcom -> broadcom.svg */
article a[href*='broadcom.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/broadcom.svg');
  mask-image: url('https://simpleicons.org/icons/broadcom.svg');
}

/* BT -> bt.svg */
article a[href*='bt.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/bt.svg');
  mask-image: url('https://simpleicons.org/icons/bt.svg');
}

/* Buddy -> buddy.svg */
article a[href*='buddy.works']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/buddy.svg');
  mask-image: url('https://simpleicons.org/icons/buddy.svg');
}

/* Budibase -> budibase.svg */
article a[href*='budibase.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/budibase.svg');
  mask-image: url('https://simpleicons.org/icons/budibase.svg');
}

/* Buefy -> buefy.svg */
article a[href*='buefy.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/buefy.svg');
  mask-image: url('https://simpleicons.org/icons/buefy.svg');
}

/* Buffer -> buffer.svg */
article a[href*='buffer.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/buffer.svg');
  mask-image: url('https://simpleicons.org/icons/buffer.svg');
}

/* Bugatti -> bugatti.svg */
article a[href*='bugatti.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/bugatti.svg');
  mask-image: url('https://simpleicons.org/icons/bugatti.svg');
}

/* Bugcrowd -> bugcrowd.svg */
article a[href*='bugcrowd.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/bugcrowd.svg');
  mask-image: url('https://simpleicons.org/icons/bugcrowd.svg');
}

/* Bugsnag -> bugsnag.svg */
article a[href*='bugsnag.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/bugsnag.svg');
  mask-image: url('https://simpleicons.org/icons/bugsnag.svg');
}

/* Buildkite -> buildkite.svg */
article a[href*='buildkite.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/buildkite.svg');
  mask-image: url('https://simpleicons.org/icons/buildkite.svg');
}

/* Bukalapak -> bukalapak.svg */
article a[href*='bukalapak.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/bukalapak.svg');
  mask-image: url('https://simpleicons.org/icons/bukalapak.svg');
}

/* Bulma -> bulma.svg */
article a[href*='bulma.io']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/bulma.svg');
  mask-image: url('https://simpleicons.org/icons/bulma.svg');
}

/* Bun -> bun.svg */
article a[href*='bunq.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/bun.svg');
  mask-image: url('https://simpleicons.org/icons/bun.svg');
}

/* bunq -> bunq.svg */
article a[href*='bunq.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/bunq.svg');
  mask-image: url('https://simpleicons.org/icons/bunq.svg');
}

/* Burger King -> burgerking.svg */
article a[href*='burgerking.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/burgerking.svg');
  mask-image: url('https://simpleicons.org/icons/burgerking.svg');
}

/* Burton -> burton.svg */
article a[href*='burton.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/burton.svg');
  mask-image: url('https://simpleicons.org/icons/burton.svg');
}

/* Buy Me A Coffee -> buymeacoffee.svg */
article a[href*='buymeacoffee.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/buymeacoffee.svg');
  mask-image: url('https://simpleicons.org/icons/buymeacoffee.svg');
}

/* BuzzFeed -> buzzfeed.svg */
article a[href*='buzzfeed.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/buzzfeed.svg');
  mask-image: url('https://simpleicons.org/icons/buzzfeed.svg');
}

/* Byju's -> byjus.svg */
article a[href*='byjus.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/byjus.svg');
  mask-image: url('https://simpleicons.org/icons/byjus.svg');
}

/* byte -> byte.svg */
article a[href*='byte.co']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/byte.svg');
  mask-image: url('https://simpleicons.org/icons/byte.svg');
}

/* ByteDance -> bytedance.svg */
article a[href*='bytedance.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/bytedance.svg');
  mask-image: url('https://simpleicons.org/icons/bytedance.svg');
}
