/* N26 -> n26.svg */
article a[href*='n26.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/n26.svg');
  mask-image: url('https://simpleicons.org/icons/n26.svg');
}

/* Namebase -> namebase.svg */
article a[href*='namebase.io']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/namebase.svg');
  mask-image: url('https://simpleicons.org/icons/namebase.svg');
}

/* Namecheap -> namecheap.svg */
article a[href*='namecheap.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/namecheap.svg');
  mask-image: url('https://simpleicons.org/icons/namecheap.svg');
}

/* Nano -> nano.svg */
article a[href*='nano.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/nano.svg');
  mask-image: url('https://simpleicons.org/icons/nano.svg');
}

/* NASA -> nasa.svg */
article a[href*='nasa.gov']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/nasa.svg');
  mask-image: url('https://simpleicons.org/icons/nasa.svg');
}

/* National Grid -> nationalgrid.svg */
article a[href*='nationalgrid.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/nationalgrid.svg');
  mask-image: url('https://simpleicons.org/icons/nationalgrid.svg');
}

/* NativeScript -> nativescript.svg */
article a[href*='nativescript.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/nativescript.svg');
  mask-image: url('https://simpleicons.org/icons/nativescript.svg');
}

/* Naver -> naver.svg */
article a[href*='naver.com']::before,
article a[href*='navercorp.com']::before,
article a[href*='naverlabs.com']::before,
article a[href*='ncloud.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/naver.svg');
  mask-image: url('https://simpleicons.org/icons/naver.svg');
}

/* NBA -> nba.svg */
article a[href*='nba.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/nba.svg');
  mask-image: url('https://simpleicons.org/icons/nba.svg');
}

/* NBB -> nbb.svg */
article a[href*='nbb.rs']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/nbb.svg');
  mask-image: url('https://simpleicons.org/icons/nbb.svg');
}

/* NDR -> ndr.svg */
article a[href*='ndr.de']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/ndr.svg');
  mask-image: url('https://simpleicons.org/icons/ndr.svg');
}

/* NEC -> nec.svg */
article a[href*='nec.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/nec.svg');
  mask-image: url('https://simpleicons.org/icons/nec.svg');
}

/* Neo4j -> neo4j.svg */
article a[href*='neo4j.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/neo4j.svg');
  mask-image: url('https://simpleicons.org/icons/neo4j.svg');
}

/* Neovim -> neovim.svg */
article a[href*='neovim.io']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/neovim.svg');
  mask-image: url('https://simpleicons.org/icons/neovim.svg');
}

/* NestJS -> nestjs.svg */
article a[href*='nestjs.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/nestjs.svg');
  mask-image: url('https://simpleicons.org/icons/nestjs.svg');
}

/* NetApp -> netapp.svg */
article a[href*='netapp.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/netapp.svg');
  mask-image: url('https://simpleicons.org/icons/netapp.svg');
}

/* NetBSD -> netbsd.svg */
article a[href*='netbsd.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/netbsd.svg');
  mask-image: url('https://simpleicons.org/icons/netbsd.svg');
}

/* Netflix -> netflix.svg */
article a[href*='netflix.com']::before,
article a[href*='netflix.net']::before,
article a[href*='netflix.org']::before,
article a[href*='netflixtechblog.com']::before,
article a[href*='netflixtechblog.medium.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/netflix.svg');
  mask-image: url('https://simpleicons.org/icons/netflix.svg');
}

/* Netlify -> netlify.svg */
article a[href*='netlify.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/netlify.svg');
  mask-image: url('https://simpleicons.org/icons/netlify.svg');
}

/* Nette -> nette.svg */
article a[href*='nette.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/nette.svg');
  mask-image: url('https://simpleicons.org/icons/nette.svg');
}

/* Netto -> netto.svg */
article a[href*='netto-online.de']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/netto.svg');
  mask-image: url('https://simpleicons.org/icons/netto.svg');
}

/* Neutralinojs -> neutralinojs.svg */
article a[href*='neutralino.js.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/neutralinojs.svg');
  mask-image: url('https://simpleicons.org/icons/neutralinojs.svg');
}

/* New Balance -> newbalance.svg */
article a[href*='newbalance.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/newbalance.svg');
  mask-image: url('https://simpleicons.org/icons/newbalance.svg');
}

/* New Japan Pro-Wrestling -> newjapanprowrestling.svg */
article a[href*='njpwworld.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/newjapanprowrestling.svg');
  mask-image: url('https://simpleicons.org/icons/newjapanprowrestling.svg');
}

/* New Relic -> newrelic.svg */
article a[href*='newrelic.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/newrelic.svg');
  mask-image: url('https://simpleicons.org/icons/newrelic.svg');
}

/* New York Times -> newyorktimes.svg */
article a[href*='nytimes.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/newyorktimes.svg');
  mask-image: url('https://simpleicons.org/icons/newyorktimes.svg');
}

/* Next.js -> nextdotjs.svg */
article a[href*='nextjs.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/nextdotjs.svg');
  mask-image: url('https://simpleicons.org/icons/nextdotjs.svg');
}

/* NextBillion.ai -> nextbilliondotai.svg */
article a[href*='nextbillion.ai']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/nextbilliondotai.svg');
  mask-image: url('https://simpleicons.org/icons/nextbilliondotai.svg');
}

/* Nextcloud -> nextcloud.svg */
article a[href*='nextcloud.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/nextcloud.svg');
  mask-image: url('https://simpleicons.org/icons/nextcloud.svg');
}

/* Nextdoor -> nextdoor.svg */
article a[href*='nextdoor.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/nextdoor.svg');
  mask-image: url('https://simpleicons.org/icons/nextdoor.svg');
}

/* NFC -> nfc.svg */
article a[href*='nfc-forum.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/nfc.svg');
  mask-image: url('https://simpleicons.org/icons/nfc.svg');
}

/* NGINX -> nginx.svg */
article a[href*='nginx.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/nginx.svg');
  mask-image: url('https://simpleicons.org/icons/nginx.svg');
}

/* ngrok -> ngrok.svg */
article a[href*='ngrok.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/ngrok.svg');
  mask-image: url('https://simpleicons.org/icons/ngrok.svg');
}

/* niconico -> niconico.svg */
article a[href*='niconico.jp']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/niconico.svg');
  mask-image: url('https://simpleicons.org/icons/niconico.svg');
}

/* Nike -> nike.svg */
article a[href*='nike.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/nike.svg');
  mask-image: url('https://simpleicons.org/icons/nike.svg');
}

/* Nim -> nim.svg */
article a[href*='nim-lang.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/nim.svg');
  mask-image: url('https://simpleicons.org/icons/nim.svg');
}

/* Nintendo -> nintendo.svg */
article a[href*='nintendo.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/nintendo.svg');
  mask-image: url('https://simpleicons.org/icons/nintendo.svg');
}

/* Nintendo 3DS -> nintendo3ds.svg */
article a[href*='nintendo.com/3ds']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/nintendo3ds.svg');
  mask-image: url('https://simpleicons.org/icons/nintendo3ds.svg');
}

/* Nintendo GameCube -> nintendogamecube.svg */
article a[href*='nintendo.com/gamecube']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/nintendogamecube.svg');
  mask-image: url('https://simpleicons.org/icons/nintendogamecube.svg');
}

/* Nintendo Network -> nintendonetwork.svg */
article a[href*='nintendo.com/network']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/nintendonetwork.svg');
  mask-image: url('https://simpleicons.org/icons/nintendonetwork.svg');
}

/* Nintendo Switch -> nintendoswitch.svg */
article a[href*='nintendo.com/switch']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/nintendoswitch.svg');
  mask-image: url('https://simpleicons.org/icons/nintendoswitch.svg');
}

/* Nissan -> nissan.svg */
article a[href*='nissan.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/nissan.svg');
  mask-image: url('https://simpleicons.org/icons/nissan.svg');
}

/* NixOS -> nixos.svg */
article a[href*='nixos.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/nixos.svg');
  mask-image: url('https://simpleicons.org/icons/nixos.svg');
}

/* Node-RED -> nodered.svg */
article a[href*='nodered.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/nodered.svg');
  mask-image: url('https://simpleicons.org/icons/nodered.svg');
}

/* Node.js -> nodedotjs.svg */
article a[href*='nodejs.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/nodedotjs.svg');
  mask-image: url('https://simpleicons.org/icons/nodedotjs.svg');
}

/* Nodemon -> nodemon.svg */
article a[href*='nodemon.io']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/nodemon.svg');
  mask-image: url('https://simpleicons.org/icons/nodemon.svg');
}

/* Nokia -> nokia.svg */
article a[href*='nokia.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/nokia.svg');
  mask-image: url('https://simpleicons.org/icons/nokia.svg');
}

/* Norco -> norco.svg */
article a[href*='norco.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/norco.svg');
  mask-image: url('https://simpleicons.org/icons/norco.svg');
}

/* NordVPN -> nordvpn.svg */
article a[href*='nordvpn.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/nordvpn.svg');
  mask-image: url('https://simpleicons.org/icons/nordvpn.svg');
}

/* Norwegian -> norwegian.svg */
article a[href*='norwegian.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/norwegian.svg');
  mask-image: url('https://simpleicons.org/icons/norwegian.svg');
}

/* Notepad++ -> notepadplusplus.svg */
article a[href*='notepad-plus-plus.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/notepadplusplus.svg');
  mask-image: url('https://simpleicons.org/icons/notepadplusplus.svg');
}

/* Notion -> notion.svg */

article a[href*='notion.so']::before,
article a[href*='notion.site']::before,
article a[href*='super.so']::before,
article a[href*='oopy.io']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/notion.svg');
  mask-image: url('https://simpleicons.org/icons/notion.svg');
}

/* Notist -> notist.svg */
article a[href*='notist.io']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/notist.svg');
  mask-image: url('https://simpleicons.org/icons/notist.svg');
}

/* Noun Project -> nounproject.svg */
article a[href*='thenounproject.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/nounproject.svg');
  mask-image: url('https://simpleicons.org/icons/nounproject.svg');
}

/* NOW -> now.svg */
article a[href*='zeit.co/now']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/now.svg');
  mask-image: url('https://simpleicons.org/icons/now.svg');
}

/* npm -> npm.svg */
article a[href*='npmjs.com']::before,
article a[href*='npmjs.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/npm.svg');
  mask-image: url('https://simpleicons.org/icons/npm.svg');
}

/* Nrwl -> nrwl.svg */
article a[href*='nrwl.io']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/nrwl.svg');
  mask-image: url('https://simpleicons.org/icons/nrwl.svg');
}

/* Nubank -> nubank.svg */
article a[href*='nubank.com.br']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/nubank.svg');
  mask-image: url('https://simpleicons.org/icons/nubank.svg');
}

/* Nucleo -> nucleo.svg */
article a[href*='nucleoapp.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/nucleo.svg');
  mask-image: url('https://simpleicons.org/icons/nucleo.svg');
}

/* NuGet -> nuget.svg */
article a[href*='nuget.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/nuget.svg');
  mask-image: url('https://simpleicons.org/icons/nuget.svg');
}

/* Nuke -> nuke.svg */
article a[href*='nuke.build']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/nuke.svg');
  mask-image: url('https://simpleicons.org/icons/nuke.svg');
}

/* Numba -> numba.svg */
article a[href*='numba.pydata.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/numba.svg');
  mask-image: url('https://simpleicons.org/icons/numba.svg');
}

/* NumPy -> numpy.svg */
article a[href*='numpy.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/numpy.svg');
  mask-image: url('https://simpleicons.org/icons/numpy.svg');
}

/* Nunjucks -> nunjucks.svg */
article a[href*='mozilla.github.io/nunjucks']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/nunjucks.svg');
  mask-image: url('https://simpleicons.org/icons/nunjucks.svg');
}

/* Nutanix -> nutanix.svg */
article a[href*='nutanix.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/nutanix.svg');
  mask-image: url('https://simpleicons.org/icons/nutanix.svg');
}

/* Nuxt.js -> nuxtdotjs.svg */
article a[href*='nuxtjs.org']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/nuxtdotjs.svg');
  mask-image: url('https://simpleicons.org/icons/nuxtdotjs.svg');
}

/* NVIDIA -> nvidia.svg */
article a[href*='nvidia.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/nvidia.svg');
  mask-image: url('https://simpleicons.org/icons/nvidia.svg');
}

/* Nx -> nx.svg */
article a[href*='nx.dev']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/nx.svg');
  mask-image: url('https://simpleicons.org/icons/nx.svg');
}

/* NZXT -> nzxt.svg */
article a[href*='nzxt.com']::before {
  -webkit-mask-image: url('https://simpleicons.org/icons/nzxt.svg');
  mask-image: url('https://simpleicons.org/icons/nzxt.svg');
}
